.c7n-deployDetail-log {
  .CodeMirror-selected {
    background-color: rgba(255, 255, 255, .25) !important;
  }

  .CodeMirror {
    // 让高度随内容改变，不会出现纵向滚动条
    height: auto !important;
    font-size: 14px;
    min-height: 500px;
    font-family: Monaco,
    Menlo,
    "Ubuntu Mono",
    Consolas,
    source-code-pro,
    monospace !important;
  }
}
