.c7n-status-failed {
  color: #f44336;
  vertical-align: middle;
}

.c7n-status-text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.c7ncd-status-progress {
  .c7n-progress-inner {
    width: 15px !important;
    height: 15px !important;
  }
}
