.c7ncd-deployment-secret-detail-modal {
  list-style: none;
  margin: 0;
  padding: 0;
}
.c7ncd-deployment-secret-detail-modal .detail-item {
  margin-bottom: .16rem;
  list-style: none;
  font-size: .14rem;
}
.c7ncd-deployment-secret-detail-modal .detail-item-text {
  color: rgba(0, 0, 0, 0.65);
  width: .88rem;
  display: inline-block;
}
.c7ncd-deployment-secret-detail-modal .detail-item-has-url {
  display: flex;
}
.c7ncd-deployment-secret-detail-modal .detail-item-url {
  width: calc(99.12%);
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
}
