.c7ncd-deploy {

  &-content {
    padding-top: 0;

    &-select {
      &-item {
        width: 2.5rem;
        margin: 0 .12rem .12rem 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &-table {

    &-mark {
      display: inline-block;
      width: .16rem;
      height: .16rem;
      margin-right: .04rem;
      line-height: .15rem;
      text-align: center;
      border-radius: 50%;
      font-size: .12rem;

      &-auto {
        color: #ffb100;
        border: 1px solid #ffb100;
      }

      &-manual {
        color: #4d90fe;
        border: 1px solid #4d90fe;
      }
    }
  }
}
