.c7ncd-deploy-table {

  &-number {

    &:hover {
      color: #3f51b5;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &-mark {
    display: inline-block;
    width: .16rem;
    height: .16rem;
    margin-right: .04rem;
    line-height: .15rem;
    text-align: center;
    border-radius: 50%;
    font-size: .12rem;

    &-auto {
      color: #ffb100;
      border: 1px solid #ffb100;
    }

    &-manual {
      color: #4d90fe;
      border: 1px solid #4d90fe;
    }
  }
}
