.c7n-store-content {
  flex-grow: 1;
  overflow: auto;
  padding: 20px 24px;
  margin: 0 !important;
}

.ant-btn-group {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;

  button {
    margin-right: 1px;
  }
}

.c7n-store-search {
  margin-bottom: 24px;

  .ant-input-wrapper {
    width: 100%;
  }

  .ant-input-content {
    width: 50%;
    height: 48px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  }

  input {
    font-size: 14px;
    line-height: 48px;
  }

  .ant-input-prefix {
    background-color: #fff;
    left: 0;
    z-index: 99;
    width: 56px;
    top: 12px;
    text-align: center;

    i {
      font-size: 24px;
      color: black;
    }
  }

  .ant-input-suffix {
    font-size: 14px;
    line-height: 48px;
    padding-right: 10px;
  }

  .ant-input-rendered {
    margin-bottom: 0 !important;
  }

  .ant-input-placeholder {
    z-index: 99;
    font-size: 14px;
    line-height: 48px;
  }

  .ant-input-underline {
    display: none;
  }
}

.c7n-store-card {
  vertical-align: top;
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 16px;
  margin-right: 15px;
  background-color: white;
  height: 190px;
  width: 240px;
  display: inline-block;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;

  &:hover {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .c7n-store-card-icon {
    margin-bottom: 4px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-image: url(../../../../../devops/assets/images/app.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
  }

  .c7n-store-card-name {
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
  }

  .c7n-store-card-source {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.65);
  }

  .c7n-store-card-des {
    font-size: 13px;
    text-align: justify;
    height: 75px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.65);
  }
}

.c7n-tab-active {
  color: #3f51b5;
  background: rgba(140, 158, 255, 0.2);
}

.c7n-store-list-wrap {
  .ant-table-tbody {
    background-color: white;
  }
}

.c7n-store-pagination {
  float: right;
}
