.c7ncd-resource-sidebar {
  .c7ncd-resource-add {
    font-size: .16rem;
    font-weight: 500;
  }

  .c7ncd-resource-mode {
    margin: .2rem 0 .3rem;
  }

  .c7ncd-resource-radio {
    margin-right: .5rem;

    &:first-child {
      margin-left: .1rem;
    }
  }

  .c7ncd-resource-upload-item {
    width: 2rem;

    .c7ncd-upload-disabled,
    .c7ncd-upload-select {
      display: table-cell;
      vertical-align: middle;
      color: #666;
      border: 0.01rem dashed #e0e0e0;
      width: 1.04rem;
      height: 1.04rem;
      border-radius: 0.02rem;
      background-color: rgba(0, 0, 0, 0.04);
      text-align: center;
      cursor: pointer;
      transition: border-color 0.3s ease;
      margin-right: .08rem;
      margin-bottom: .08rem;

      .c7ncd-resource-upload-icon {
        font-size: .3rem;
        font-weight: bold;
      }

      .c7n-resource-upload-text {
        margin-top: .08rem;
      }
    }

    .c7ncd-upload-select:hover {
      border-color: #6374c2;
    }

    .c7ncd-upload-disabled {
      cursor: not-allowed;
    }

    .is-validating.has-feedback .c7n-form-item-children:after {
      display: none;
    }
  }

  .c7n-resource-footer {
    color: #3f51b5;
  }

  .c7ncd-resource-tips {
    color: rgba(0, 0, 0, 0.65);
    margin-top: .1rem;
    display: flex;
    align-items: center;

    .c7ncd-resource-tips-icon {
      color: #f44336;
      margin-right: .1rem;
    }
  }
}
