.version-table-wrap {
  width: 512px;
  margin-bottom: 32px;
}

.c7n-appRelease-hr {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 24px;
  height: 0;
  width: 100%;
}

.release-button-margin {
  margin-right: 12px;
}
