target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.vscode

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
application-default.*
init-local-database.sh
init-database.sh
values_yaml.spec

### macos junk file
.DS_Store

### JRebel
rebel.xml

### liquibase
choerodon_temp/*

### native temp files
deployfile
tmp

### front ###

config-local.js

# npm
node_modules
npm-debug.log
yarn-error.log
yarn-lock.json
package-lock.json
yarn.lock

# folder
dist
lib
