.c7n-node-title {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  line-height: 22px;
  margin-bottom: 24px;
}

.c7n-node-pie {
  display: flex;
  margin-bottom: 28px;

  &-block {
    margin-right: 120px;
  }

  &-percent {
    height: 18px;
    font-size: 12px;
    color: #000;
    margin-left: 80px;
  }

  &-inside-percent {
    font-size: 12px;
    height: 18px;
    color: #000;
    position: relative;
    bottom: 100px;
    text-align: center;
  }

  &-pod-percent {
    font-size: 12px;
    height: 18px;
    color: #000;
    position: relative;
    bottom: 130px;
    text-align: center;
  }

  &-title {
    font-size: 14px;
    color: #000;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    margin: 2px 0 4px 0;
  }

  &-info {
    display: flex;
    align-items: center;
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.65);
    border-bottom: 1px solid #d3d3d3;

    &:last-child {
      border-bottom: none;
    }

    &-span {
      display: block;
      border-radius: 2px;
      width: 10px;
      height: 10px;
      margin-right: 4px;
    }

    .rv {
      background: #00bfa5;
    }

    .lmv {
      background: #57aaf8;
    }

    span:last-child {
      margin-left: auto;
    }
  }
}
