@import '~choerodon-ui/lib/style/themes/default';

@active-color: #5266d4;

.c7ncd-deployment-cases-record {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: .14rem;
  height: .74rem;

  &-arrow {
    margin-top: -0.04rem;

    .icon {
      font-size: .28rem;
    }
  }

  .cases-record-title {
    white-space: nowrap;
    margin-right: .1rem;
  }

  .cases-record-detail {
    display: flex;
    margin: 0 .1rem;
    flex: 1;
    overflow: auto;

    .operation-record-card {
      display: flex;
      flex: 0 0 1.6rem;
      align-items: center;
      flex-direction: column;
      position: relative;
      padding: .07rem 0;
      width: 1.6rem;
      text-align: center;
      cursor: pointer;

      .operation-record-title {
        font-size: .12rem;
      }

      .operation-record-time {
        font-size: .12rem;
        color: rgba(0, 0, 0, 0.65);
        line-height: .2rem;
        transform: scale(0.9);
      }

      .operation-record-step {
        position: relative;
        width: 100%;

        &:before {
          position: absolute;
          left: 0;
          top: 50%;
          height: .02rem;
          width: 100%;
          transform: translateY(-0.01rem);
          background: rgba(0, 0, 0, 0.12);
          content: "";
        }

        .operation-record-icon {
          display: inline-block;
          width: .11rem;
          height: .11rem;
          color: @active-color;
          border: .025rem solid;
          border-radius: 50%;
          background: #fff;
          transform: scale(0.8);
        }
      }

      &-active {
        .operation-record-time,
        .operation-record-title {
          color: @active-color;
        }

        .operation-record-icon {
          background: @active-color !important;
        }
      }
    }
  }
}

.c7ncd-deployment-cases-popover-card {
  padding: .1rem;
  margin: 0;
  list-style: none;

  li {
    margin-bottom: .1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-bottom {
    margin: 0 -0.16rem -0.12rem;
    padding: 0 0.16rem;
    height: .35rem;
    line-height: .34rem;
    border-top: 1px solid #d3d3d3;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
  }
}

.c7ncd-deployment-cases-status {
  &-failed {
    color: #f44336;
    vertical-align: text-bottom;
  }

  &-operating {
    color: #4d90fe;
    vertical-align: text-bottom;
  }

  &-success {
    color: #00bfa5;
    vertical-align: text-bottom;
  }
}
