// pipeline

.c7ncd-pipeline-execute {
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
}

.c7ncd-pipeline-search {
  width: 360px;
  margin: 0 20px 20px 0;

  .c7n-select-selection--multiple .c7n-select-selection__choice {
    background: none;
    padding: 0;
    margin: 0 8px 0 0;

    &:after {
      content: ',';
    }

    &:nth-last-child(2):after {
      content: none;
    }
  }
}
