.c7ncd-deployment-resource-environment .card {
  background: #ffffff;
  box-shadow: 0 0.01rem 0.05rem 0 rgba(0, 0, 0, 0.12), 0 0.02rem 0.02rem 0 rgba(0, 0, 0, 0.14), 0 0.04rem 0.08rem 0 rgba(36, 66, 48, 0.06);
  border-radius: 0.02rem;
  padding: 0.16rem 0.2rem;
  padding-bottom: 0;
}
.c7ncd-deployment-resource-environment .card .card-title {
  height: 0.22rem;
  font-size: 0.16rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #000000;
  line-height: 0.22rem;
}
.c7ncd-deployment-resource-environment .card .card-content {
  padding: 0.24rem 0.2rem;
  padding-bottom: 0;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.c7ncd-deployment-resource-environment .card .card-content-right {
  padding: 0.24rem 0.1rem;
  padding-bottom: 0.08rem;
}
.c7ncd-deployment-resource-environment .card .card-content-right div:last-child {
  padding-right: 0;
}
.c7ncd-deployment-resource-environment .card .card-content .item {
  display: flex;
  width: fit-content;
  align-items: center;
  padding-bottom: .32rem;
  min-width: 1.3rem;
}
.c7ncd-deployment-resource-environment .card .card-content .item-box {
  display: block;
  margin-top: 0.1rem;
  min-width: unset;
}
.c7ncd-deployment-resource-environment .card .card-content .item .icon {
  font-size: 0.24rem;
}
.c7ncd-deployment-resource-environment .card .card-content .item .number {
  height: 0.28rem;
  font-size: 0.2rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #000000;
  line-height: 0.28rem;
  margin-left: 0.27rem;
}
.c7ncd-deployment-resource-environment .card .card-content .item .name {
  height: 0.17rem;
  font-size: 0.12rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  line-height: 0.17rem;
  margin-left: 0.03rem;
}
.c7ncd-deployment-resource-environment .card .card-content .item .top {
  width: 0.4rem;
  height: 0.4rem;
  background: rgba(0, 191, 165, 0.2);
  border-radius: 0.09rem;
  border: 0.02rem solid #00bfa5;
  text-align: center;
  line-height: 0.4rem;
}
.c7ncd-deployment-resource-environment .card .card-content .item .top span {
  width: 0.12rem;
  height: 0.28rem;
  font-size: 0.2rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  color: #00bfa5;
  line-height: 0.28rem;
}
.c7ncd-deployment-resource-environment .card .card-content .item .bottom {
  margin-top: 0.1rem;
  text-align: center;
}
.c7ncd-deployment-resource-environment .card .card-content .item .bottom span {
  height: 0.18rem;
  font-size: 0.13rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #000000;
  line-height: 0.18rem;
}
