.c7n-notifications-sidebar {

  .c7n-form-checkbox {
    padding-top: 20px !important;
    display: flex;
    justify-content: space-between;
    width: 400px;

    .c7n-checkbox-item {
      margin: 0;
    }
  }

  .ant-checkbox-group-wrapper .ant-checkbox-group-label:after,
  .ant-radio-group-wrapper .ant-radio-group-label:after {
    display: inline-block;
    margin-left: 4px;
    content: "*";
    font-family: SimSun;
    line-height: 1;
    font-size: 13px;
    color: #d50000;
  }
}
