.c7n-pipeline-detail {
  .c7ncd-pipeline-detail-select {
    margin-bottom: 32px;
    width: 512px;
  }

  .c7ncd-pipeline-detail-msg {
    margin-bottom: 16px;

    .c7ncd-pipeline-detail-item {
      display: inline-block;
      font-size: 14px;

      &:first-child {
        margin-right: 86px;
      }

      .c7ncd-pipeline-detail-label {
        margin-right: 6px;
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }

  .c7ncd-pipeline-main {
    margin-bottom: 32px;
    padding: 24px 0;
    width: 100%;
    border: 1px solid #e3e3e3;
    background: #fff;
    overflow-x: auto;
    overflow-y: hidden;

    .c7ncd-pipeline-scroll {
      display: inline-flex;
      padding: 0 14px;
      min-width: 100%;
    }
  }

  .c7ncd-pipeline-detail-stage {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 272px;
    padding: 0 5px;
  }
}
