// Sidebar 加载过程中的遮罩
.c7n-sidebar-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 9999;

  &_visible {
    display: block;
  }

  &_hide {
    display: none;
  }
}
