.c7n-app-import-wrap {
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 32px;
}

.steps-line {

  .ant-steps-item-title {
    font-size: 14px;
  }

  .ant-steps-item-process {
    .ant-steps-item-title {
      color: #3f51b5 !important;
      font-weight: 500;
    }
  }
}

.steps-content {
  padding: 32px 36px;

  &-section {
    margin-bottom: 30px;
    max-width: 512px;

    &:last-child {
      margin-bottom: 0;
    }

    .ant-btn-cancel {
      color: #3f51b5;
    }

    button {
      margin-right: 12px;
    }

    .ant-radio-wrapper {
      margin-right: 100px;
    }

    .ant-form-item {
      margin-bottom: 30px;

      .ant-select-dropdown-menu-item {
        span {
          display: inline-block;
          width: 100%;
        }
      }
    }

    .ant-form-item:last-child {
      margin-bottom: 0;
      margin-top: 2px;
    }

    .authority-radio {
      margin: 20px 0 10px 0;

      .ant-radio-group {
        padding-top: 21px !important;
      }
    }

    .tag-title {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 10px;

      i {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.36);
        padding-left: 5px;
        height: 20px;
      }
    }

    .tag-wrap {
      display: flex;
      flex-wrap: wrap;

      .c7n-import-tag {
        line-height: 26px;
        height: 26px;
        font-size: 12px;
        background: rgba(0, 0, 0, 0.04);
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        color: #000;
        margin-right: 12px;
        margin-bottom: 8px;
      }
    }
  }

  &-des {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 20px;
    max-width: 512px;
    margin-bottom: 24px;

    i {
      vertical-align: middle;
      font-size: 16px;
      padding-right: 6px;
      color: #f44336;
    }

    div {
      display: flex;
      align-items: center;
    }
  }
}

.steps-content-list {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 20px;
  margin-bottom: 16px;
  display: flex;

  &-title {
    flex-shrink: 0;
    width: 140px;
    color: #000;
  }
}
