.repo-commit-avatar {
  display: inline-block;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  border: 1px solid;
  border-radius: 50%;
  font-size: 13px;
  text-align: center;
  line-height: 16px;
}

.repo-copy-btn {
  margin-right: 8px;
}
