.c7ncd-appService-detail {
  list-style: none;
  margin: 0;
  padding: 0;
}
.c7ncd-appService-detail .avatar {
  text-align: center;
  margin-bottom: 0.32rem;
}
.c7ncd-appService-detail .detail-item {
  margin-bottom: .16rem;
  list-style: none;
  font-size: .14rem;
}
.c7ncd-appService-detail .detail-item-text {
  color: rgba(0, 0, 0, 0.65);
  width: .88rem;
  min-width: .88rem;
  display: inline-block;
}
.c7ncd-appService-detail .detail-item-has-url {
  display: flex;
}
.c7ncd-appService-detail .detail-item-url {
  width: calc(99.12%);
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.c7ncd-appService-detail .detail-item .status-label {
  width: 0.4rem;
  background: #00bfa5;
  border-radius: 0.02rem;
  text-align: center;
}
.c7ncd-appService-detail .detail-item .status-label-text {
  height: 0.21rem;
  font-size: 0.12rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #ffffff;
  line-height: 0.21rem;
}
