.c7ncd-appService-detail {
    list-style: none;
    margin: 0;
    padding: 0;

    .avatar {
        text-align: center;
        margin-bottom: 0.32rem;
    }

    .detail-item {
        margin-bottom: .16rem;
        list-style: none;
        font-size: .14rem;


        &-text {
            color: rgba(0, 0, 0, 0.65);
            width: .88rem;
            min-width: .88rem;
            display: inline-block;
        }

        &-has-url {
            display: flex;
        }

        &-url {
            width: calc(100% - 0.88rem);
            overflow: hidden;
            word-break: keep-all;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .status-label {
            width: 0.4rem;
            background: rgba(0, 191, 165, 1);
            border-radius: 0.02rem;
            text-align: center;
            &-text {
                height: 0.21rem;
                font-size: 0.12rem;
                font-family: PingFangSC-Medium;
                font-weight: 500;
                color: #ffffff;
                line-height: 0.21rem;
            }
        }
    }
}