$suc: #00bfa5;
$fal: #ff9915;
$FAL_ICON: #f86300;

.c7n-cls-radio {
  margin: 20px 0 10px 0;

  .ant-radio-group {
    padding-top: 21px !important;
  }
}

.c7n-cls-card-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-right: -24px;
}

.c7n-cls-card {
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 250px;
  height: 132px;
  border-bottom: 4px solid $fal;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

  .c7n-cls-card-head {
    display: flex;
    height: 24px;
    background-color: rgba(255, 153, 21, .08);

    .c7n-cls-card-head-state {
      font-weight: 500;
      font-size: 12px;
      color: #fff;
      line-height: 24px;
      display: inline-block;
      width: 52px;
      background-color: $fal;
      padding-left: 10px;
    }

    .c7n-cls-card-head-state_after {
      position: absolute;
      width: 4px;
      height: 0;
      border-top: 24px solid $fal;
      border-right: 4px solid transparent;
    }

    .c7n-cls-card-head-action {
      display: none;
    }
  }

  .c7n-cls-card-content {
    display: flex;

    .c7n-cls-card-state {
      width: 80px;
      padding: 18px 20px 0 20px;

      .c7n-cls-icon-wrap {
        width: 40px;
        height: 40px;
        display: block;
        border-radius: 20px;
        background-color: $fal;
        text-align: center;

        i {
          font-size: 24px;
          line-height: 40px;
          color: #fff;
        }
      }
    }

    .c7n-cls-card-des {
      padding-top: 18px;

      .c7n-cls-card-des-name {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 6px;
      }

      .c7n-cls-card-des-des {
        font-size: 1px;
        color: rgba(0, 0, 0, 0.65);
        line-height: 20px;
        padding-right: 10px;
        height: 40px;
        overflow: hidden;
      }
    }
  }

  &:hover {
    .c7n-cls-card-head-action {
      display: block;
      margin-left: auto;
      padding-top: 1px;

      button {
        width: 22px;
        height: 22px;
        line-height: 22px;
        margin-right: 4px;

        &:hover {
          background-color: rgba(248, 99, 0, 0.2);
        }

        i {
          color: $FAL_ICON;
        }
      }
    }
  }
}

.c7n-cls-card-connect {
  border-bottom: 4px solid $suc;

  .c7n-cls-card-head {
    background-color: rgba(0, 191, 165, 0.08);

    .c7n-cls-card-head-state {
      background-color: $suc;
    }

    .c7n-cls-card-head-state_after {
      border-top: 24px solid $suc;
    }
  }

  .c7n-cls-card-head-action {
    button {
      &:hover {
        background-color: rgba(0, 140, 121, 0.2) !important;
      }

      i {
        color: #008c79 !important;
      }
    }
  }

  .c7n-cls-icon-wrap {
    background-color: $suc !important;
  }
}

.c7n-cls-pagination {
  float: right;
}

.c7n-cls-del-modal {
  width: 608px !important;
}

.c7n-cls-shell-input {
  margin: 8px 0 24px 0;

  input {
    color: rgba(0, 0, 0, 0.54);
  }

  .ant-input-underline {
    border-bottom-style: dashed;
  }
}

.c7n-cluster-notice {
  display: flex;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 8px;

  i {
    font-size: 18px !important;
    line-height: 20px;
    margin-right: 8px;
    color: #f44336;
  }
}
