@import '~choerodon-ui/lib/style/themes/default';

@success: #00bfa5;
@running: #4d90fe;
@pending: #ffb100;
@failed: #f77a70;
@canceled: #d8d8d8;

.c7n-piplineManage-detail-column {
  i {
    display: inline-block;
    &.icon-check_circle {
      color: @success;
    }
    &.icon-timelapse {
      color: @running;
    }
    &.icon-cancel {
      color: @failed;
    }
    &.icon-cancle_b {
      color: @canceled;
    }
    &.icon-skipped_a {
      color: @canceled;
    }
    &.icon-adjust {
      color: @canceled;
    }
  }
}
