.c7n-deploy-square {
  background: rgba(0, 0, 0, 0.36);
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
  line-height: 14px;
  padding: 1px;
  margin-right: 8px;
  display: inline-block;
  width: 25px;
  text-align: center;

  div {
    transform: scale(0.8);
  }
}

.c7n-deploy-circle {
  background: rgb(255, 177, 0);
  height: 16px;
  width: 16px;
  font-size: 10px;
  color: #fff;
  line-height: 16px;
  text-align: center;
  padding: 1px;
  border-radius: 50%;
  margin: 0 8px;
  display: inline-block;
}

.c7n-icon-publish {
  font-size: 16px;
  vertical-align: sub;
  margin-right: 2px;

  &+div {
    display: inline-block;
    vertical-align: middle;
  }
}

.c7n-deploy-circle-only {
  background: rgb(255, 177, 0);
  height: 16px;
  width: 16px;
  font-size: 10px;
  color: #fff;
  line-height: 16px;
  text-align: center;
  padding: 1px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
}

.c7n-deploy-text_gray {
  color: rgba(0, 0, 0, 0.36);
}

.c7n-deploy-muti_card {
  text-align: left;
  display: flex;
  align-items: center;
  width: 206px;
  height: 28px;
  background: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  padding: 0 8px;

  .c7n-deploy-istname {
    width: 160px;
  }

  .c7n-multi-ist {
    background-color: rgba(0, 0, 0, 0.08);
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    width: 16px;
    height: 16px;
    align-items: center;
    margin-right: 4px;

    div {
      transform: scale(0.8);
    }
  }

  button {
    flex-shrink: 0;
  }

  button+div {
    width: 100%;
  }
}

.c7n-deploy-last {
  align-items: center;
  display: flex;

  .c7n-btn {
    font-size: 18px;
    line-height: 20px;
    margin-left: 8px;
    width: 20px;
    height: 20px;
  }
}

.last_177 {
  width: 177px;

  div {
    width: 100%;
  }
}

.no-value {
  .c7n-table-scroll {
    height: 68px;
  }

  .c7n-table-tbody {
    height: 30px;
    display: inline-block;
  }

  .c7n-table-body {
    overflow-x: scroll !important;
  }

  .c7n-table-placeholder {
    margin-top: -38px;
  }
}

.c7n-multi-table {
  .c7n-table-fixed-left {

    .c7n-table-thead>tr>th,
    .c7n-table-tbody>tr>td {
      padding: 5px 12px !important;
    }
  }

  .c7n-table-thead>tr>th,
  .c7n-table-tbody>tr>td {
    vertical-align: baseline;
    padding: 5px 12px;
  }

  .c7n-table-thead>tr>th:last-child,
  .c7n-table-tbody>tr>td:last-child {
    padding: 0;
  }

  tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.03);
  }
}

.c7n-deploy-single_card {
  cursor: pointer;
  text-align: left;
  padding: 6px 8px 6px 8px;
  align-items: center;
  margin-right: 12px;
  margin-bottom: 10px;
  display: inline-flex;
  width: 198px;
  height: 28px;
  background: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;

  &:hover {
    .c7n-deploy-icon {
      display: flex;
      color: #000;
      margin-left: auto;
      font-size: 18px;
      line-height: 20px;
      cursor: pointer;
    }
  }

  .c7n-deploy-icon {
    display: none;
  }

  .c7n-deploy-circle {
    margin-left: 0;
  }
}

.c7n-deploy-single_card-active {
  background-color: rgba(140, 158, 255, 0.2);
  color: #3f51b5;

  .c7n-deploy-square {
    background-color: rgba(63, 81, 181, 0.8);
    color: white;
  }
}

.c7n-app-select {
  width: 512px;
  margin-bottom: 32px;
  margin-right: 20px;
}

.c7n-app-select_180 {
  width: 180px;
  margin-bottom: 32px;
  margin-right: 20px;
}

.c7n-app-select_220 {
  width: 220px;
  margin-bottom: 32px;
  margin-right: 20px;
}

.c7n-app-select_312 {
  width: 312px;
  margin-bottom: 32px;
  margin-right: 20px;
}

.c7n-app-card {
  cursor: pointer;
  background: #fff;
  display: flex;
  line-height: 82px;
  width: 184px;
  height: 79px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    .c7n-env-deploy-icon {
      display: flex;
      color: #000;
      margin-left: auto;
      font-size: 18px;
      line-height: 20px;
      margin-right: 6px;
    }
  }

  .c7n-env-deploy-icon {
    display: none;
  }
}

.c7n-app-card-active {
  background: #fff;
  display: flex;
  position: relative;
  line-height: 82px;
  width: 184px;
  height: 79px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.12);
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));

  &:hover {
    .c7n-env-deploy-icon {
      display: flex;
      color: #000;
      margin-left: auto;
      font-size: 18px;
      line-height: 20px;
      margin-right: 6px;
    }
  }

  .c7n-env-deploy-icon {
    display: none;
  }

  &::after {
    width: 0;
    height: 0;
    border: transparent solid;
    border-width: 8px;
    border-left-color: #fff;
    top: 79px;
    position: absolute;
    left: 50%;
    content: "";
    transform: translateX(-50%) rotate(90deg);
  }
}

.c7n-operate-icon {
  color: black !important;
}

.c7n-deploy-wrap_gray {
  padding: 20px 16px;
  box-shadow:
    0 1px 0 0 rgba(0, 0, 0, 0.2),
    0 0 0 1px rgba(0, 0, 0, 0.12),
    0 2px 2px -1px rgba(0, 0, 0, 0.12);

  .c7n-table-wrapper {
    background-color: white;
  }
}

.c7n-app-arrow {
  font-size: 30px;
  margin: 0 32px;
  width: 26px;
  color: rgba(0, 0, 0, 0.54);
  line-height: 80px;
}

.c7n-app-square {
  display: flex;

  &:last-child .c7n-app-arrow {
    display: none;
  }
}

.c7n-app-state {
  margin: 12px 14px 12px 10px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  height: 55px;
  width: 55px;
  border: 5px solid #00bfa5;
  border-radius: 50%;
  color: #00bfa5;
}

.c7n-app-state-pending {
  margin: 12px 14px 12px 10px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  height: 55px;
  width: 55px;
  border: 5px solid #f44336;
  border-radius: 50%;
  color: #f44336;
}

.c7n-app-state-ban {
  margin: 12px 14px 12px 10px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  height: 55px;
  width: 55px;
  border: 5px solid #d3d3d3;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.54);
}

.c7n-deploy-env-line {
  display: flex;
  height: 105px;
  //overflow-x: auto;
  padding: 5px 5px 23px 8px;
}

.c7n-deploy-col-inside {
  margin-bottom: 6px;
}

.c7n-deploy-tab {
  margin-bottom: 16px;

  button {
    font-size: 13px;
    color: #3f51b5;
    margin: 0 1px;
  }
}

.c7n-tab-active {
  background: rgba(140, 158, 255, 0.2);
}

.c7n-deploy-status {
  position: relative;
  height: 30px;
  width: 30px;
}

.c7n-deploy-circle-process {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  stroke-dasharray: 251%;
  stroke: #00bfa5;
  fill: none;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.c7n-deploy-circle-process-ban {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  stroke-dasharray: 251%;
  stroke: #f3f3f3;
  fill: none;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.c7n-deploy-circle_red {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  stroke-dasharray: 251%;
  stroke-dashoffset: 0;
  stroke: #f44336;
  fill: none;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.c7n-transition-rotate {
  transition: all 0.5s;
}

.c7n-deploy-status-num {
  line-height: 30px;
  width: 30px;
  text-align: center;
  position: absolute;
  font-size: 13px;
  color: #000;
}

.c7n-deploy-cNumber {
  margin: 0 8px;
  display: initial;
  width: 19px;
  height: 19px;
  font-size: 13px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.08);
  color: black !important;
}

.c7n-deploy-cNumber-first {
  margin-right: 8px;
  display: initial;
  width: 19px;
  height: 19px;
  font-size: 13px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.08);
  color: black !important;
}

.c7n-deploy-cNumber_1 {
  display: inline-block;
  width: 16px;
  text-align: center;
}

.c7n-drop_up {
  cursor: pointer;
  position: absolute;
  height: 8px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid black;
  margin-left: 6px;
}

.c7n-drop_down {
  cursor: pointer;
  position: absolute;
  height: 8px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid black;
  margin-top: 12px;
  margin-left: 6px;
}

.c7n-deploy-muti-row {
  margin-bottom: 6px;
  display: flex;

  &:last-child {
    margin: 0;
  }
}

.c7n-app-name {
  width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.c7n-ist-status {
  display: inline-block;
  height: 16px;
  font-size: 13px;
  border-radius: 2px;
  color: white;
  text-align: center;
  line-height: 16px;
  margin-right: 8px;

  div {
    transform: scale(0.8);
  }
}

.c7n-ist-status_pending,
.c7n-ist-status_operating {
  background: #4d90fe;
}

.c7n-ist-status_running {
  background: #00bf96;
}

.c7n-ist-status_stopping {
  background: #ffb100;
}

.c7n-ist-status_deleting {
  background: #ff7043;
}

.c7n-ist-status_stopped,
.c7n-ist-status_stop {
  background: rgba(0, 0, 0, 0.36);
}

.c7n-ist-status_ {
  background: rgba(0, 0, 0, 0.36);
}

.c7n-ist-status_failed,
.c7n-ist-status_install_failed,
.c7n-ist-status_upgrade_failed,
.c7n-ist-status_starting_failed,
.c7n-ist-status_stop_failed,
.c7n-ist-status_delete_failed,
.c7n-ist-status_deploy_failed,
.c7n-ist-status_rollback_failed,
.c7n-ist-status_deleted {
  background: #f44336;
}

.c7n-deploy-istCode {
  margin-right: 5px;
}

.c7n-deploy-ist-operate {
  font-size: 15px;
  color: #f44336;
  vertical-align: text-top;
}

.c7n-store-pagination {
  float: right;
}

.c7n-config-section {
  margin-top: 20px;
}

.c7n-app-select_512 {
  width: 512px;
  margin-bottom: 16px;
}

.c7n-noVer-waring {
  margin: 0 5px 0 0;
  color: #ffb100;
  vertical-align: text-bottom;
}

.c7n-deploy-env-title {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .005em;
  line-height: 28px;
  margin-bottom: 8px;

  &.c7n-deploy-env-ist {
    margin-top: 32px;
  }
}

.c7n-deploy-modal-content {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 8px;
}

// 修改实例管理中列表的展开箭头

.c7n-instance-header {
  display: block;
  max-width: 512px;

  .c7n-instance-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 10px;
  }

  .c7n-instance-describe {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 24px;

    a {
      text-decoration: underline;
      color: #3f51b5;
      cursor: pointer;

      .icon {
        font-size: 13px;
      }
    }
  }
}

.c7n-deploy-pod-status {

  .c7n-pod-circle {
    transform: rotate(-90deg);
    transform-origin: center;
  }

  .c7n-pod-circle-num {
    text-anchor: middle;
  }
}
