.c7ncd-cluster-monitor-create {
  &-pv {
    font-size: .16rem;
    font-weight: 500;
    line-height: .22rem;
    border-top: 1px solid #d8d8d8;
    padding: .2rem .2rem;
    margin: 0 -0.2rem;
  }

  &-https {
    margin-top: .1rem;
    color: rgba(0, 0, 0, 0.6);

    &-span {
      width: .6rem;
      display: inline-block;
    }
  }
}
