.c7n-pipeline-creat {
  .c7ncd-formitem-bottom {
    margin-bottom: 12px;
  }

  .c7ncd-pipeline-btn_cancel {
    margin-left: 12px;
  }

  .c7ncd-pipeline-main {
    margin-bottom: 32px;
    padding: 24px 0;
    width: 100%;
    border: 1px solid #e3e3e3;
    background: #fff;
    overflow-x: auto;
    overflow-y: hidden;

    .c7ncd-pipeline-scroll {
      display: inline-flex;
      padding: 0 14px;
      min-width: 100%;
    }
  }

  .c7ncd-pipeline-error {
    margin-bottom: 32px;
    .c7ncd-pipeline-error-icon {
      color: #f44336;
      font-size: 16px;
      vertical-align: text-bottom;
      padding-right: 5px;
    }
    .c7ncd-pipeline-error-msg {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.65);
      line-height: 20px;
    }
  }
}
