.c7n-no-chart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .c7n-no-chart-pic {
    div {
      width: 200px;
      height: 235px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url('../report-list/pic/no-chart.svg');
    }
  }

  .c7n-no-chart-desc {
    margin-left: 40px;

    .c7n-no-chart-title {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.65);
      text-align: left;
      line-height: 20px;
    }

    .c7n-no-chart-des {
      font-size: 20px;
      color: #000;
      text-align: left;
      line-height: 34px;
      width: 260px;
      margin: 10px 0 24px;
    }
  }
}
