.c7n-table-512 {
  width: 512px;
}

.c7n-addRelease-wrapper {
  .c7ncd-release-item-indent {
    padding-left: 30px;

    .c7n-radio-group-wrapper {
      width: 100%;
    }

    .c7ncd-release-tip {
      margin-top: 24px;
    }
  }

  .c7ncd-step-item-tip-icon {
    margin-right: 5px;
    padding: 0 !important;
  }

  .c7ncd-release-info {
    width: 512px;

    .c7n-appRelease-img {
      margin: 0 auto;
      width: 80px;
    }

    .c7n-appRelease-img-title {
      display: block;
      color: rgba(0, 0, 0, 0.54);
      font-size: 13px;
      padding-left: 14px;
      padding-top: 3px;
    }

    .c7n-appRelease-img-hover {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      background-image: url(../../img/app.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      border: 1px solid #eee;

      &:hover {
        background-color: rgba(0, 0, 0, .288);
      }

      .c7n-appRelease-img-child {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, .288);
        padding-top: 11px;
        line-height: 53px;
        text-align: center;
      }

      span {
        font-size: 30px;
        color: white;
      }
    }
  }

  .app-release-title {
    width: 80px;
    font-size: 13px;
    color: #000;
    line-height: 20px;
    display: inline-block;
    margin: 0 0 12px 0;

    span {
      padding-right: 10px;
    }
  }

  .deployApp-text {
    display: inline-table;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 20px;
    padding-left: 15px;
  }
}

.icon-select {
  vertical-align: middle;
  font-size: 18px;
  color: #3f51b5;
}

.col-check {
  height: 32px;
}

.apprelease-formItem-label {
  &::after {
    display: inline-block;
    margin-left: 4px;
    content: "*";
    line-height: 1;
    font-size: 13px;
    color: #d50000;
  }
}
