.c7ncd-deployment-net-title {
  font-size: .16rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #000000;
  line-height: .22rem;
}
.c7ncd-deployment-net .c7ncd-deployment-application-detail-modal {
  list-style: none;
  margin: 0;
  padding: 0;
}
.c7ncd-deployment-net .c7ncd-deployment-application-detail-modal .detail-item {
  margin-bottom: .16rem;
  list-style: none;
  font-size: .14rem;
}
.c7ncd-deployment-net .c7ncd-deployment-application-detail-modal .detail-item .instance {
  display: flex;
}
.c7ncd-deployment-net .c7ncd-deployment-application-detail-modal .detail-item .instance p {
  line-height: .14rem;
  margin-bottom: .02rem;
}
.c7ncd-deployment-net .c7ncd-deployment-application-detail-modal .detail-item-text {
  color: rgba(0, 0, 0, 0.65);
  width: .88rem;
  display: inline-block;
}
.c7ncd-deployment-net .c7ncd-deployment-application-detail-modal .detail-item-has-url {
  display: flex;
}
.c7ncd-deployment-net .c7ncd-deployment-application-detail-modal .detail-item-url {
  width: calc(99.12%);
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.c7ncd-deployment-net .net-hr {
  margin: 0 -0.24rem;
  color: #d8d8d8;
  margin-bottom: .24rem;
}
.c7ncd-deployment-net .c7ncd-deployment-application-label {
  height: 0.21rem;
  background: #eff4f9;
  border-radius: .03rem;
  font-size: .16rem;
  display: inline-flex;
  width: fit-content;
  margin-right: .08rem;
  margin-top: .12rem;
}
.c7ncd-deployment-net .c7ncd-deployment-application-label-head {
  font-family: PingFangSC-Medium;
  height: .17rem;
  background: #798ea1;
  border-radius: .01rem;
  line-height: .16rem;
  padding: 0 .06rem;
  color: #fff;
  margin: .02rem .02rem;
}
.c7ncd-deployment-net .c7ncd-deployment-application-label-text {
  font-family: PingFangSC-Medium;
  line-height: .16rem;
  margin: .02rem .02rem;
  padding: 0 .06rem;
}
