@prefixCls: c7ncd-host-config;

.@{prefixCls}-content {
  padding-top: 0;

  &-search {
    display: flex;

    &-form {
      flex: 1;
      max-width: 80%;
    }
    &-btn {
      max-width: 0.53rem;
      flex: 1;
      margin-left: 20px;
      background: rgba(83, 101, 234, 0.08);
      color: rgba(83, 101, 234, 1);
      border-radius: 6px;
    }
  }
}
