.c7n-app-select_512 {
  width: 512px;
  margin-bottom: 16px;
}

.c7n-merge-branches {
  display: flex;

  i {
    vertical-align: baseline;
    margin-right: 5px;
  }

  .c7n-merge-right {
    transform: rotate(180deg);
    vertical-align: sub;
    margin: 0 5px;
  }
}

.c7n-merge-avatar {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 5px;
}

.c7n-merge-time {
  vertical-align: middle;
}

.apptag-commit {
  display: inline-block;
  vertical-align: middle;
  &.apptag-commit-avatar {
    margin-right: 8px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    background-color: rgba(63, 81, 181, .44);
    color: rgba(63, 81, 181, 1);
  }
}
