.c7n-devops-userlist {
  display: inline-block;
  vertical-align: middle;
  margin-left: -6px;
  width: 26px;
  height: 26px;
  line-height: 20px;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background: #c5cbe8;
  color: #3f51b5;

  &:hover {
    transform: scale(1.2);
    z-index: 1;
  }
}
