.c7n-network-wrapper {
  .c7ncd-network-operator {
    text-align: right;
  }

  .network-expend-icon {
    line-height: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #3f51b5;
  }

  .network-column-target {
    display: flex;

    &:nth-child(2) {
      margin-top: 5px;
    }

    .network-column-targetIp {
      margin-left: 8px;
    }

    .network-column-instance {
      background: rgba(0, 0, 0, 0.08);
      border-radius: 10px;
      padding: 0 12px;
      height: 20px;
      line-height: 20px;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    & > .network-column-instance {
      margin-bottom: 0;
    }

    .network-column-entry {
      display: flex;
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        flex: 1;
        white-space: nowrap;
        padding: 0 12px;
      }
    }

    & > .network-column-entry {
      margin-bottom: 0;
    }
  }

  .network-column-config {
    display: flex;

    .network-config-type {
      line-height: 20px;
      width: 82px;
    }

    .network-config-item {
      margin-bottom: 6px;
      white-space: nowrap;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .network-config-wrap {
      display: flex;

      .network-type-title {
        flex: none;
        margin-right: 16px;
        min-width: 92px;
        margin-bottom: 6px;
      }
    }
  }

  .c7n-network-square {
    background-color: rgba(0, 0, 0, 0.08);
    display: inherit;
    border-radius: 100px;
    padding: 0 12px;
    margin: 0 5px 5px 5px;
    line-height: 20px;
    font-size: 10px;
    width: 115px;
  }

  .c7n-network-title {
    background: rgba(0, 0, 0, 0.36);
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    line-height: 14px;
    padding: 1px;
    margin-right: 8px;
    display: inline-block;
    width: 25px;
    text-align: center;

    div {
      transform: scale(0.8);
    }
  }

  .c7n-network-circle {
    background: rgb(255, 177, 0);
    height: 16px;
    width: 16px;
    font-size: 10px;
    color: #fff;
    line-height: 16px;
    text-align: center;
    padding: 1px;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
  }

  .c7n-network-text_gray {
    padding-right: 22px;
  }

  .c7n-network-col_border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    padding: 6px 0;
    height: 31px;
    overflow: hidden;

    &:last-child {
      border-bottom: none;
    }
  }

  .c7n-network-col {
    padding: 0 0 !important;
  }

  .c7n-network-change {
    font-size: 24px;
    color: #3f51b5;
    float: right;
  }

  .c7n-network-select {
    width: 512px;
  }

  .c7n-app-icon-disabled {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.36);
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
  }

  .c7n-network-status-failed {
    color: #d50000;
    background: rgba(244, 67, 54, 0.3) !important;
  }
}
