.c7n-networking-wrap {

  .c7n-networking-expandedRow {
    font-size: 14px;
    line-height: 20px;
    padding: 16px 0;

    .c7n-networking-expandedRow-detail {
      margin-bottom: 16px;
      display: flex;
      align-items: flex-end;

      &:last-child {
        margin-bottom: 0;
      }

      .c7n-networking-ingress {
        color: rgba(0, 0, 0, .65);

        &-name {
          width: 220px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          margin-right: 10px;
        }
      }
    }

    .c7n-networking-no-ingress {
      color: rgba(0, 0, 0, 0.45);
      font-size: 13px;
    }
  }

  .mg-right {

    &-20 {
      margin-right: 20px;
    }
  }

  .mg-top {

    &-15 {
      margin-top: 15px;
    }
  }

  .c7n-networking-tag-dom {
    margin-bottom: 5px;
    display: flex;

    .c7n-networking-tag {
      background: rgba(0, 0, 0, 0.08);
      border-radius: 10px;
      padding: 0 12px;
      height: 20px;
      line-height: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .c7n-networking-tag-more {
    display: flex;
  }

  .c7n-networking-expend-icon {
    line-height: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #3f51b5;
  }
}

.c7n-ist-networking-modal {
  width: 560px !important;
}
