.c7ncd-elements-password {
  .ant-input-suffix {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;

    .icon {
      font-size: 18px;
      color: #000;
    }
  }
}

.c7ncd-elements-test {
  &-button {
    padding: 0 12px;
    color: #3f51b5;
    .btn-loading {
      span {
        background: #3f51b5 !important;
        border-color: #3f51b5 !important;
      }
    }
  }

  &-result {
    display: inline-block;
    margin-left: 18px;
    vertical-align: top;
    height: 32px;
    line-height: 32px;
  }

  &-icon {
    margin-right: 8px;
    vertical-align: text-bottom;
    &_pass {
      color: #00bfa5;
    }

    &_failed {
      color: #f44336;
    }
  }
}
