.c7n-deployApp-sidebar {

  .c7n-store-search {
    margin-bottom: 24px;

    .c7n-btn-group {
      float: right;
      margin-bottom: 10px;
    }

    .c7n-input-wrapper {
      width: 100%;
    }

    .c7n-input-content {
      width: 50%;
      height: 48px;
      background: #fff;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    input {
      font-size: 14px;
      line-height: 48px;
    }

    .c7n-input-prefix {
      background-color: #fff;
      left: 0;
      z-index: 999;
      width: 56px;
      top: 12px;
      text-align: center;

      i {
        font-size: 24px;
        color: black;
      }
    }

    .c7n-input-suffix {
      font-size: 14px;
      line-height: 48px;
      padding-right: 10px;
    }

    .c7n-input-rendered {
      margin-bottom: 0 !important;
    }

    .c7n-input-placeholder {
      z-index: 999;
      font-size: 14px;
      line-height: 48px;
    }

    .c7n-input-underline {
      display: none;
    }
  }

  .c7n-store-card {
    vertical-align: top;
    border: 2px solid white;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 18px;
    margin-right: 18px;
    background-color: white;
    height: 190px;
    width: 240px;
    display: inline-block;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;

    &:hover {
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .c7n-store-card-icon {
      margin-bottom: 4px;
      border-radius: 50px;
      height: 50px;
      width: 50px;
      background-image: url(./img/app.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      -moz-background-size: 100% 100%;
    }

    .c7n-store-card-name {
      font-size: 15px;
    }

    .c7n-store-card-source {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.65);
    }

    .c7n-store-card-des-60 {
      margin-bottom: 8px;
      font-size: 13px;
      text-align: justify;
      height: 75px;
      overflow: hidden;
      color: rgba(0, 0, 0, 0.65);
    }

    .span-icon-check {
      position: absolute;
      left: 222px;
      margin-top: -23px;
      background-color: #3f51b5;
      color: white;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: flex;

      .icon {
        font-size: 25px !important;
      }
    }
  }

  .c7n-card-active {
    border: 2px solid #3f51b5;
    position: relative;
  }

  .c7n-tab-active {
    color: #3f51b5;
    background: rgba(140, 158, 255, 0.2);
  }

  .c7n-deploy-tabpane {
    padding: 5px;
  }

  .c7n-deploy-noresult {
    padding: 20px 30px;
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, .56);
  }
}
