.c7ncd-elements-spin {
  text-align: center;
}

.c7ncd-elements-section {
  margin-bottom: 30px;

  .c7ncd-elements-title {
    margin-bottom: 12px;
    font-size: 16px;
  }

  .c7ncd-elements-info {
    display: flex;
    flex-wrap: wrap;

    .c7ncd-elements-items {
      flex: 1;
      white-space: nowrap;
      margin-right: 20px;
      line-height: 24px;
      font-size: 14px;
      color: rgba(0, 0, 0, .65);

      span {
        color: #000;
      }

      & > button {
        margin-left: 4px;
      }
    }
  }
}

.c7ncd-elements-modal {
  margin-top: 8px;
  white-space: pre;
}
