.c7n-deploymentConfig-create {

  .c7n-deploymentConfig-value {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  .c7n-deploymentConfig-sidebar-cancel {
    color: #3f51b5;
  }
}
