@import '~choerodon-ui/lib/style/themes/default';

.c7ncd-deployment-sidebar-head {
  height: .42rem;
  line-height: .42rem;
  text-align: center;

  button {
    border-radius: 0;

    &:first-child {
      border-radius: .02rem 0 0 .02rem;
    }

    &:last-child {
      border-radius: 0 .02rem .02rem 0;
    }
  }

  .c7ncd-deployment-sidebar-active {
    background-color: rgba(140, 158, 255, .16);
  }
}
