@import '~choerodon-ui/lib/style/themes/default';

.c7ncd-deployment-sidebar-head {
  height: 43px;

  .c7ncd-deployment-sidebar-drop {
    padding: 6px 0;
    width: 100%;

    .@{c7n-pro-prefix}-select {
      display: block;
      border: none;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .@{c7n-pro-prefix}-select-trigger {
      font-size: 20px;
    }
  }
}
