.c7n-appVersion-wrapper {
  .c7n-appVersion-select {
    margin-bottom: 20px;
  }
  .error-text {
    height: 28px;
    color: #da4336;
    font-size: 12px;
    display: block;
  }

  .display-none {
    display: none;
  }

  .table-pagination {
    margin-top: 10px;
    float: right;
    display: block;
  }

  .template-icon {
    color: initial;
    font-size: 18px;
  }
}
