.c7ncd-resource-detail-sidebar {
  .c7n-resource-detail-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 20px;
    margin-left: 100px;
  }

  .resource-detail-info {
    margin: 10px 0 24px;
  }
}
