.c7n-deploy-wrapper {
  .c7ncd-step-item-app {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
  }

  .deploy-radio {
    display: block;
    height: 30px;
    line-height: 30px;
  }
}
