.c7n-appRelease-wrapper {
  .help-icon {
    color: rgba(0, 0, 0, 0.36);
    font-size: 16px;
    padding-left: 8px;
  }

  .c7n-appRelease-span-title {
    font-size: 18px;
    color: #000;
    line-height: 28px;
  }

  .c7n-appRelease-hr {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 24px;
    height: 0;
    width: 100%;
  }

  .c7n-appRelease-img {
    margin-left: 216px;

    .c7n-appRelease-img-title {
      display: block;
      color: rgba(0, 0, 0, 0.54);
      font-size: 13px;
      padding-left: 14px;
      padding-top: 3px;
    }
  }

  .c7n-appRelease-img-hover {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-image: url(../../../../../devops/assets/images/app.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    border: 1px solid #eee;

    &:hover {
      background-color: rgba(0, 0, 0, 0.288);
    }

    .c7n-appRelease-img-child {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.288);
      padding-top: 11px;
      line-height: 53px;
      text-align: center;
    }

    span {
      font-size: 30px;
      color: white;
    }
  }
}
