
.c7n-node-content {
  padding: 0;
}

.c7n-node-title {
  font-weight: 500;
  font-size: 0.16rem;
  color: #000;
  line-height: 0.22rem;
  margin-bottom: 0.24rem;
}

.c7n-node-pie {
  display: flex;
  margin-bottom: 0.28rem;

  &-block {
    margin-right: 1.2rem;
  }

  &-percent {
    height: 0.18rem;
    font-size: 0.12rem;
    color: #000;
    margin-left: 0.8rem;
  }

  &-inside-percent {
    font-size: 0.12rem;
    height: 0.18rem;
    color: #000;
    position: relative;
    bottom: 1rem;
    text-align: center;
  }

  &-pod-percent {
    font-size: 0.12rem;
    height: 0.18rem;
    color: #000;
    position: relative;
    bottom: 1.3rem;
    text-align: center;
  }

  &-title {
    font-size: 0.14rem;
    color: #000;
    line-height: 0.2rem;
    font-weight: 500;
    text-align: center;
    margin: 0.02rem 0 0.04rem 0;
  }

  &-info {
    display: flex;
    align-items: center;
    height: 0.28rem;
    line-height: 0.28rem;
    font-size: 0.13rem;
    color: rgba(0, 0, 0, 0.65);
    border-bottom: 0.01rem solid #d3d3d3;

    &:last-child {
      border-bottom: none;
    }

    &-span {
      display: block;
      border-radius: 0.02rem;
      width: 0.1rem;
      height: 0.1rem;
      margin-right: 0.04rem;
    }

    .rv {
      background: #00bfa5;
    }

    .lmv {
      background: #57aaf8;
    }

    span:last-child {
      margin-left: auto;
    }
  }
}
