.c7n-devops-tabletags {
  display: inline-block;
  margin: 4px;
  padding: 0 8px;
  line-height: 20px;
  border-radius: 10px;
  font-size: 13px;
  text-align: center;
  color: #000;
  background: rgba(0, 0, 0, 0.08);

  &:first-child {
    margin-left: 0;
  }
}
