.pipelineManage_page {
  .pipelineManage_content {
    border-top: 1px solid #d3d3d3;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.c7ncd-pipelineManage {
  &-content {
    padding: 0 !important;
  }
  &-wrap {
    border-top: 1px solid #d3d3d3;
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
  }

  &-main {
    flex: 1;
    padding: .15rem .2rem;
    min-width: 2rem;
    height: 100%;
    background: #fff;
    overflow: auto;
  }

  &-animate {
    transition: width 0.05s ease-out, height 0.05s ease-out, background 0.05s ease-out, opacity 0.05s ease-out, transform 0.05s ease-out;
  }

  &-detail-modal-title {
    display: flex;
  }
}
