.c7ncd-delete-wrap {
  padding-top: 8px;

  .c7ncd-delete-check {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;

    .c7ncd-captcha-form {
      flex: 1;
      min-width: 100px;
    }

    .c7ncd-captcha-btn {
      margin-top: 6px;
      margin-left: 12px;
    }
  }

  .c7ncd-captcha-error {
    color: #f44336;
  }
}
