.c7ncd-deleteModal-wrap {
  padding-top: 8px;

  .c7ncd-formItem_355 {
    width: 355px;
  }

  .c7ncd-delete-check {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .c7ncd-time-span {
    width: 65.66px;
  }
}
