@import '~choerodon-ui/lib/style/themes/default';

.c7ncd-appService-import-wrap {

  &-radio {
    width: 1.5rem;
    display: inline-block;
  }

  .c7ncd-appService-import-platform {

    .platform-button {
      color: #3f51b5;
      margin-bottom: .24rem;
    }

    &-failed {
      color: #d50000;
      margin-left: .06rem;
    }

    &-selected {
      font-size: .16rem;
      font-weight: 500;
      line-height: .22rem;
      margin-bottom: .16rem;
    }

    &-table-select {

      .@{c7n-pro-prefix}-select {
        border: none;
      }
    }

    .@{c7n-pro-prefix}-output-invalid {
      border: none;
    }

    &-input {
      border: 1px solid rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0 .1rem;

      &-failed {
        border: .01rem solid #d50000 !important;
      }
    }
  }

  &-failed {
    color: #d50000;
    margin-top: .2rem;
    display: block;
  }

  &-column {
    display: flex;
    align-items: center;

    &-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &-name {

      &:hover {
        cursor: pointer;
        color: #3f51b5;
      }
    }
  }
}

.c7ncd-appService-import-source {
  display: flex;
  align-items: center;

  &-icon {
    font-size: .2rem;
    margin-right: .02rem;
    color: #3f51b5;
    cursor: pointer;
  }
}

.c7ncd-appService-prefix-icon {
  font-size: .2rem;
}
