.c7ncd-appService-import-wrap {

  &-radio {
    margin-right: .6rem;
  }

  .c7ncd-appService-import-platform {

    .platform-button {
      color: #3f51b5;
      margin-bottom: .24rem;
    }

    &-failed {
      color: #d50000;
      margin-left: .06rem;
    }
  }

  &-failed {
    color: #d50000;
    margin-top: .07rem;
  }
}
