.c7ncd-cluster-header {
  border-bottom: 1px solid #d3d3d3;
}
.c7ncd-cluster-header-placeholder {
  height: 40px;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid #d3d3d3;
}
.c7ncd-cluster-header-split {
  display: inline-block;
  margin: 0 .05rem;
  width: 0;
  height: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
