.c7ncd-code-manager {
  overflow: hidden !important;
  height: 64px;
  max-height: 64px;
}
.c7ncd-code-manager-header {
  border-bottom: 1px solid #d3d3d3;
}
.c7ncd-code-manager-header-no-bottom {
  margin-bottom: 0px;
}
.c7ncd-code-manager-header-placeholder {
  height: 40px;
  overflow: hidden;
  background: transparent;
}
