.addcdTask {
  p {
    margin: 0;
  }
  &-wrap {
    display: flex;
    align-items: center;
  }
  &-triggerType {
    width: 120px;
    margin-right: 8px;
  }
  &-triggerValue {
    flex: 1;
  }
  &-text {
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    line-height: 20px;
    position: relative;
    top: 5px;
  }
  &-divided {
    width: calc(100% + 0.48rem);
    height: 1px;
    background: #d8d8d8;
    margin-left: -0.24rem;
  }
  &-title {
    margin-top: 20px !important;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    line-height: 22px;
  }
  &-form2 {
    margin-top: 20px;
  }
  .c7n-pro-select-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-mainMode {
    width: 88%;
  }
}

.testConnectCD {
  font-size: 15px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(58, 52, 95, 0.76);
  line-height: 28px;
  width: 340px;
  height: 42px;
  border-radius: 4px;
  border: 1px dashed rgba(104, 135, 232, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  .c7n-progress-inner {
    width: 20px;
    margin-left: 12px;
  }
}
