<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.devops.infra.mapper.AppExceptionRecordMapper">


    <select id="queryLatestExceptionRecordFilterByType"
            resultType="io.choerodon.devops.infra.dto.AppExceptionRecordDTO">
        select *
        from devops_app_exception_record daer
        where daer.app_id = #{appId}
          and daer.resource_type = #{resourceType}
          and daer.resource_name = #{resourceName}
          and daer.end_date is null;
    </select>
    <select id="listByAppIdAndDate" resultType="io.choerodon.devops.infra.dto.AppExceptionRecordDTO">
        select *
        from devops_app_exception_record daer
        where daer.app_id = #{appId}
          and daer.start_date >= CONCAT('', '${startTime}', ' 00:00:00')
          and daer.end_date <![CDATA[<=]]> CONCAT('', '${endTime}', ' 23:59:59')
    </select>
    <select id="listCompletedByAppIdAndDate" resultType="io.choerodon.devops.infra.dto.AppExceptionRecordDTO">
        select *
        from devops_app_exception_record daer
        where daer.app_id = #{appId}
          and daer.end_date is not null
          and daer.start_date >= CONCAT('', '${startTime}', ' 00:00:00')
          and daer.end_date <![CDATA[<=]]> CONCAT('', '${endTime}', ' 23:59:59')
    </select>
    <select id="listUnCompleteExceptionRecord"
            resultType="io.choerodon.devops.infra.dto.AppExceptionRecordDTO">
        select *
        from devops_app_exception_record daer
        where daer.app_id = #{appId}
          and daer.end_date is null;
    </select>
</mapper>

