<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.ApplicationVersionMapper">
    <select id="listApplicationVersion" resultType="io.choerodon.devops.infra.dataobject.ApplicationVersionDO">
        SELECT
        dav.id,
        dav.version,
        dav.commit,
        da.code appCode,
        da.name appName,
        da.is_active appStatus,
        da.id appId,
        dav.creation_date
        FROM
        devops_application da
        RIGHT JOIN devops_app_version dav ON da.id = dav.app_id
        WHERE da.project_id = #{projectId}
        <if test='appId != null'>
            AND da.id= #{appId}
        </if>
        <if test='isProjectOwner != null'>
            <if test='isProjectOwner == false'>
                AND (da.is_skip_check_permission = 1 OR (
                da.is_skip_check_permission = 0
                AND ( da.id IN ( SELECT daur.app_id FROM devops_app_user_rel daur WHERE daur.iam_user_id = #{userId}
                ))))
            </if>
        </if>
        <if test='searchParam != null'>
            <if test='searchParam.version != null and searchParam.version.size > 0'>
                AND
                <foreach collection="searchParam.version" item="version" open="(" separator=" OR " close=")">
                    dav.version LIKE CONCAT(CONCAT('%', #{version, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
        </if>
        <if test='param != null and param != ""'>
            AND dav.version LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
        </if>
    </select>

    <select id="listAppLatestVersion" resultType="io.choerodon.devops.infra.dataobject.ApplicationLatestVersionDO">
        SELECT
        dap.version,
        dap.id versionId,
        lv.app_id
        FROM
        devops_app_version dap
        JOIN (
        SELECT
        MAX( dappv.id ) id,
        dappv.app_id
        FROM
        devops_app_version dappv
        GROUP BY
        dappv.app_id
        ) lv ON lv.id = dap.id
        JOIN devops_application da ON lv.app_id = da.id
        LEFT JOIN devops_app_market dam on dam.app_id = da.id
        WHERE
        da.project_id = #{projectId}
        OR (
        da.project_id IN
        <foreach collection="projectIds" item="project" open="(" separator="," close=")">
            #{project}
        </foreach>
        AND dam.publish_level = 'organization'
        )
        OR dam.publish_level = 'public'
    </select>

    <select id="listByAppIdAndEnvId" resultType="io.choerodon.devops.infra.dataobject.ApplicationVersionDO">
        SELECT
        dav.id,
        dav.version
        FROM
        devops_application da,
        devops_app_instance dai,
        devops_env de,
        devops_app_version dav
        WHERE
        da.id = dai.app_id
        AND de.id = dai.env_id
        AND dai.`status` = 'running'
        AND dai.app_version_id = dav.id
        AND de.project_id = #{projectId}
        AND de.id = #{envId}
        AND da.id = #{appId}
        GROUP BY
        dav.id,dav.version
    </select>

    <select id="queryValue" resultType="java.lang.String">
        SELECT
        davv.value
        FROM
        devops_app_version dav,
        devops_app_version_value davv
        WHERE
        dav.value_id = davv.id
        AND dav.id = #{versionId}
    </select>

    <select id="selectByAppId" resultType="io.choerodon.devops.infra.dataobject.ApplicationVersionDO">
        SELECT
        dav.id,
        dav.version
        FROM
        devops_app_version dav
        WHERE
        dav.app_id = #{appId}
        <if test="isPublish != null">
            <if test="isPublish == true">
                AND dav.is_publish = TRUE
            </if>
            <if test="isPublish != true">
                AND ( is_publish != TRUE OR is_publish IS NULL )
            </if>
        </if>
        ORDER BY
        dav.id DESC
    </select>

    <select id="selectDeployedByAppId" resultType="io.choerodon.devops.infra.dataobject.ApplicationVersionDO">
        SELECT DISTINCT
        dav.id,
        dav.version
        FROM
        devops_app_version dav
        JOIN devops_app_instance dai ON dai.app_version_id = dav.id
        AND dai.`status` != 'deleted'
        JOIN devops_env de ON de.id = dai.env_id
        WHERE
        de.project_id = #{projectId}
        AND dav.app_id = #{appId}
        ORDER BY
        dav.id DESC
    </select>

    <select id="getAllPublishedVersion" resultType="io.choerodon.devops.infra.dataobject.ApplicationVersionDO">
        select
        dav.id,
        dav.version,
        dav.creation_date
        from devops_app_version dav
        where dav.app_id=#{applicationId}
        and dav.is_publish=1
    </select>

    <select id="selectVersionsByAppId" resultType="java.lang.Long">
        SELECT
        dav.id
        FROM
        devops_app_version dav
        JOIN devops_application da ON da.is_active = TRUE
        AND da.id = dav.app_id
        WHERE
        dav.app_id = #{applicationId}
    </select>

    <select id="selectUpgradeVersions" resultType="io.choerodon.devops.infra.dataobject.ApplicationVersionDO">
        SELECT id, app_id, version,creation_date
        FROM
        devops_app_version
        WHERE
        app_id = (
        SELECT
        app_id
        FROM
        devops_app_version
        WHERE
        id = #{appVersionId}
        )
        AND id > #{appVersionId}
        ORDER BY id DESC
    </select>
    <select id="checkProIdAndVerId" resultType="java.lang.Integer">
        SELECT
        COUNT(0)
        FROM
        devops_application da
        JOIN devops_app_version dav ON dav.app_id = da.id
        WHERE
        da.project_id = #{projectId}
        AND dav.id = #{appVersionId}
    </select>


    <select id="getLatestVersion" resultType="io.choerodon.devops.infra.dataobject.ApplicationVersionDO">
        select * from devops_app_version where app_id = #{appId} order by id desc limit 1
    </select>


    <select id="listByAppVersionIds" resultType="io.choerodon.devops.infra.dataobject.ApplicationVersionDO">
        SELECT *
        FROM
        devops_app_version dav
        where 1=1
        <if test="appVersionIds != null">
            AND dav.id in
            <foreach collection="appVersionIds" item="appVersionIds" index="index"
                     open="(" close=")" separator=",">
                #{appVersionIds}
            </foreach>
        </if>
    </select>

</mapper>
