<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.ApplicationShareRuleMapper">

    <select id="listByOptions" resultType="io.choerodon.devops.infra.dto.ApplicationShareRuleDTO">
        SELECT
        dasr.app_service_id,
        dasr.version_type,
        dasr.version,
        dasr.share_level,
        dasr.project_id
        FROM
        devops_app_share_rule_rule dasr
        WHERE
        app_service_id = #{app_service_id}
        <include refid="sqlparam"/>
    </select>

    <sql id="sqlparam">
        <if test='searchParam != null'>
            <if test='searchParam.version_type != null and searchParam.version_type.size > 0'>
                AND
                <foreach collection="searchParam.version_type" item="versionType" open="(" separator=" OR " close=")">
                    dasr.version_type LIKE CONCAT(CONCAT('%', #{versionType, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.version != null and searchParam.version.size > 0'>
                AND
                <foreach collection="searchParam.version" item="version" open="(" separator=" OR " close=")">
                    dasr.version LIKE CONCAT(CONCAT('%', #{version, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
        </if>
        <if test='param != null and param != ""'>
            AND (dasr.version_type LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR dasr.version LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            )
        </if>
    </sql>

    <update id="updatePublishLevel">
        UPDATE devops_app_share_rule das
        SET das.share_level = 'organization'
        WHERE
            das.share_level = 'public'
    </update>

    <delete id="deleteAll">
        DELETE FROM devops_app_share_rule
    </delete>
</mapper>
