<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.ApplicationMarketMapper">

    <sql id="sqlparam">
        <if test='searchParam != null'>
            <if test='searchParam.code != null and searchParam.code.size > 0'>
                AND
                <foreach collection="searchParam.code" item="code" open="(" separator=" OR " close=")">
                    da.code LIKE CONCAT(CONCAT('%', #{code, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.name != null and searchParam.name.size > 0'>
                AND
                <foreach collection="searchParam.name" item="name" open="(" separator=" OR " close=")">
                    da.name LIKE CONCAT(CONCAT('%', #{name, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.category != null and searchParam.category.size > 0'>
                AND
                <foreach collection="searchParam.category" item="category" open="(" separator=" OR " close=")">
                    dam.category LIKE CONCAT(CONCAT('%', #{category, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.description != null and searchParam.description.size > 0'>
                AND
                <foreach collection="searchParam.description" item="description" open="(" separator=" OR " close=")">
                    dam.description LIKE CONCAT(CONCAT('%', #{description, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.contributor != null and searchParam.contributor.size > 0'>
                AND
                <foreach collection="searchParam.contributor" item="contributor" open="(" separator=" OR " close=")">
                    dam.contributor LIKE CONCAT(CONCAT('%', #{contributor, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
        </if>
        <if test='param != null and param != ""'>
            AND (da.code LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR da.name LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR dam.category LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR dam.description LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR dam.contributor LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            )
        </if>
    </sql>

    <sql id="nameOrCateParamSql">
        <if test='searchParam != null'>
            <if test='searchParam.code != null and searchParam.code.size > 0'>
                AND
                <foreach collection="searchParam.code" item="code" open="(" separator=" OR " close=")">
                    da.code LIKE CONCAT(CONCAT('%', #{code, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.name != null and searchParam.name.size > 0'>
                AND
                <foreach collection="searchParam.name" item="name" open="(" separator=" OR " close=")">
                    da.name LIKE CONCAT(CONCAT('%', #{name, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.category != null and searchParam.category.size > 0'>
                AND
                <foreach collection="searchParam.category" item="category" open="(" separator=" OR " close=")">
                    dam.category LIKE CONCAT(CONCAT('%', #{category, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.description != null and searchParam.description.size > 0'>
                AND
                <foreach collection="searchParam.description" item="description" open="(" separator=" OR " close=")">
                    dam.description LIKE CONCAT(CONCAT('%', #{description, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.contributor != null and searchParam.contributor.size > 0'>
                AND
                <foreach collection="searchParam.contributor" item="contributor" open="(" separator=" OR " close=")">
                    dam.contributor LIKE CONCAT(CONCAT('%', #{contributor, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
        </if>
        <if test='param != null and param != ""'>
            AND (da.code LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR da.name LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR dam.category LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR dam.description LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR dam.contributor LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            )
        </if>
    </sql>

    <select id="listMarketApplicationInProject" resultType="io.choerodon.devops.infra.dataobject.DevopsAppMarketDO">
        select dam.id,
        dam.app_id,
        da.`name`,
        da.`code`,
        dam.contributor,
        dam.description,
        dam.category,
        dam.img_url,
        dam.publish_level
        from devops_application da,devops_app_market dam
        where da.id=dam.app_id
        and da.project_id=#{projectId}
        and dam.is_active=1
        <include refid="sqlparam"/>
    </select>

    <select id="listMarketApplication" resultType="io.choerodon.devops.infra.dataobject.DevopsAppMarketDO">
        select dam.id,
        dam.app_id,
        da.name,
        da.code,
        dam.publish_level,
        dam.img_url,
        dam.description,
        dam.category,
        dam.contributor
        from devops_app_market dam,devops_application da
        WHERE
        da.id = dam.app_id
        AND ( dam.publish_level = 'public' OR ( dam.publish_level = 'organization' AND da.project_id IN
        <foreach collection="projectIds" item="projectId" open="(" separator="," close=")">
            #{projectId}
        </foreach>
        ) )
        <include refid="nameOrCateParamSql"/>
    </select>

    <select id="getMarketApplication" resultType="io.choerodon.devops.infra.dataobject.DevopsAppMarketDO">
        SELECT
        dam.id,
        dam.app_id,
        da.`name` `name`,
        da.`code` `code`,
        dam.publish_level,
        dam.img_url,
        dam.description,
        dam.category,
        dam.contributor
        FROM
        devops_app_market dam
        JOIN devops_application da ON da.id = dam.app_id
        WHERE dam.id = #{appMarketId}
    </select>

    <select id="selectCountByAppId" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        devops_app_market dam
        WHERE
        dam.app_id = #{appId}
        AND dam.is_active=1
    </select>

    <select id="getMarketIdByAppId" resultType="java.lang.Long">
        SELECT
        dam.id
        FROM
        devops_app_market dam
        WHERE
        dam.app_id = #{appId}
    </select>

</mapper>
