<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.ApplicationTemplateMapper">
    <select id="list" resultType="io.choerodon.devops.infra.dto.ApplicationTemplateDO">
        SELECT
        dat.id,
        dat.name,
        dat.code,
        dat.organization_id,
        dat.description,
        dat.copy_from,
        dat.repo_url,
        dat.type,
        dat.uuid,
        dat.is_synchro,
        dat.is_failed,
        dat.gitlab_project_id
        FROM devops_app_template dat
        where (dat.organization_id = #{organizationId} or dat.organization_id is null)
        <if test='searchParam != null'>
            <if test='searchParam.name != null and searchParam.name.size > 0'>
                AND
                <foreach collection="searchParam.name" item="name" open="(" separator=" OR " close=")">
                    dat.name LIKE CONCAT(CONCAT('%', #{name, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.code != null and searchParam.code.size > 0'>
                AND
                <foreach collection="searchParam.code" item="code" open="(" separator=" OR " close=")">
                    dat.code LIKE CONCAT(CONCAT('%', #{code, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.description != null and searchParam.description.size > 0'>
                AND
                <foreach collection="searchParam.description" item="description" open="(" separator=" OR " close=")">
                    dat.description LIKE CONCAT(CONCAT('%', #{description, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.type != null and searchParam.type.size > 0'>
                AND
                <foreach collection="searchParam.type" item="type" open="(" separator=" OR " close=")">
                    <if test='type == 0'>
                        dat.type is null
                    </if>
                    <if test='type != 0 '>
                        dat.type = #{type,jdbcType=TINYINT}
                    </if>
                </foreach>
            </if>
        </if>
        <if test='param != null and param != ""'>
            AND (dat.code LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR dat.name LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR dat.description LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR dat.type = #{param,jdbcType=TINYINT})
        </if>
    </select>


    <select id="queryByCode" resultType="io.choerodon.devops.infra.dto.ApplicationTemplateDO">
    select
        dat.id,
        dat.name,
        dat.code,
        dat.organization_id,
        dat.description,
        dat.copy_from,
        dat.repo_url,
        dat.type,
        dat.uuid,
        dat.is_synchro,
        dat.is_failed,
        dat.gitlab_project_id,
        dat.object_version_number
        FROM devops_app_template dat
       where (dat.organization_id is null and code = #{code})
        or (dat.organization_id = #{organizationId} and code = #{code})
    </select>
</mapper>
