<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.AppServiceVersionReadmeMapper">
    <delete id="deleteByIds">
          DELETE FROM devops_app_service_version_readme
          where id in 
          <foreach collection="readmeIds" item="readmeId" open="(" separator=" , " close=")">
             #{readmeId}
          </foreach>
    </delete>
</mapper>