<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.AppServiceVersionMapper">
    <select id="listByAppServiceId" resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        SELECT dav.id,
               dav.version,
               dav.creation_date,
               dashv.value_id,
               dashv.harbor_config_id,
               dashv.helm_config_id,
               dashv.harbor_repo_type as repo_type,
               dashv.readme_value_id
        FROM devops_app_service_version dav
                 left join devops_app_service_helm_version dashv on dav.id = dashv.app_service_version_id
        WHERE dav.app_service_id = #{appServiceId}
        <if test="param != null and param != ''">
            and dav.version LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
        </if>
        AND dashv.repository IS NOT NULL
        ORDER BY
        dav.id DESC
    </select>

    <select id="queryByCommitSha" resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        SELECT
        dav.*
        FROM
        devops_app_service_version dav
        WHERE
        dav.app_service_id = #{appServiceId}
        AND dav.version LIKE CONCAT(CONCAT('%', #{ref}))
        AND dav.`commit` = #{commit}
        AND dav.repository IS NOT NULL
    </select>

    <select id="listByAppIdAndEnvId" resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        SELECT
        dav.id,
        dav.version
        FROM
        devops_app_service da,
        devops_app_service_instance dai,
        devops_env de,
        devops_app_service_version dav
        WHERE
        da.id = dai.app_service_id
        AND dav.repository IS NOT NULL
        AND de.id = dai.env_id
        AND dai.`status` = 'running'
        AND dai.app_service_version_id = dav.id
        AND de.project_id = #{projectId}
        AND de.id = #{envId}
        AND da.id = #{appServiceId}
        AND de.type ='user'
        GROUP BY
        dav.id,dav.version
    </select>

    <select id="queryValue" resultType="java.lang.String">
        SELECT davv.value
        FROM devops_app_service_version dav
                 left join devops_app_service_helm_version dashv on dav.id = dashv.app_service_version_id
                 left join devops_app_service_version_value davv on dashv.value_id = davv.id
        WHERE dav.id = #{versionId}
    </select>

    <select id="listByAppServiceIdAndVersion" resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        SELECT
        *
        FROM (
        <if test="appServiceVersionId != null">
            (SELECT ver.id, ver.version, ver.creation_date,dashvt.harbor_repo_type as repo_type,ver.last_update_date
            FROM devops_app_service_version ver
            left join devops_app_service_helm_version dashvt on ver.id = dashvt.app_service_version_id
            WHERE ver.id = #{appServiceVersionId,jdbcType=BIGINT} and ver.app_service_id = #{appServiceId})
            UNION ALL
        </if>
        (
        SELECT distinct
        dav.id,
        dav.version,
        dav.creation_date,
        dashv.harbor_repo_type as repo_type,
        dav.last_update_date
        FROM
        devops_app_service_version dav
        left join devops_app_service_helm_version dashv on dav.id = dashv.app_service_version_id
        <if test="share!=null and share==true">
            JOIN devops_app_service_share_rule dassr ON dassr.app_service_id = dav.app_service_id
            AND (
            dassr.share_level = 'organization'
            OR dassr.project_id = #{projectId}
            )
            AND (
            dassr.version = dav.version
            OR dav.version LIKE CONCAT('%', dassr.version_type, '%')
            )
        </if>
        WHERE
        dav.app_service_id = #{appServiceId}
        <if test="appServiceVersionId != null">
            AND dav.id != #{appServiceVersionId,jdbcType=BIGINT}
        </if>
        <choose>
            <when test="deployOnly!=null and deployOnly==true">
                AND dashv.repository IS NOT NULL
            </when>
            <otherwise>
                AND dav.`commit` IS NOT NULL
            </otherwise>
        </choose>
        <include refid="sqlparam"/>
        <if test="version != null and version != ''">
            AND dav.version LIKE CONCAT('%', #{version}, '%')
        </if>
        )) tmp
        <choose>
            <when test="index != null and index !='' and appServiceVersionId!=null and appServiceVersionId!=''">
                ORDER BY tmp.id != ${appServiceVersionId}, tmp.last_update_date DESC
            </when>
            <when test="index != null and index !=''">
                ORDER BY tmp.last_update_date DESC
            </when>
        </choose>
    </select>

    <sql id="sqlparam">
        <if test='searchParam != null'>
            <if test='searchParam.version != null and searchParam.version.length > 0'>
                AND dav.version LIKE CONCAT(CONCAT('%', #{searchParam.version, jdbcType=VARCHAR}),'%')
            </if>
        </if>
        <if test='params != null and params.size > 0'>
            AND
            <foreach collection="params" item="param" open="(" separator=" OR " close=")">
                dav.version LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            </foreach>
        </if>
    </sql>
    <select id="listAppServiceDeployedVersion" resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        SELECT DISTINCT
        dav.id,
        dav.version
        FROM
        devops_app_service_version dav
        join devops_app_service_helm_version dashv on dashv.app_service_version_id = dav.id
        JOIN devops_app_service_instance dai ON dai.app_service_version_id = dav.id
        AND dai.`status` != 'deleted'
        JOIN devops_env de ON de.id = dai.env_id
        WHERE
        de.project_id = #{projectId}
        AND dashv.repository IS NOT NULL
        AND dav.app_service_id = #{appServiceId}
        AND de.type ='user'
        ORDER BY
        dav.id DESC
    </select>

    <select id="listUpgradeVersion" resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        SELECT id, app_service_id, version,creation_date
        FROM
        devops_app_service_version
        WHERE
        app_service_id = (
        SELECT
        app_service_id
        FROM
        devops_app_service_version
        WHERE
        id = #{appServiceServiceId}
        )
        AND id > #{appServiceServiceId}
        ORDER BY id DESC
    </select>
    <select id="checkByProjectAndVersionId" resultType="java.lang.Integer">
        SELECT
        COUNT(0)
        FROM
        devops_app_service da
        JOIN devops_app_service_version dav ON dav.app_service_id = da.id
        WHERE
        da.project_id = #{projectId}
        AND dav.id = #{appServiceServiceId}
    </select>

    <select id="listByAppServiceVersionIds" resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        SELECT
            dav.id,
            dav.version,
            dav.app_service_id,
            dav.commit,
            dav.ref,
            dav.object_version_number,
            dav.created_by,
            dav.creation_date,
            dav.last_updated_by,
            dav.last_update_date,
            dashv.harbor_repo_type as repo_type,
            dashv.helm_config_id,
            dashv.harbor_config_id,
            dashv.value_id,
            dashv.readme_value_id,
            dashv.image,
            dashv.repository
        FROM
        devops_app_service_version dav
        left join devops_app_service_helm_version dashv on dashv.app_service_version_id = dav.id
        where 1=1
        AND dashv.repository IS NOT NULL
        <if test="appServiceServiceIds != null">
            AND dav.id in
            <foreach collection="appServiceServiceIds" item="appServiceServiceIds" index="index" open="(" close=")" separator=",">
                #{appServiceServiceIds}
            </foreach>
        </if>
    </select>

    <select id="selectByAppServiceVersionId" resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        SELECT dav.id,
               dav.version,
               dav.app_service_id,
               dav.commit,
               dav.ref,
               dav.object_version_number,
               dav.created_by,
               dav.creation_date,
               dav.last_updated_by,
               dav.last_update_date,
               dashv.harbor_repo_type as repo_type,
               dashv.helm_config_id,
               dashv.harbor_config_id,
               dashv.value_id,
               dashv.readme_value_id,
               dashv.image,
               dashv.repository
        FROM devops_app_service_version dav
                     join devops_app_service_helm_version dashv on dashv.app_service_version_id = dav.id
        where dav.id = #{appServiceVersionId}
    </select>

    <select id="listByAppServiceIdAndBranch" resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        SELECT
            dav.id,
            dav.version,
            dav.app_service_id,
            dav.commit,
            dav.ref,
            dav.repository,
            dav.object_version_number,
            dav.created_by,
            dav.creation_date,
            dav.last_updated_by,
            dav.last_update_date,
            dashv.harbor_repo_type as repo_type,
            dashv.helm_config_id,
            dashv.harbor_config_id,
            dashv.value_id,
            dashv.readme_value_id,
            dashv.image
        FROM
             devops_app_service_version dav
        left join devops_app_service_helm_version dashv  on dashv.app_service_version_id = dav.id
        WHERE
            app_service_id = #{appServiceId}
            and commit is not null
            and version LIKE CONCAT(CONCAT('%',#{branch, jdbcType=VARCHAR}),'%')
            AND dashv.repository IS NOT NULL
        order by id desc
        limit 10
    </select>


    <select id="queryByPipelineId" resultType="java.lang.String">
        SELECT dav.version
        FROM devops_gitlab_pipeline dgp
                 LEFT JOIN devops_gitlab_commit dgc ON dgp.commit_id = dgc.id
                 LEFT JOIN devops_app_service_version dav
                           ON dav.`commit` = dgc.commit_sha and dav.app_service_id = #{appServiceId}
        WHERE dgp.pipeline_id = #{pipelineId}
          and dav.ref = #{branch}
        limit 1
    </select>

    <select id="queryValueByAppServiceId" resultType="java.lang.String">
        SELECT
        davv.value
        FROM
        devops_app_service_version dav
        left join devops_app_service_helm_version dashv on dashv.app_service_version_id = dav.id
        LEFT JOIN devops_app_service_version_value davv ON davv.id = dashv.value_id
        WHERE
        dav.app_service_id = #{appServiceId}
        ORDER BY dav.id DESC
        LIMIT 1
    </select>

    <select id="listShareVersionByAppId" resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        SELECT DISTINCT
        davall.id,
        davall.app_service_id,
        davall.`commit`,
        davall.image,
        davall.version
        FROM
        (
        SELECT
        dav.app_service_id,
        dav.`commit`,
        dav.version,
        dav.id,
        dav.image
        FROM
        devops_app_service_version dav
        JOIN (
        SELECT
        dasr.version_type
        FROM
        devops_app_service_share_rule dasr
        WHERE
        dasr.app_service_id = #{appServiceId}
        AND dasr.version IS NULL
        ) dasr1 ON dav.version LIKE CONCAT(
        CONCAT('%', dasr1.version_type, '%')
        )
        AND dav.app_service_id = #{appServiceId}
        UNION
        SELECT
        dav.app_service_id,
        dav.`commit`,
        dav.version,
        dav.id,
        dav.image
        FROM
        devops_app_service_version dav
        JOIN (
        SELECT
        dasr.version
        FROM
        devops_app_service_share_rule dasr
        WHERE
        dasr.app_service_id = #{appServiceId}
        AND dasr.version IS NOT NULL
        ) dasr2 ON dav.version = dasr2.version
        AND dav.app_service_id = #{appServiceId}
        ) davall
        <if test='params != null and params.size > 0'>
            AND
            <foreach collection="params" item="param" open="(" separator=" OR " close=")">
                WHERE davall.version LIKE CONCAT(CONCAT('%', #{param}, '%'))
            </foreach>
        </if>
    </select>


    <select id="listServiceVersionByAppServiceIds" resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        <choose>
            <when test="share != null and share != ''">
                (SELECT version.*
                FROM devops_app_service_share_rule dassr
                LEFT JOIN devops_app_service_version version ON dassr.app_service_id = version.app_service_id
                WHERE dassr.app_service_id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
                <if test="share == 'share'">
                    and dassr.share_level = 'organization'
                </if>
                <if test="share == 'project'">
                    and dassr.share_level = 'project'
                    and dassr.project_id = #{projectId}
                </if>
                AND dassr.version IS NOT NULL
                AND dassr.version = version.version
                <if test="params != null and params != ''">
                    AND dassr.version LIKE CONCAT('%', CONCAT(#{params},'%'))
                </if>)
                UNION
                (
                SELECT version.*
                FROM devops_app_service_share_rule dassr
                LEFT JOIN devops_app_service_version version ON dassr.app_service_id = version.app_service_id
                WHERE dassr.app_service_id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
                <if test="share == 'share'">
                    and dassr.share_level = 'organization'
                </if>
                <if test="share == 'project'">
                    and dassr.share_level = 'project'
                    and dassr.project_id = #{projectId}
                </if>
                AND dassr.version IS NULL
                AND version.version LIKE CONCAT('%', CONCAT(dassr.version_type,'%'))
                <if test="params != null and params != ''">
                    AND dassr.version LIKE CONCAT('%', CONCAT(#{params},'%'))
                </if>
                )
            </when>
            <when test="share == null">
                select * from devops_app_service_version
                WHERE app_service_id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
                <if test="params != null and params != ''">
                    AND version LIKE CONCAT('%', CONCAT(#{params},'%'))
                </if>
            </when>
        </choose>
        order by id desc
    </select>

    <select id="queryServiceVersionByAppServiceIdAndShare"
            resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        select
               *
        from devops_app_service_version
        where app_service_id=#{appServiceId}
        <if test="share != null and share != ''">
            and version in(select version from devops_app_service_share_rule where app_service_id=#{appServiceId})
        </if>
        order by last_update_date desc
    </select>

    <select id="listVersions" resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        SELECT
        dasv.id,
        dasv.version,
        dasv.app_service_id,
        dashv.harbor_config_id,
        dashv.harbor_repo_type as repo_type,
        dashv.image,
        das. CODE AS appServiceCode,
        das.`name` AS appServiceName,
        das.type AS appServiceType,
        das.project_id AS projectId
        FROM
        devops_app_service_version dasv
        left join devops_app_service_helm_version dashv on dashv.app_service_version_id = dasv.id
        JOIN devops_app_service das ON das.id = dasv.app_service_id
        <if test="appServiceVersionIds!=null and appServiceVersionIds.size>0">
            WHERE dasv.id in
            <foreach collection="appServiceVersionIds" item="versionId"
                     open="(" separator="," close=")">
                #{versionId}
            </foreach>
        </if>

    </select>
    <delete id="deleteByIds">
        DELETE FROM devops_app_service_version
        where id in
        <foreach collection="versionIds" item="versionId"
                 open="(" separator="," close=")">
            #{versionId}
        </foreach>
    </delete>

    <select id="queryByShareVersion" resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        select * from ((SELECT version.*
        FROM devops_app_service_share_rule dassr
        LEFT JOIN devops_app_service_version version ON dassr.app_service_id = version.app_service_id
        WHERE
        dassr.app_service_id = #{appServiceId}
        AND
        (
        dassr.share_level = 'organization'
        or (
        dassr.share_level = 'project'
        and dassr.project_id = #{projectId}) )
        AND dassr.version IS NOT NULL
        AND dassr.version = version.version
        )
        UNION
        (
        SELECT version.*
        FROM devops_app_service_share_rule dassr
        LEFT JOIN devops_app_service_version version ON dassr.app_service_id = version.app_service_id
        WHERE
        dassr.app_service_id = #{appServiceId}
        AND
        (
        dassr.share_level = 'organization'
        or (
        dassr.share_level = 'project'
        and dassr.project_id = #{projectId}) )
        AND dassr.version IS NULL
        AND version.version LIKE CONCAT('%', CONCAT(dassr.version_type,'%'))
        )) vss
        order BY vss.id desc
        LIMIT 1
    </select>

    <select id="queryByCommitShaAndRef" resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        SELECT
            dav.id,
            dav.version,
            dav.app_service_id,
            dav.commit,
            dav.ref,
            dav.repository,
            dav.object_version_number,
            dav.created_by,
            dav.creation_date,
            dav.last_updated_by,
            dav.last_update_date,
            dashv.harbor_repo_type as repo_type,
            dashv.helm_config_id,
            dashv.harbor_config_id,
            dashv.value_id,
            dashv.readme_value_id,
            dashv.image
        FROM devops_app_service_version dav
        join devops_app_service_helm_version dashv on dav.id = dashv.app_service_version_id
        WHERE dav.app_service_id = #{appServiceId} AND dav.commit = #{commitSha} and dav.ref = #{ref}
        order by id desc
        limit 1
    </select>

    <select id="pageShareVersionByAppServiceIdAndVersion"
            resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        SELECT DISTINCT
        davall.id,
        davall.app_service_id,
        davall.`commit`,
        davall.image,
        davall.version
        FROM
        (
        SELECT
        dav.app_service_id,
        dav.`commit`,
        dav.version,
        dav.id,
        dashv.image
        FROM
        devops_app_service_version dav
        join devops_app_service_helm_version dashv on dashv.app_service_version_id = dav.id
        JOIN (
        SELECT
        dasr.version_type
        FROM
        devops_app_service_share_rule dasr
        WHERE
        dasr.app_service_id = #{appServiceId}
        AND dasr.version IS NULL
        ) dasr1 ON dav.version LIKE CONCAT(
        CONCAT('%', dasr1.version_type, '%')
        )
        AND dav.app_service_id = #{appServiceId}
        UNION
        SELECT
        dav.app_service_id,
        dav.`commit`,
        dav.version,
        dav.id,
        dashv.image
        FROM
        devops_app_service_version dav
        join devops_app_service_helm_version dashv on dashv.app_service_version_id = dav.id
        JOIN (
        SELECT
        dasr.version
        FROM
        devops_app_service_share_rule dasr
        WHERE
        dasr.app_service_id = #{appServiceId}
        AND dasr.version IS NOT NULL
        ) dasr2 ON dav.version = dasr2.version
        AND dav.app_service_id = #{appServiceId}
        ) davall
        <if test='version != null'>
           WHERE davall.version LIKE CONCAT(CONCAT('%', #{version}, '%'))
        </if>
    </select>

    <select id="listAllVersionsWithHelmConfig" resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        SELECT id,
               helm_config_id,
               repo_type,
               harbor_config_id,
               value_id,
               readme_value_id,
               image,
               repository
        FROM devops_app_service_version
        WHERE helm_config_id IS NOT NULL
          AND harbor_config_id IS NOT NULL
          and repo_type is not null
    </select>

    <select id="queryCountVersionsWithHelmConfig" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM devops_app_service_version
        WHERE helm_config_id IS NOT NULL
          AND harbor_config_id IS NOT NULL
          and repo_type is not null
    </select>
    <select id="queryCountVersionsWithHarborConfig" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM devops_app_service_version
        WHERE harbor_config_id IS NOT NULL
          and repo_type is not null
          and image is not null
    </select>
    <select id="listAllVersionsWithHarborConfig"
            resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        SELECT *
        FROM devops_app_service_version
        WHERE harbor_config_id IS NOT NULL
          and repo_type is not null
          and image is not null
    </select>
    <select id="queryLatestByAppServiceIdVersionType"
            resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        SELECT *
        FROM devops_app_service_version dasv
        <where>
            dasv.app_service_id = #{appServiceId}
            <if test="version!=null">
                and dasv.version LIKE CONCAT(CONCAT('%', #{version}, '%'))
            </if>
        </where>
        order by id desc
        limit 1

    </select>

    <select id="queryCountVersionsWithHelmConfigNullOrImageConfigNull" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM devops_app_service_version
        WHERE repo_type IS NOT NULL
          AND ((helm_config_id IS NULL) OR (helm_config_id IS NOT NULL AND harbor_config_id IS NULL))
    </select>

    <select id="listAllVersionsWithHelmConfigNullOrImageConfigNull"
            resultType="io.choerodon.devops.infra.dto.AppServiceVersionDTO">
        SELECT dasv.id,
               dasv.helm_config_id,
               dasv.repo_type,
               dasv.harbor_config_id,
               dasv.value_id,
               dasv.readme_value_id,
               dasv.image,
               dasv.repository,
               dasv.app_service_id,
               das.project_id
        FROM devops_app_service_version dasv
                 INNER JOIN devops_app_service das ON das.id = dasv.app_service_id
        WHERE dasv.repo_type IS NOT NULL
          AND ((dasv.helm_config_id IS NULL) OR (dasv.helm_config_id IS NOT NULL AND dasv.harbor_config_id IS NULL))
    </select>
</mapper>
