<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.AppUserPermissionMapper">
    <select id="listAllUserPermissionByAppId" resultType="io.choerodon.devops.infra.dto.AppUserPermissionDO">
        SELECT
        daur.iam_user_id
        FROM devops_app_user_rel daur
        WHERE daur.app_id = #{appId}
    </select>

    <delete id="deleteByUserIdWithAppIds">
        DELETE FROM devops_app_user_rel
        WHERE iam_user_id = #{userId}
        <choose>
            <when test="appIds !=null and appIds.size > 0">
                and app_id IN
                <foreach collection="appIds" item="appId" open="(" close=")" separator=",">
                    #{appId}
                </foreach>
            </when>
            <otherwise>
                and app_id is null
            </otherwise>
        </choose>
    </delete>
</mapper>