<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.devops.infra.mapper.CiAuditRecordMapper">

    <select id="queryByUniqueOptionForUpdate" resultType="io.choerodon.devops.infra.dto.CiAuditRecordDTO">
        SELECT *
        FROM devops_ci_audit_record
        WHERE app_service_id = #{appServiceId}
          and gitlab_pipeline_id = #{gitlabPipelineId}
          AND job_name = #{name}
            FOR
        UPDATE
    </select>

    <select id="listApprovalInfoByProjectIdsAndUserId" resultType="io.choerodon.devops.api.vo.ApprovalVO">
        select
        dcp.project_id,
        dcp.id as pipeline_id,
        dcp.name as pipeline_name,
        dcpr.id as devops_pipeline_record_rel_id,
        dcjr.id as task_record_id,
        dcjr.stage as stage_name
        from devops_ci_audit_record dcar
        inner join devops_ci_audit_user_record dcaur on (dcar.id = dcaur.audit_record_id and dcaur.status = 'not_audit')
        inner join devops_ci_job_record dcjr on (dcar.job_record_id = dcjr.id and dcjr.status = 'manual')
        inner join devops_ci_pipeline_record dcpr on dcpr.id = dcjr.ci_pipeline_record_id
        inner join devops_cicd_pipeline dcp on dcp.id = dcpr.ci_pipeline_id
        <where>
                dcaur.user_id = #{userId}
                and dcp.project_id in
                <foreach collection="projectIds" item="projectId" open="(" separator="," close=")">
                    #{projectId}
                </foreach>
            </where>
        order by dcjr.id desc

    </select>
</mapper>

