<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.CiCdPipelineMapper">
    <update id="disablePipeline">
         update devops_cicd_pipeline set is_enabled = false
        where id = #{ciCdPipelineId}
    </update>
    <update id="enablePipeline">
        update devops_cicd_pipeline set is_enabled = true
        where id = #{ciCdPipelineId}
    </update>


    <select id="queryByProjectIdAndName" resultType="io.choerodon.devops.api.vo.CiCdPipelineVO">
        SELECT
        dcp.id,dcp.`name`,dcp.is_enabled AS enabled, dcp.app_service_id,dcp.trigger_type,dcp.project_id,
        das.`name` AS app_service_name, das.gitlab_project_id, dcp.image
        FROM devops_cicd_pipeline dcp
        INNER JOIN devops_app_service das ON dcp.app_service_id = das.id
        <where>
            dcp.project_id = #{projectId}
            <if test="name">
                and das.name like CONCAT(CONCAT('%', #{searchParam}),'%')
                or dcp.name like CONCAT(CONCAT('%', #{searchParam}),'%')
            </if>
            <if test="appServiceIds!=null and appServiceIds.size>0">
                and dcp.app_service_id in
                <foreach collection="appServiceIds" item="appServiceId" index="index"
                         open="(" close=")" separator=",">
                    #{appServiceId}
                </foreach>
            </if>
        </where>
        ORDER BY dcp.id DESC
    </select>

</mapper>