<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.devops.infra.mapper.CiJobConfigFileRelMapper">

    <delete id="deleteByJobIds">
        delete
        from devops_ci_job_config_file_rel
        where ci_job_id in
        <foreach collection="jobIds" item="jobId" open="(" separator="," close=")" index="i">
            #{jobId}
        </foreach>
    </delete>
    <select id="listByJobId" resultType="io.choerodon.devops.infra.dto.CiJobConfigFileRelDTO">
        select *
        from devops_ci_job_config_file_rel dcjcfr
        where ci_job_id = #{jobId}
        order by id
    </select>
</mapper>

