<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.devops.infra.mapper.CiTemplateJobStepRelMapper">


    <select id="listByJobIds" resultType="io.choerodon.devops.api.vo.template.CiTemplateJobStepRelVO">
        select
        dctjsr.id, dctjsr.ci_template_job_id, dctjsr.ci_template_step_id, dctjsr.sequence,
        dcs.id, dcs.project_id, dcs.name, dcs.type, dcs.script
        from devops_ci_template_job_step_rel dctjsr
        join devops_ci_step dcs on dctjsr.ci_template_job_id = dcs.id
        where dctjsr.ci_template_job_id in
        <foreach collection="jobIds" item="jobId" open="(" separator="," close=")">
            #{jobId}
        </foreach>
    </select>
</mapper>

