<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.CiTemplateStageBusMapper">

    <delete id="deleteByIds">
        <if test="stageIds != null and stageIds.size() != 0">
            DELETE FROM devops_ci_template_stage
            where id IN
            <foreach collection="stageIds" item="stageId" index="index"
                     open="(" close=")" separator=",">
                #{stageId}
            </foreach>
        </if>


    </delete>
</mapper>