<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DeployConfigMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="io.choerodon.devops.infra.dto.DeployConfigDTO">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="deploy_record_id" property="deployRecordId" jdbcType="DECIMAL"/>
        <result column="host_id" property="hostId" jdbcType="DECIMAL"/>
        <result column="deploy_object_key" property="deployObjectKey" jdbcType="VARCHAR"/>
        <result column="instance_id" property="instanceId" jdbcType="DECIMAL"/>
        <result column="instance_name" property="instanceName" jdbcType="VARCHAR"/>
        <result column="config_id" property="configId" jdbcType="DECIMAL"/>
        <result column="mount_path" property="mountPath" jdbcType="VARCHAR"/>
        <result column="config_group" property="configGroup" jdbcType="VARCHAR"/>
        <result column="config_code" property="configCode" jdbcType="VARCHAR"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="queryConfigsByHostId" resultType="io.choerodon.devops.infra.dto.DeployConfigDTO">
        SELECT ddc.id,
               ddc.project_id,
               ddc.deploy_record_id,
               ddc.host_id,
               ddc.deploy_object_key,
               ddc.instance_id,
               ddc.instance_name,
               ddc.config_id,
               ddc.mount_path,
               ddc.config_group,
               ddc.config_code,
               ddc.object_version_number
        FROM devops_deploy_config ddc
        WHERE ddc.host_id = #{hostId}
          AND ddc.deploy_record_id IN
          (
              SELECT MAX(ddr.id)
              FROM devops_deploy_record ddr
              JOIN devops_deploy_config ddcon ON ddcon.project_id = ddr.project_id
                                                     AND ddcon.deploy_record_id = ddr.id
                                                     AND ddcon.host_id = ddr.deploy_payload_id
              WHERE ddcon.host_id = #{hostId}
              GROUP BY ddcon.instance_name
          )
    </select>

    <select id="queryDeployConfig" resultType="io.choerodon.devops.infra.dto.DeployConfigDTO">
        SELECT ddc.id,
               ddc.project_id,
               ddc.deploy_record_id,
               ddc.host_id,
               ddc.deploy_object_key,
               ddc.instance_id,
               ddc.instance_name,
               ddc.config_id,
               ddc.mount_path,
               ddc.config_group,
               ddc.config_code,
               ddc.object_version_number
        FROM devops_deploy_config ddc
        WHERE ddc.project_id = #{projectId}
        <if test="recordId != null">
          AND ddc.deploy_record_id = #{recordId}
        </if>
        <if test="instanceId != null">
          AND ddc.instance_id = #{instanceId}
          AND ddc.creation_date = (
            SELECT MAX(ddco.creation_date)
            FROM devops_deploy_config ddco
            WHERE ddco.project_id = #{projectId} AND ddco.instance_id = #{instanceId}
        )
        </if>
    </select>
</mapper>