<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCdJobRecordMapper">

    <select id="queryFirstByStageRecordId"
            resultType="io.choerodon.devops.infra.dto.DevopsCdJobRecordDTO">
        SELECT *
        FROM devops_cd_job_record dcjr
        WHERE dcjr.stage_record_id = #{stageRecordId}
        ORDER BY dcjr.sequence ASC
        limit 1
    </select>

    <select id="queryRetryJob"
            resultType="io.choerodon.devops.infra.dto.DevopsCdJobRecordDTO">
        SELECT
            dcsr.*
        FROM
            devops_cd_job_record dcsr
        WHERE
            dcsr.stage_record_id = #{stageRecordId}
            AND (dcsr.`status` = 'FAILED' OR dcsr. STATUS = 'CANCELED')

    </select>

    <select id="queryFirstJobByStageRecordIdAndStatus"
            resultType="io.choerodon.devops.infra.dto.DevopsCdJobRecordDTO">
            SELECT
                dcsr.*
            FROM
                devops_cd_job_record dcsr
            WHERE
                dcsr.stage_record_id = #{stageRecordId}
                AND dcsr.`status` = #{status}
            ORDER BY sequence ASC
            LIMIT 1
    </select>

    <select id="queryCreatedOrPendingOrRunning"
            resultType="io.choerodon.devops.infra.dto.DevopsCdJobRecordDTO">
            SELECT
                dcsr.*
            FROM
                devops_cd_job_record dcsr
            WHERE
                dcsr.stage_record_id = #{stageRecordId}
                AND (dcsr.`status` = 'pending' or  dcsr.status='running' or dcsr. status = 'created')
    </select>
    <update id="updateNotAuditJobStatus">
        UPDATE devops_cd_job_record
        SET status = #{status}
        WHERE id = #{jobRecordId} AND status = 'not_audit'
    </update>

    <select id="listByIds" resultType="io.choerodon.devops.infra.dto.DevopsCdJobRecordDTO">
        SELECT
            dcjr.*,
            dcpr.pipeline_name,
            dcsr.stage_name as stage_name,
            dcpr.pipeline_id,
            dprr.id as devopsPipelineRecordRelId
        FROM
            devops_cd_job_record dcjr
        JOIN
            devops_cd_stage_record dcsr ON dcjr.stage_record_id=dcsr.id
        JOIN
            devops_cd_pipeline_record dcpr ON dcpr.id=dcsr.pipeline_record_id
        JOIN
            devops_pipeline_record_rel dprr ON dprr.cd_pipeline_record_id=dcpr.id
        WHERE
            dcjr.status='not_audit'
        AND
            dcjr.id
        IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="queryByPipelineRecordIdAndJobName"
            resultType="io.choerodon.devops.infra.dto.DevopsCdJobRecordDTO">
        SELECT dcjr.*
        FROM devops_cd_pipeline_record dcpr
                 INNER JOIN devops_cd_stage_record dcsr ON dcsr.pipeline_record_id = dcpr.id
                 INNER JOIN devops_cd_job_record dcjr ON dcjr.stage_record_id = dcsr.id
        WHERE dcpr.id = #{pipelineRecordId} AND dcjr.`name` = #{deployJobName}
    </select>
</mapper>
