<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsImageScanResultMapper">
    <select id="pageByOptions" resultType="io.choerodon.devops.infra.dto.DevopsImageScanResultDTO">
        select
        *
        from devops_image_scan_result disr
        where disr.GITLAB_PIPELINE_ID =#{gitlabPipelineId}
        AND disr.JOB_ID=#{jobId}

    </select>
</mapper>
