<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsDeployRecordMapper">

    <delete id="deleteRelatedRecordOfInstance">
        DELETE
        FROM devops_deploy_record
        WHERE deploy_id IN (SELECT command.id
        FROM devops_env_command command
        WHERE command.object = 'instance'
        AND command.object_id = #{instanceId,jdbcType=BIGINT})
	</delete>

	<select id="queryByBatchDeployRecordId" resultType="io.choerodon.devops.api.vo.AppServiceInstanceForRecordVO">
		SELECT  ddri.instance_id      AS instance_id,
				ddri.app_service_id   AS app_service_id,
				ddri.env_id           AS env_id,
				ddri.instance_code    AS app_name,
				das.name              AS app_service_name,
				ddri.instance_version AS app_service_version,
				de.name               AS env_name,
				(dasi.id IS NULL)     AS deleted
		FROM devops_deploy_record_instance ddri
		LEFT JOIN devops_app_service_instance dasi ON ddri.instance_id = dasi.id
		LEFT JOIN devops_app_service das ON ddri.app_service_id = das.id
		LEFT JOIN devops_env de ON ddri.env_id = de.id
		WHERE ddri.deploy_record_id = #{recordId,jdbcType=BIGINT}
	</select>
    <select id="listByParams" resultType="io.choerodon.devops.api.vo.DeployRecordVO">
		SELECT
			ddr.id AS id,
		    ddr.deploy_type,
		    ddr.deploy_source,
		    denc.status AS command_status,
			denc.object_id AS instance_id,
			ddr.app_name,
			ddr.app_code,
			ddr.app_id,
			ddr.deploy_mode,
			ddr.deploy_payload_id,
			ddr.deploy_payload_name,
			ddr.deploy_result,
			ddr.deploy_object_type,
			ddr.deploy_object_name,
			ddr.deploy_object_version,
		    ddr.deploy_time,
		    ddr.error_message,
		    ddr.log,
			ddr.created_by
		FROM devops_deploy_record ddr
		LEFT JOIN devops_env_command denc ON ddr.deploy_id = denc.id
		<where>
			ddr.project_id = #{projectId}
			<if test="deployType != null">
				and ddr.deploy_type = #{deployType}
			</if>
			<if test="deployMode != null">
				and ddr.deploy_mode = #{deployMode}
			</if>
			<if test="deployPayloadName != null">
				and ddr.deploy_payload_name LIKE CONCAT(CONCAT('%', #{deployPayloadName, jdbcType=VARCHAR}),'%')
			</if>
			<if test="deployResult != null">
				and (denc.status = #{deployResult} or denc.status = #{deployResult})
			</if>
			<if test="deployObjectName != null">
				and ddr.deploy_object_name LIKE CONCAT(CONCAT('%', #{deployObjectName, jdbcType=VARCHAR}),'%')
			</if>
			<if test="deployObjectVersion != null">
				and ddr.deploy_object_version LIKE CONCAT(CONCAT('%', #{deployObjectVersion, jdbcType=VARCHAR}),'%')
			</if>
			<if test="createdBy != null">
				and ddr.created_by = #{createdBy}
			</if>
		</where>

	</select>
	<select id="queryEnvDeployRecordByCommandId"
			resultType="io.choerodon.devops.api.vo.DeployRecordVO">
		SELECT
			ddr.id AS id,
			ddr.deploy_type,
			denc.status AS command_status,
			denc.object_id AS instance_id,
			ddr.app_id,
			ddr.app_name,
			ddr.app_code,
			ddr.deploy_mode,
			ddr.deploy_payload_id,
			ddr.deploy_payload_name,
			ddr.deploy_result,
			ddr.deploy_object_type,
			ddr.deploy_object_name,
			ddr.deploy_object_version,
			ddr.deploy_time,
			ddr.created_by
		FROM devops_deploy_record ddr
				 LEFT JOIN devops_env_command denc ON ddr.deploy_id = denc.id
		WHERE ddr.deploy_id = #{commandId}
		  and ddr.deploy_mode = 'env'
	</select>
	<select id="queryHostDeployRecordByCommandId" resultType="io.choerodon.devops.api.vo.DeployRecordVO">
		SELECT
			ddr.id AS id,
			ddr.deploy_type,
			dhc.status AS command_status,
			ddr.app_id,
			ddr.app_name,
			ddr.app_code,
			ddr.deploy_mode,
			ddr.deploy_payload_id,
			ddr.deploy_payload_name,
			ddr.deploy_result,
			ddr.deploy_object_type,
			ddr.deploy_object_name,
			ddr.deploy_object_version,
			ddr.deploy_time,
			ddr.created_by
		FROM devops_deploy_record ddr
				 LEFT JOIN devops_host_command dhc ON ddr.deploy_id = dhc.id
		WHERE ddr.deploy_id = #{commandId} and ddr.deploy_mode = 'host' and ddr.deploy_type = 'auto'
	</select>
</mapper>
