<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsEnvCommandMapper">

    <select id="queryByObject" resultType="io.choerodon.devops.infra.dto.DevopsEnvCommandDTO">
        SELECT
        d.*
        FROM
        devops_env_command d
        WHERE
        d.object = #{objectType} and d.object_id = #{objectId}
        ORDER BY d.id DESC LIMIT 1
    </select>


    <select id="listByObject" resultType="io.choerodon.devops.infra.dto.DevopsEnvCommandDTO">
        SELECT
        d.*
        FROM
        devops_env_command d
        WHERE
        d.object = #{objectType} and d.object_id = #{objectId}
        <if test="startTime != null">
            AND d.creation_date >= CONCAT('','${startTime}',' 00:00:00')
        </if>
        <if test="endTime != null">
            AND d.creation_date <![CDATA[<=]]>  CONCAT('','${endTime}',' 23:59:59')
        </if>
        ORDER BY d.id DESC
    </select>

    <select id="listInstanceCommand" resultType="io.choerodon.devops.infra.dto.DevopsEnvCommandDTO">
        SELECT
        d.*
        FROM
        devops_env_command d
        WHERE
        d.object = #{objectType} and d.object_id = #{objectId}
        and d.command_type in ('update','create')
        ORDER BY d.id DESC
    </select>


</mapper>