<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsRegistrySecretMapper">

    <update id="updateStatus">
        UPDATE devops_registry_secret
        SET status = #{status}
        WHERE id = #{id};
    </update>

</mapper>
