<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCdAuditRecordMapper">
    <select id="listByProjectIdsAndUserId" resultType="io.choerodon.devops.infra.dto.DevopsCdAuditRecordDTO">
        SELECT * FROM devops_cd_audit_record dcar
        JOIN devops_cd_job_record dcjr ON dcjr.id=dcar.job_record_id
        JOIN devops_cd_stage_record dcsr ON dcsr.id=dcjr.stage_record_id
        JOIN devops_cd_pipeline_record ddpr ON ddpr.id=dcsr.pipeline_record_id
        JOIN devops_cicd_pipeline didp ON didp.id=ddpr.pipeline_id
        WHERE dcar.user_id=#{userId}
        AND dcar.status='not_audit'
        <if test="projectIds!=null and projectIds.size>0">
            AND dcar.project_id IN
            <foreach collection="projectIds" item="projectId" separator="," open="(" close=")">
                #{projectId}
            </foreach>
        </if>
    </select>

    <update id="updateProjectIdByJobRecordId">
        UPDATE devops_cd_audit_record
        SET project_id =#{projectId}
        WHERE job_record_id=#{jobRecordId}
    </update>
</mapper>