<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsHostMapper">
    <select id="listByOptions" resultType="io.choerodon.devops.api.vo.DevopsHostVO">
        SELECT dh.*
        FROM devops_host dh
        <where>
            <if test="projectId != null">
                dh.project_id = #{projectId}
            </if>
            <if test="searchParam != null">
                and (dh.name LIKE CONCAT(CONCAT('%', #{searchParam}), '%')
                        OR dh.host_ip LIKE CONCAT(CONCAT('%', #{searchParam}), '%'))
            </if>
        </where>
    </select>

    <select id="listByProjectIdAndIds" resultType="io.choerodon.devops.infra.dto.DevopsHostDTO">
        SELECT dh.*
        FROM devops_host dh
                WHERE project_id = #{projectId,jdbcType=BIGINT}
                  AND host_ip IS NOT NULL
                  AND id IN
        <foreach collection="hostIds" item="hostId" open="(" close=")" separator=",">
            #{hostId,jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="listByProject" resultType="io.choerodon.devops.infra.dto.DevopsHostDTO">
        SELECT dh.*
        FROM devops_host dh
                WHERE
                project_id IN
        <foreach collection="projectIds" item="projectId" open="(" close=")" separator=",">
            #{projectId,jdbcType=BIGINT}
        </foreach>
        order by id desc
    </select>

    <select id="listMemberHostByOptions" resultType="io.choerodon.devops.api.vo.DevopsHostVO">
        (
                SELECT dh.*
                FROM devops_host dh
                             INNER JOIN devops_host_user_permission dhup ON dhup.host_id = dh.id
        <where>
                    dhup.iam_user_id = #{userId}
            <if test="projectId != null">
                AND dh.project_id = #{projectId}
            </if>
            <if test="searchParam != null">
                and (dh.name LIKE CONCAT(CONCAT('%', #{searchParam}), '%')
                        OR dh.host_ip LIKE CONCAT(CONCAT('%', #{searchParam}), '%'))
            </if>
        </where>
        )
                UNION
                (
                SELECT dh.*
                FROM devops_host dh
        <where>
            dh.created_by = #{userId}
            <if test="projectId != null">
                AND dh.project_id = #{projectId}
            </if>
            <if test="searchParam != null">
                and (dh.name LIKE CONCAT(CONCAT('%', #{searchParam}), '%')
                        OR dh.host_ip LIKE CONCAT(CONCAT('%', #{searchParam}), '%'))
            </if>
        </where>
        )
    </select>
    <select id="selectPipelineByHostId" resultType="io.choerodon.devops.infra.dto.CiCdPipelineDTO">
        SELECT
            dcp.id,
            dcp.`name`
        FROM
            devops_cd_job dcj
                JOIN devops_cd_host_deploy_info dchdi ON dcj.deploy_info_id = dchdi.id
                JOIN devops_cd_stage dcs ON dcs.id= dcj.stage_id
                JOIN devops_cicd_pipeline dcp ON dcs.pipeline_id = dcp.id
        WHERE dchdi.host_id = #{hostId}
    </select>
</mapper>