<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsPipelineRecordRelMapper">

    <select id="selectBySprint" resultType="io.choerodon.devops.infra.dto.DevopsPipelineRecordRelDTO">
        SELECT
        *
        FROM
        devops_pipeline_record_rel dprr
        WHERE
        dprr.pipeline_id = #{pipeline_id}
        AND dprr.creation_date <![CDATA[>=]]> #{startDate}
        AND dprr.creation_date <![CDATA[<=]]> #{endDate}
    </select>
    <select id="queryLatestedPipelineRecord"
            resultType="io.choerodon.devops.api.vo.pipeline.PipelineCompositeRecordVO">
        SELECT
        dcipr.status AS ci_status,
        dcdpr.status AS cd_status,
        dprr.creation_date
        FROM
        devops_pipeline_record_rel dprr
        LEFT JOIN devops_ci_pipeline_record dcipr ON dcipr.id = dprr.ci_pipeline_record_id
        LEFT JOIN devops_cd_pipeline_record dcdpr ON dcdpr.id = dprr.cd_pipeline_record_id
        WHERE dprr.pipeline_id = #{id}
        order by dprr.id desc
        limit 1
    </select>

    <select id="listByPipelineId" resultType="io.choerodon.devops.infra.dto.DevopsPipelineRecordRelDTO">
        select
        dprr.*
        from devops_pipeline_record_rel dprr
        where dprr.pipeline_id = #{pipelineId}
        <if test="startTime != null">
            AND dprr.creation_date >= CONCAT('','${startTime}',' 00:00:00')
        </if>
        <if test="endTime != null">
            AND dprr.creation_date <![CDATA[<=]]>  CONCAT('','${endTime}',' 23:59:59')
        </if>
        order by dprr.creation_date DESC
    </select>

    <select id="listByPipelineIds" resultType="io.choerodon.devops.infra.dto.DevopsPipelineRecordRelDTO">
        select
        dprr.*
        from devops_pipeline_record_rel dprr
        where 1=1
        <if test="pipelineIds != null">
            AND dprr.pipeline_id in
            <foreach collection="pipelineIds" item="pipelineId" open="(" close=")" separator=",">
                #{pipelineId}
            </foreach>
        </if>
        <if test="startTime != null">
            AND dprr.creation_date >= CONCAT('','${startTime}',' 00:00:00')
        </if>
        <if test="endTime != null">
            AND dprr.creation_date <![CDATA[<=]]>  CONCAT('','${endTime}',' 23:59:59')
        </if>
        order by dprr.creation_date DESC
    </select>
</mapper>
