<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsIssueRelMapper">
    <delete id="batchDeleteByBranchIdAndIssueIds">
        DELETE
        FROM devops_issue_rel
                WHERE object = 'branch'
                  AND object_id = #{branchId}
                  AND issue_id IN
        <foreach collection="issueIds" item="issueId" open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </delete>

    <select id="listIssueIdsByObjectTypeAndObjectId" resultType="java.lang.Long">
        SELECT issue_id
        FROM devops_issue_rel dir
                WHERE dir.object = #{object}
                  AND dir.object_id IN
        <foreach collection="objectIds" item="objectId" open="(" close=")" separator=",">
            #{objectId}
        </foreach>
    </select>

    <select id="listIssueIdsByObjectTypeAndObjectIds" resultType="io.choerodon.devops.infra.dto.DevopsIssueRelDTO">
        SELECT dir.issue_id, dir.object_id
        FROM devops_issue_rel dir
                WHERE dir.object = #{object}
                  AND dir.object_id IN
        <foreach collection="objectIds" item="objectId" open="(" close=")" separator=",">
            #{objectId}
        </foreach>
    </select>

    <select id="listRelationByIssueIdAndObjectType" resultType="io.choerodon.devops.infra.dto.DevopsIssueRelDTO">
        SELECT dir.object_id, dir.project_id, dir.app_service_code, dir.branch_id
        FROM devops_issue_rel dir
        WHERE dir.issue_id = #{issueId}
          AND dir.object = #{object}
    </select>

    <select id="listObjectIdsByIssueIdsAndObjectType" resultType="io.choerodon.devops.infra.dto.DevopsIssueRelDTO">
        SELECT dir.issue_id, dir.object_id, dir.app_service_code, dir.project_id, dir.branch_id
        FROM devops_issue_rel dir
                WHERE dir.object = #{object}
                  AND dir.issue_id IN
        <foreach collection="issueIds" item="issueId" open="(" close=")" separator=",">
            #{issueId}
        </foreach>
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM devops_issue_rel;
    </select>

    <update id="batchUpdate">
        UPDATE devops_issue_rel
                SET branch_id = CASE id
        <foreach collection="dtosToUpdate" item="dto" close="end">
            WHEN #{dto.id} then #{dto.branchId}
        </foreach>
        WHERE id IN
        <foreach collection="dtosToUpdate" item="dto" open="(" close=")" separator=",">
            #{dto.id}
        </foreach>
    </update>

    <select id="listRelatedBranchIds" resultType="java.lang.Long">
        SELECT dir.object_id
        FROM devops_issue_rel dir
                WHERE dir.object = 'branch'
                  AND dir.object_id IN
        <foreach collection="commitRelatedBranchIds" item="branchId" open="(" close=")" separator=",">
            #{branchId}
        </foreach>
    </select>
</mapper>