<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsPolarisRecordMapper">
    <select id="queryRecordByScopeIdAndScope"
            resultType="io.choerodon.devops.infra.dto.DevopsPolarisRecordDTO">
        SELECT dpr.*
        FROM devops_polaris_record dpr
        WHERE dpr.scope_id = #{scopeId,jdbcType=BIGINT}
        AND dpr.scope = #{scope,jdbcType=VARCHAR}
    </select>
</mapper>
