<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsDeployAppCenterEnvMapper">
    <select id="listAppFromEnv" resultType="io.choerodon.devops.api.vo.DevopsDeployAppCenterVO">
        SELECT *
        FROM devops_deploy_app_center_env
                WHERE project_id = #{projectId, jdbcType=BIGINT}
        <if test="envId != null">
            AND env_id = #{envId, jdbcType=BIGINT}
        </if>
        <if test="name != null and name != ''">
            AND name LIKE CONCAT(CONCAT('%', #{name, jdbcType=VARCHAR}), '%')
        </if>
        <if test="rdupmType != null and rdupmType != ''">
            AND rdupm_type = #{rdupmType, jdbcType=VARCHAR}
        </if>
        <if test="operationType != null and operationType != ''">
            AND operation_type = #{operationType, jdbcType=VARCHAR}
        </if>
        <if test="params != null and params != ''">
            AND name LIKE CONCAT(CONCAT('%', #{params, jdbcType=VARCHAR}), '%')
        </if>
        ORDER BY id DESC
    </select>

    <select id="queryByEnvIdAndCode" resultType="io.choerodon.devops.infra.dto.DevopsDeployAppCenterEnvDTO">
        SELECT id, name, object_version_number
        FROM devops_deploy_app_center_env
        WHERE env_id = #{environmentId}
          AND code = #{appCode}
    </select>

    <delete id="deleteByEnvIdAndObjectIdAndRdupmType">
        DELETE
        FROM devops_deploy_app_center_env
        WHERE env_id = #{envId}
          AND object_id = #{objectId}
          AND rdupm_type = #{rdupmType}
    </delete>

    <select id="listAppFromEnvByUserId" resultType="io.choerodon.devops.api.vo.DevopsDeployAppCenterVO">
        SELECT ddace.*
        FROM devops_deploy_app_center_env ddace
        LEFT JOIN devops_env de ON de.id = ddace.env_id
        LEFT JOIN devops_env_user_permission deup ON deup.env_id = de.id
        WHERE ddace.project_id = #{projectId, jdbcType=BIGINT}
        AND (de.is_skip_check_permission = 1 OR deup.iam_user_id = #{userId})
        <if test="envId != null">
            AND ddace.env_id = #{envId, jdbcType=BIGINT}
        </if>
        <if test="name != null and name != ''">
            AND ddace.name LIKE CONCAT(CONCAT('%', #{name, jdbcType=VARCHAR}), '%')
        </if>
        <if test="rdupmType != null and rdupmType != ''">
            AND ddace.rdupm_type = #{rdupmType, jdbcType=VARCHAR}
        </if>
        <if test="operationType != null and operationType != ''">
            AND ddace.operation_type = #{operationType, jdbcType=VARCHAR}
        </if>
        <if test="params != null and params != ''">
            AND ddace.name LIKE CONCAT(CONCAT('%', #{params, jdbcType=VARCHAR}), '%')
        </if>
        ORDER BY ddace.id DESC
    </select>
</mapper>