<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCdStageRecordMapper">

    <select id="queryFirstByPipelineRecordId"
            resultType="io.choerodon.devops.infra.dto.DevopsCdStageRecordDTO">
        SELECT
        dcsr.*
        FROM devops_cd_stage_record dcsr
        WHERE dcsr.pipeline_record_id = #{pipelineRecordId}
        ORDER BY dcsr.sequence ASC
        limit 1
    </select>

    <select id="queryRetryStage"
            resultType="io.choerodon.devops.infra.dto.DevopsCdStageRecordDTO">
        SELECT
            dcsr.*
        FROM
            devops_cd_stage_record dcsr
        WHERE
            dcsr.pipeline_record_id = #{pipelineRecordId}
            AND (dcsr.`status` = 'FAILED' or  dcsr.status='CANCELED')

    </select>

    <select id="queryFirstStageByPipelineRecordIdAndStatus"
            resultType="io.choerodon.devops.infra.dto.DevopsCdStageRecordDTO">
            SELECT
                dcsr.*
            FROM
                devops_cd_stage_record dcsr
            WHERE
                dcsr.pipeline_record_id = #{pipelineRecordId}
                AND dcsr.`status` = #{status}
            ORDER BY sequence ASC
            LIMIT 1
    </select>

    <select id="queryCreatedOrPendingAndRunning"
            resultType="io.choerodon.devops.infra.dto.DevopsCdStageRecordDTO">
            SELECT
                dcsr.*
            FROM
                devops_cd_stage_record dcsr
            WHERE
                dcsr.pipeline_record_id = #{pipelineRecordId}
                AND (dcsr.`status` = 'pending' or  dcsr.status='running' or dcsr.status = 'created')
    </select>

    <select id="listByIds" resultType="io.choerodon.devops.infra.dto.DevopsCdStageRecordDTO">
        SELECT
            dcsr.*,
            dcpr.pipeline_name,
            dcpr.pipeline_id,
            dprr.id as devopsPipelineRecordRelId
        FROM
            devops_cd_stage_record dcsr
        JOIN
            devops_cd_pipeline_record dcpr ON dcpr.id=dcsr.pipeline_record_id
        JOIN
            devops_pipeline_record_rel dprr ON dprr.cd_pipeline_record_id=dcpr.id
        WHERE
            dcsr.id
        IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
