<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsMiddlewareMapper">
    <select id="checkNameUnique" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM devops_middleware dm
        WHERE dm.project_id=#{projectId}
        AND dm.name=#{name}
        AND dm.type=#{type}
    </select>
</mapper>