<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsGitlabCommitMapper">
    <select id="listCommits" resultType="io.choerodon.devops.infra.dto.DevopsGitlabCommitDTO">
        SELECT
        dgc.id,
        dgc.user_id,
        dgc.app_id,
        dgc.ref,
        dgc.commit_date,
        dgc.commit_sha,
        dgc.commit_content,
        dgc.url,
        da.`name` appName
        FROM
        devops_gitlab_commit dgc
        JOIN devops_application da ON dgc.app_id = da.id
        WHERE
        da.project_id = #{projectId}
        <if test="appIds != null">
           AND dgc.app_id IN
            <foreach collection="appIds" item="appId" open="(" close=")" separator=",">
                #{appId}
            </foreach>
        </if>
        <if test="appIds == null">
            1
        </if>
        <if test="startDate != null">
            AND dgc.commit_date >= CONCAT('','${startDate}',' 00:00:00')
        </if>
        <if test="endDate != null">
            AND dgc.commit_date <![CDATA[<=]]>  CONCAT('','${endDate}',' 23:59:59')
        </if>
        AND da.is_active = 1
        AND dgc.app_id = da.id
        AND da.project_id = #{projectId}
        <if test="startDate != null">
            AND dgc.commit_date >= CONCAT('','${startDate}',' 00:00:00')
        </if>
        <if test="endDate != null">
            AND dgc.commit_date <![CDATA[<=]]>  CONCAT('','${endDate}',' 23:59:59')
        </if>
        ORDER BY dgc.commit_date DESC
    </select>


    <select id="queryByAppIdAndBranch" resultType="io.choerodon.devops.infra.dto.DevopsGitlabCommitDTO">
        SELECT
        dgc.id,
        dgc.user_id,
        dgc.app_id,
        dgc.ref,
        dgc.commit_date,
        dgc.commit_sha,
        dgc.commit_content,
        dgc.url
        FROM
        devops_gitlab_commit dgc
        WHERE
        dgc.app_id = #{appId}
        AND dgc.ref = #{branchName}
        <if test="startDate != null">
            AND dgc.commit_date >= CONCAT('','${startDate}',' 00:00:00')
        </if>

    </select>

</mapper>
