<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCiStepMapper">
    <update id="updateSonarScanner">
        UPDATE devops_ci_step INNER JOIN devops_ci_sonar_config
        ON devops_ci_step.id = devops_ci_sonar_config.step_id
            SET devops_ci_step.script = #{script}
        WHERE devops_ci_sonar_config.scanner_type = 'SonarScanner';
    </update>
    <update id="updateSonarMaven">
        UPDATE devops_ci_step INNER JOIN devops_ci_sonar_config
        ON devops_ci_step.id = devops_ci_sonar_config.step_id
            SET devops_ci_step.script = #{script}
        WHERE devops_ci_sonar_config.scanner_type = 'SonarMaven';
    </update>
    <delete id="batchDeleteByIds">
        delete
        from devops_ci_step
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="listByJobIds" resultType="io.choerodon.devops.infra.dto.DevopsCiStepDTO">
        select *
        from devops_ci_step dcs
        where dcs.devops_ci_job_id in
        <foreach collection="jobIds" item="jobId" open="(" separator="," close=")">
            #{jobId}
        </foreach>
    </select>

  <select id="queryAppServiceIdByStepId" resultType="java.lang.Long">
    SELECT dcp.app_service_id
    FROM devops_ci_step dcs
           JOIN devops_ci_job dcj ON dcj.id = dcs.devops_ci_job_id
           JOIN devops_cicd_pipeline dcp ON dcp.id = dcj.ci_pipeline_id
    WHERE dcs.id = #{id}
  </select>
</mapper>