<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCertificationMapper">
    <select id="listCertificationByOptions" resultType="io.choerodon.devops.infra.dto.CertificationDTO">
        SELECT
        dc.id,
        dc.`name`,
        dc.env_id envId,
        dc.domains,
        dc.valid_from,
        dc.organization_id,
        dc.valid_until,
        dc.type,
        dc.org_cert_id,
        dc.command_id,
        dc.object_version_number,
        dc.expire_notice,
        dc.advance_days,
        cmd.`status` commandStatus,
        cmd.command_type commandType,
        cmd.error error,
        dc.status,
        dc.skip_check_project_permission
        FROM
        devops_certification dc
        LEFT JOIN devops_env AS de ON env_id = de.id
        LEFT JOIN devops_env_command cmd on dc.command_id = cmd.id
        WHERE (dc.status IS NULL OR dc.status != 'deleting')
        <if test="projectId != null">
            AND dc.project_id = #{projectId}
        </if>
        <if test="envId != null">
            AND dc.env_id = #{envId}
        </if>
        <if test='searchParam != null'>
            <if test='searchParam.name != null and searchParam.name.length > 0'>
                AND
                    dc.`name` LIKE CONCAT(CONCAT('%', #{searchParam.name, jdbcType=VARCHAR}),'%')
            </if>
            <if test='searchParam.certName != null and searchParam.certName.length > 0'>
                AND
                dc.`name` LIKE CONCAT(CONCAT('%', #{searchParam.certName, jdbcType=VARCHAR}),'%')
            </if>
            <if test='searchParam.envName != null and searchParam.envName.length > 0'>
                AND
                    de.`name` LIKE CONCAT(CONCAT('%', #{searchParam.envName, jdbcType=VARCHAR}),'%')
            </if>
            <if test='searchParam.domain != null and searchParam.domain.length > 0'>
                AND
                    dc.domains LIKE CONCAT(CONCAT('%', #{searchParam.domain, jdbcType=VARCHAR}),'%')
            </if>
        </if>
        <if test='params != null and params.size > 0'>
            AND
            <foreach collection="params" item="param" open="(" separator=" OR " close=")">
                (dc.`name` LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR de.`name` LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dc.domains LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%'))
            </foreach>
        </if>
    </select>

    <select id="queryActiveByDomain" resultType="io.choerodon.devops.infra.dto.CertificationDTO">
        SELECT
        *
        FROM
        devops_certification dc
        left join devops_env de on dc.env_id = de.id
        WHERE
        `status` = 'active'
        AND de.project_id = #{projectId}
        AND de.cluster_id = #{clusterId}
        AND domains LIKE CONCAT(CONCAT('%', #{domain, jdbcType=VARCHAR}),'%')
    </select>

    <update id="updateSkipCheckPro">
        UPDATE devops_certification dc set dc.skip_check_project_permission = #{skipCheckPro} where dc.id = #{certId}
    </update>


    <select id="listByProjectId" resultType="io.choerodon.devops.infra.dto.CertificationDTO">
        SELECT dc.id,dc.`name`,dc.domains FROM devops_certification dc WHERE dc.skip_check_project_permission IS true
        AND
        dc.organization_id = #{organizationId}
        UNION
        SELECT dc.id,dc.`name`,dc.domains FROM devops_certification dc
        JOIN devops_certification_pro_rel dcp ON dc.id = dcp.cert_id
        WHERE dcp.project_id = #{projectId}
    </select>

    <select id="listAllOrgCertification" resultType="io.choerodon.devops.infra.dto.CertificationDTO">
        SELECT
            cert.id, cert.name, cert.project_id, cert.object_version_number
        FROM devops_certification cert
        WHERE cert.project_id IS NOT NULL;
    </select>

    <select id="queryById" resultType="io.choerodon.devops.infra.dto.CertificationDTO">
        SELECT dc.*,
               dcf.key_file  as key_value,
               dcf.cert_file as cert_value
        FROM devops_certification dc
                 JOIN devops_certification_file dcf ON dc.certification_file_id = dcf.id
        WHERE dc.id = #{certId}
    </select>

    <select id="queryDetailById" resultType="io.choerodon.devops.infra.dto.CertificationDTO">
        SELECT dc.*, cmd.error, cmd.command_type, cmd.status AS command_status
        FROM devops_certification dc
        LEFT JOIN devops_env_command cmd ON dc.command_id = cmd.id
        WHERE dc.id = #{certId}
    </select>

    <update id="updateStatus">
        UPDATE devops_certification dc
        SET dc.status=#{status}
        WHERE dc.id = #{certId}
    </update>

    <update id="updateStatusIfOperating">
        UPDATE devops_certification dc
        SET dc.status= #{status}
        WHERE dc.id = #{certId}
        AND dc.status = 'operating'
    </update>

    <select id="listAllOrgCertificationToMigrate" resultType="io.choerodon.devops.infra.dto.CertificationDTO">
        SELECT dc.*
        FROM devops_certification dc
        WHERE dc.organization_id IS NOT NULL
        AND dc.project_id IS NULL
    </select>
    <select id="listClusterCertification" resultType="io.choerodon.devops.infra.dto.CertificationDTO">
        SELECT
        dc.*
        FROM
        devops_certification dc
        LEFT JOIN devops_env env ON env.id = dc.env_id
        WHERE
        env.cluster_id = #{clusterId}
    </select>

    <select id="listByIds" resultType="io.choerodon.devops.infra.dto.CertificationDTO">
        SELECT dc.*
        FROM devops_certification dc
        WHERE dc.id
        IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="checkNameUnique" resultType="java.lang.Boolean">
        SELECT COUNT(*) = 0
        FROM devops_certification
        WHERE env_id = #{envId}
        AND name = #{certName}
        <if test="certId != null">
            AND id != #{certId}
        </if>
    </select>
</mapper>