<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCiCdPipelineMapper">
    <update id="disablePipeline">
         update devops_cicd_pipeline set is_enabled = false
        where id = #{ciPipelineId}
    </update>
    <update id="enablePipeline">
        update devops_cicd_pipeline set is_enabled = true
        where id = #{ciPipelineId}
    </update>

    <select id="queryById" resultType="io.choerodon.devops.api.vo.CiCdPipelineVO">
        SELECT dcp.id,
               dcp.`name`,
               dcp.is_enabled AS enabled,
               dcp.app_service_id,
               dcp.project_id,
               das.`name`     AS app_service_name,
               das.gitlab_project_id,
               dcp.image
        FROM devops_cicd_pipeline dcp
                 INNER JOIN devops_app_service das ON dcp.app_service_id = das.id
        where dcp.id = #{ciPipelineId}
    </select>

    <select id="queryByToken" resultType="io.choerodon.devops.infra.dto.CiCdPipelineDTO">
        SELECT dcp.id,
               dcp.name,
               dcp.project_id,
               dcp.app_service_id,
               dcp.object_version_number,
               dcp.created_by,
               dcp.creation_date,
               dcp.last_updated_by,
               dcp.last_update_date,
               dcp.is_enabled as enabled,
               dcp.token,
               dcp.image,
               dcp.version_name
        FROM devops_cicd_pipeline dcp
        WHERE dcp.token = #{token,jdbcType=VARCHAR}
    </select>

    <select id="selectPipelineByProjectId" resultType="io.choerodon.devops.infra.dto.CiCdPipelineDTO">
        SELECT
            dcp.id,
            dcp.`name`,
            dcp.is_enabled AS enabled,
            dcp.app_service_id,
            dcp.project_id,
            dcp.image
        FROM devops_cicd_pipeline dcp
        WHERE dcp.project_id = #{project_id,jdbcType=BIGINT}
    </select>

    <select id="listChartEnvReferencePipelineInfo"
            resultType="io.choerodon.devops.api.vo.PipelineInstanceReferenceVO">
        select dcj.id     as job_id,
               dcj.name   as job_name,
               dcp.`name` AS pipeline_name
        from devops_ci_job dcj
                 left join devops_ci_chart_deploy_cfg dccdc ON dcj.config_id = dccdc.id
                 LEFT JOIN devops_ci_stage dcs ON dcj.ci_stage_id = dcs.id
                 LEFT JOIN devops_cicd_pipeline dcp ON dcs.ci_pipeline_id = dcp.id
        WHERE dcp.project_id = #{projectId}
          and dccdc.env_id = #{envId}
    </select>
    <select id="listDeployEnvReferencePipelineInfo"
            resultType="io.choerodon.devops.api.vo.PipelineInstanceReferenceVO">
        select dcj.id     as job_id,
               dcj.name   as job_name,
               dcp.`name` AS pipeline_name
        from devops_ci_job dcj
                 left join devops_ci_deploy_deploy_cfg dcddc ON dcj.config_id = dcddc.id
                 LEFT JOIN devops_ci_stage dcs ON dcj.ci_stage_id = dcs.id
                 LEFT JOIN devops_cicd_pipeline dcp ON dcs.ci_pipeline_id = dcp.id
        WHERE dcp.project_id = #{projectId}
          and dcddc.env_id = #{envId}
    </select>
    <select id="listConfigFileReferencePipelineInfo"
            resultType="io.choerodon.devops.api.vo.PipelineInstanceReferenceVO">
        select dcj.id     as job_id,
               dcj.name   as job_name,
               dcp.`name` AS pipeline_name
        from devops_ci_job dcj
                 join devops_ci_job_config_file_rel dcjcfr
                      ON dcj.id = dcjcfr.ci_job_id and dcjcfr.config_file_id = #{configFileId}
                 JOIN devops_ci_stage dcs ON dcj.ci_stage_id = dcs.id
                 JOIN devops_cicd_pipeline dcp ON dcs.ci_pipeline_id = dcp.id
        WHERE dcp.project_id = #{projectId}
    </select>

</mapper>