<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsPrometheusMapper">

    <select id="queryPrometheusWithPvById" resultType="io.choerodon.devops.api.vo.DevopsPrometheusVO">
        SELECT
        dpro.id,
        dpro.enable_tls,
        dpro.admin_password,
        dpro.grafana_domain,
        dpro.object_version_number,
        (SELECT dpv.name FROM devops_pv dpv
        WHERE dpv.id = dpro.prometheus_pv_id ) AS prometheus_pv_name,
        (SELECT dpv.name FROM devops_pv dpv
        WHERE dpv.id = dpro.grafana_pv_id ) AS grafana_pv_name,
        (SELECT dpv.name FROM devops_pv dpv
        WHERE dpv.id = dpro.alertmanager_pv_id ) AS alertmanager_pv_name,
        (SELECT dpv.status FROM devops_pv dpv
        WHERE dpv.id = dpro.prometheus_pv_id) AS prometheus_pv_status,
        (SELECT dpv.status FROM devops_pv dpv
        WHERE dpv.id = dpro.grafana_pv_id ) AS grafana_pv_status,
        (SELECT dpv.status FROM devops_pv dpv
        WHERE dpv.id = dpro.alertmanager_pv_id ) AS alertmanager_pv_status,
        prometheus_pv_id,
        grafana_pv_id,
        alertmanager_pv_id
        FROM devops_prometheus dpro
        WHERE dpro.id = #{id};
    </select>
    <select id="queryPrometheusByClusterId" resultType="io.choerodon.devops.infra.dto.DevopsPrometheusDTO">
        SELECT * FROM devops_prometheus WHERE cluster_id=#{clusterId}
    </select>
</mapper>
