<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsHostCommandMapper">

    <select id="selectLatestByInstanceId" resultType="io.choerodon.devops.infra.dto.DevopsHostCommandDTO">
        SELECT
	      *
        FROM
	     devops_host_command
        WHERE
	     instance_id = #{instanceId,jdbcType=BIGINT}
        ORDER BY id DESC
	     LIMIT 0,1;
    </select>
    <select id="queryInstanceLatest" resultType="io.choerodon.devops.infra.dto.DevopsHostCommandDTO">
        SELECT *
        FROM devops_host_command dhc
        WHERE dhc.instance_id = #{instanceId}
        ORDER BY id DESC
        limit 1
    </select>

    <delete id="listByHostId">
        SELECT
          *
        FROM
          devops_host_command
        WHERE
          host_id = # {hostId}
        ORDER BY creation_date DESC
    </delete>

    <delete id="deleteByHostId">
        DELETE FROM devops_host_command WHERE host_id = #{hostId}
    </delete>
</mapper>