<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsPolarisRecordMapper">
    <select id="queryRecordByScopeIdAndScope"
            resultType="io.choerodon.devops.infra.dto.DevopsPolarisRecordDTO">
        SELECT dpr.*
        FROM devops_polaris_record dpr
        WHERE dpr.scope_id = #{scopeId,jdbcType=BIGINT}
          AND dpr.scope = #{scope,jdbcType=VARCHAR}
    </select>
    <select id="listProjectScores" resultType="io.choerodon.devops.infra.dto.dashboard.ProjectScoreDTO">
        SELECT temp.project_id,dpr.score
        FROM devops_polaris_record dpr
        INNER JOIN (
        SELECT MAX(dpr2.id) as id,dc.project_id
        FROM devops_polaris_record dpr2
        inner join devops_cluster dc on dc.id = dpr2.scope_id
        WHERE dpr2.scope='cluster' and dpr2.status='finished' and dc.project_id in
        <foreach collection="pids" item="pid" open="(" separator="," close=")">
            #{pid}
        </foreach>
        GROUP BY scope_id) temp ON dpr.id = temp.id
    </select>
</mapper>
