<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCdEnvDeployInfoMapper">

    <select id="queryCurrentByValueId" resultType="io.choerodon.devops.infra.dto.DevopsCdEnvDeployInfoDTO">
        SELECT dcedi.*
        FROM devops_cicd_pipeline dcp
        INNER JOIN devops_cd_job dcj ON (dcj.pipeline_id = dcp.id AND dcj.type = 'cdDeploy')
        INNER JOIN devops_cd_env_deploy_info dcedi ON dcedi.id = dcj.deploy_info_id
        WHERE dcedi.value_id = #{valueId}
    </select>
    <select id="queryCurrentByEnvId" resultType="io.choerodon.devops.infra.dto.DevopsCdEnvDeployInfoDTO">
        SELECT dcedi.*
        FROM devops_cicd_pipeline dcp
                 INNER JOIN devops_cd_job dcj ON (dcj.pipeline_id = dcp.id AND dcj.type = 'cdDeploy')
                 INNER JOIN devops_cd_env_deploy_info dcedi ON dcedi.id = dcj.deploy_info_id
        WHERE dcedi.env_id = #{envId}
    </select>
</mapper>