<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsEnvResourceDetailMapper">
      <select id="listByResourceDetailIds" resultType="io.choerodon.devops.infra.dto.DevopsEnvResourceDetailDTO">
        select * from devops_env_resource_detail
        where id in
          <foreach collection="resourceDetailIds" item="resourceDetailId" open="(" separator=" , " close=")">
            #{resourceDetailId}
          </foreach>

      </select>

      <select id="selectDirtyDataIdWithLimit" resultType="java.lang.Long">
          SELECT derd.id FROM devops_env_resource_detail derd
          LEFT JOIN devops_env_resource der ON derd.id = der.resource_detail_id
          WHERE der.id is null
          limit 1000
    </select>

      <delete id="batchDeleteByIdInNewTrans">
          delete
          from devops_env_resource_detail
          where id in
          <foreach collection="ids" item="id" open="(" separator="," close=")">
              #{id}
          </foreach>
    </delete>
</mapper>