<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsEnvAppServiceMapper">

    <select id="insertIgnore">
        INSERT IGNORE INTO devops_env_app_service (app_service_id, env_id)
        VALUES (#{appServiceId}, #{envId});
    </select>

    <select id="queryAppByEnvId" resultType="java.lang.Long">
        SELECT
        d.app_service_id
        FROM
        devops_env_app_service d
        WHERE
        d.env_id = #{envId}
    </select>

    <select id="listResourceByEnvAndApp" resultType="io.choerodon.devops.api.vo.iam.DevopsEnvMessageVO">
        SELECT
        DISTINCT
        der.name resourceName,
        derd.message detail
        FROM
        devops_app_service_instance dai
        JOIN devops_env_resource der ON der.instance_id = dai.id
        JOIN devops_env_resource_detail derd ON derd.id = der.resource_detail_id
        WHERE
        dai.app_service_id = #{appServiceId}
        AND dai.env_id = #{envId}
        AND der.kind = 'Deployment'
    </select>

    <select id="listNonRelatedApplications" resultType="io.choerodon.devops.api.vo.BaseApplicationServiceVO">
        SELECT app_service.id, app_service.name
        FROM devops_app_service app_service
                 LEFT JOIN (
                           SELECT env_id, app_service_id
                           FROM devops_env_app_service env_app
                           WHERE env_app.env_id = #{envId}
                           ) related_app ON app_service.id = related_app.app_service_id
        WHERE app_service.project_id = #{projectId}
          AND app_service.is_failed = FALSE
          AND app_service.is_active = TRUE
          AND app_service.is_synchro = TRUE
          AND related_app.app_service_id IS NULL;
    </select>

    <select id="countInstances" resultType="int">
        SELECT COUNT(1)
        FROM devops_app_service_instance dasi
        WHERE dasi.env_id = #{envId} AND dasi.app_service_id = #{appServiceId}
    </select>

    <select id="countRelatedService" resultType="int">
        SELECT COUNT(1)
        FROM devops_app_service_resource dasr
        LEFT JOIN devops_service ds ON dasr.resource_id = ds.id AND dasr.resource_type = 'service'
        WHERE dasr.app_service_id = #{appServiceId}
        AND ds.env_id = #{envId}
    </select>


    <select id="countRelatedSecret" resultType="int">
        SELECT COUNT(1)
        FROM devops_app_service_resource dasr
        LEFT JOIN devops_secret ds ON dasr.resource_id = ds.id AND dasr.resource_type = 'secret'
        WHERE dasr.app_service_id = #{appServiceId}
        AND ds.env_id = #{envId}
    </select>


    <select id="countRelatedIngress" resultType="int">
        SELECT COUNT(1)
        FROM devops_app_service_resource dasr
        LEFT JOIN devops_ingress di ON dasr.resource_id = di.id AND dasr.resource_type = 'ingress'
        WHERE dasr.app_service_id = #{appServiceId}
        AND di.env_id = #{envId}
    </select>

    <select id="countRelatedConfigMap" resultType="int">
        SELECT COUNT(1)
        FROM devops_app_service_resource dasr
        LEFT JOIN devops_config_map dcm ON dasr.resource_id = dcm.id AND dasr.resource_type = 'configMap'
        WHERE dasr.app_service_id = #{appServiceId}
        AND dcm.env_id = #{envId}
    </select>
</mapper>
