<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsDeployValueMapper">

    <select id="listByOptionsWithOwner" resultType="io.choerodon.devops.infra.dto.DevopsDeployValueDTO">
        SELECT
        dpv.id,
        dpv.name,
        dpv.value,
        dpv.description,
        dpv.created_by,
        dpv.last_update_date,
        de.`name` AS env_name,
        da.`name` AS app_service_name,
        da.code AS app_service_code,
        dpv.env_id,
        dpv.app_service_id
        FROM
        devops_deploy_value dpv
        JOIN devops_env de ON de.id = dpv.env_id
        JOIN devops_app_service da ON da.id = dpv.app_service_id
        WHERE
        dpv.project_id = #{projectId}
        <if test='appServiceId != null and appServiceId !=""'>
            AND dpv.app_service_id = #{appServiceId}
        </if>
        <if test='envId != null and envId !=""'>
            AND dpv.env_id = #{envId}
        </if>
        <include refid="sqlparam"/>
    </select>

    <select id="listByOptionsWithMember" resultType="io.choerodon.devops.infra.dto.DevopsDeployValueDTO">
        SELECT * FROM(
        SELECT
        dpv.id,
        dpv.name,
        dpv.value,
        dpv.description,
        dpv.created_by,
        dpv.last_update_date,
        de.`name` AS env_name,
        da.`name` AS app_service_name,
        da.code AS app_service_code,
        dpv.env_id,
        dpv.app_service_id
        FROM
        devops_deploy_value dpv
        JOIN devops_env de ON de.id = dpv.env_id
        JOIN devops_app_service da ON da.id = dpv.app_service_id
        WHERE
        dpv.project_id = #{projectId}
        AND de.is_skip_check_permission=true
        <if test='appServiceId != null and appServiceId !=""'>
            AND dpv.app_service_id = #{appServiceId}
        </if>
        <if test='envId != null and envId !=""'>
            AND dpv.env_id = #{envId}
        </if>
        <include refid="sqlparam"/>

        UNION

        SELECT
        dpv.id,
        dpv.name,
        dpv.value,
        dpv.description,
        dpv.created_by,
        dpv.last_update_date,
        de.`name` AS env_name,
        da.`name` AS app_service_name,
        da.`code` AS app_service_code,
        dpv.env_id,
        dpv.app_service_id
        FROM
        devops_deploy_value dpv
        JOIN devops_env de ON de.id = dpv.env_id
        JOIN devops_app_service da ON da.id = dpv.app_service_id
        <if test="userId !=null">
            JOIN devops_env_user_permission deup ON (
            deup.iam_user_id = #{userId}
            AND deup.is_permitted = 1
            AND dpv.env_id = deup.env_id
            )
        </if>
        WHERE
        dpv.project_id = #{projectId}
        AND de.is_skip_check_permission=false
        <if test='appServiceId != null and appServiceId !=""'>
            AND dpv.app_service_id = #{appServiceId}
        </if>
        <if test='envId != null and envId !=""'>
            AND dpv.env_id = #{envId}
        </if>
        <include refid="sqlparam"/>
        ) c
    </select>

    <select id="listByOptions" resultType="io.choerodon.devops.infra.dto.DevopsDeployValueDTO">
        SELECT
        dpv.id,
        dpv.name,
        dpv.value,
        dpv.description,
        dpv.created_by,
        dpv.last_update_date,
        de.`name` AS envName,
        da.`name` AS appServiceName,
        dpv.env_id,
        dpv.app_service_id
        FROM
        devops_deploy_value dpv
        JOIN devops_env de ON de.id = dpv.env_id
        JOIN devops_app_service da ON da.id = dpv.app_service_id
        <if test="userId !=null">
            JOIN devops_env_user_permission deup ON (
            deup.iam_user_id = #{userId}
            AND deup.is_permitted = 1
            AND dpv.env_id = deup.env_id
            )
        </if>
        WHERE
        dpv.project_id = #{projectId}
        <if test='appServiceId != null and appServiceId !=""'>
            AND dpv.app_service_id = #{appServiceId}
        </if>
        <if test='envId != null and envId !=""'>
            AND dpv.env_id = #{envId}
        </if>
        <include refid="sqlparam"/>
        order by dpv.last_update_date desc
    </select>

    <sql id="sqlparam">
        <if test='searchParam != null'>
            <if test='searchParam.name != null and searchParam.name.length > 0'>
                AND
                dpv.name LIKE CONCAT(CONCAT('%', #{searchParam.name, jdbcType=VARCHAR}),'%')
            </if>
            <if test='searchParam.description != null and searchParam.description.length > 0'>
                AND
                dpv.description LIKE CONCAT(CONCAT('%', #{searchParam.description, jdbcType=VARCHAR}),'%')
            </if>
            <if test="searchParam.appServiceName != null and searchParam.appServiceName != ''">
                AND da.name LIKE CONCAT(CONCAT('%', #{searchParam.appServiceName}), '%')
            </if>
            <if test="searchParam.appServiceCode != null and searchParam.appServiceCode != ''">
                AND da.code LIKE CONCAT(CONCAT('%',#{searchParam.appServiceCode}),'%')
            </if>
            <if test="searchParam.envName != null and searchParam.envName != ''">
                AND de.name LIKE CONCAT(CONCAT('%', #{searchParam.envName}), '%')
            </if>
        </if>
        <if test='params != null and params.size > 0'>
            AND
            <foreach collection="params" item="param" open="(" separator=" OR " close=")">
                (dpv.name LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dpv.description LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR da.name LIKE CONCAT(CONCAT('%', #{searchParam.appServiceName}), '%')
                OR da.code LIKE CONCAT(CONCAT('%', #{searchParam.appServiceCode}), '%')
                OR de.name LIKE CONCAT(CONCAT('%', #{searchParam.envName}), '%'))
            </foreach>
        </if>
    </sql>

    <select id="queryById" resultType="io.choerodon.devops.infra.dto.DevopsDeployValueDTO">
        SELECT ddv.*,
               ds.name as appServiceName
        FROM devops_deploy_value ddv
        INNER JOIN devops_app_service ds ON ddv.app_service_id = ds.id
        WHERE ddv.id = #{valueId}
    </select>
    <select id="listByAppServiceIdAndEnvId" resultType="io.choerodon.devops.infra.dto.DevopsDeployValueDTO">
        select *
        from devops_deploy_value ddv
        where ddv.app_service_id = #{appServiceId} and ddv.env_id = #{envId}
        <if test="name != null">
            AND ddv.name LIKE CONCAT(CONCAT('%', #{name}), '%')
        </if>
    </select>

    <select id="listByInstanceId" resultType="io.choerodon.devops.infra.dto.DevopsDeployValueDTO">
        select ddv.id,ddv.env_id,ddv.`name`
        from devops_deploy_value ddv
                 JOIN devops_ci_chart_deploy_cfg dccdc ON dccdc.value_id = ddv.id
                 JOIN devops_ci_job dcj ON dcj.config_id = dccdc.id
                 JOIN devops_deploy_app_center_env ddace ON ddace.id = dccdc.app_id
                 JOIN devops_app_service_instance dasi ON dasi.id = ddace.object_id and ddace.rdupm_type = 'chart'
        WHERE dasi.id = #{instanceId}
        union
        select ddv.id,ddv.env_id,ddv.`name`
        from devops_deploy_value ddv
                 JOIN devops_ci_chart_deploy_cfg dccdc ON dccdc.value_id = ddv.id
                 JOIN devops_pipeline_job dcj ON dcj.config_id = dccdc.id
                 JOIN devops_deploy_app_center_env ddace ON ddace.id = dccdc.app_id
                 JOIN devops_app_service_instance dasi ON dasi.id = ddace.object_id and ddace.rdupm_type = 'chart'
        WHERE dasi.id =#{instanceId}
    </select>
</mapper>