<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCiPipelineRecordMapper">

    <select id="listByCiPipelineId" resultType="io.choerodon.devops.api.vo.DevopsCiPipelineRecordVO">
        SELECT *
        FROM devops_ci_pipeline_record dcpr
        WHERE dcpr.ci_pipeline_id = #{ciPipelineId}
    </select>
    <update id="updateStatusByGitlabPipelineId">
        UPDATE devops_ci_pipeline_record
        set status = #{status}
        WHERE gitlab_pipeline_id = #{gitlabPipelineId}
    </update>

    <select id="listGitlabPipelineIdsByPipelineId" resultType="java.lang.Long">
        SELECT dcpr.gitlab_pipeline_id
        FROM devops_ci_pipeline_record dcpr
        WHERE dcpr.ci_pipeline_id = #{ciPipelineId}
    </select>

    <select id="queryGitlabProjectIdByRecordId" resultType="io.choerodon.devops.infra.dto.AppServiceDTO">
        SELECT das.id, das.gitlab_project_id
        FROM devops_ci_pipeline_record dpr
        LEFT JOIN devops_cicd_pipeline dcp ON dpr.ci_pipeline_id = dcp.id
        LEFT JOIN devops_app_service das ON dcp.app_service_id = das.id
        WHERE dpr.id = #{pipelineRecordId,jdbcType=BIGINT}
    </select>
    <select id="queryNotSynchronizedRecord"
            resultType="io.choerodon.devops.infra.dto.DevopsCiPipelineRecordDTO">
        SELECT *
        FROM devops_ci_pipeline_record dcpr
        WHERE (dcpr.status = 'pending' or dcpr.status = 'running')
        and dcpr.last_update_date <![CDATA[<]]> #{date} and dcpr.last_update_date <![CDATA[>]]> #{currentDate}
    </select>
    <select id="selectById" resultType="io.choerodon.devops.api.vo.DevopsCiPipelineRecordVO">
        SELECT *
        FROM devops_ci_pipeline_record dcpr
        WHERE dcpr.id = #{ciPipelineId}
    </select>
</mapper>