<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCommandEventMapper">

    <!--删除实例event记录-->
    <delete id="deletePreInstanceCommandEvent">
        DELETE e
        FROM devops_command_event e, devops_env_command d
        WHERE e.command_id = d.id AND d.object = 'instance' AND d.object_id = #{instanceId}
        and e.command_id not in( select x.id from (select de.id FROM devops_env_command de
        WHERE de.object = 'instance' AND de.object_id = #{instanceId}
        ORDER BY de.id DESC limit 10) x)
    </delete>

</mapper>