<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsEnvFileErrorMapper">

    <select id="queryLatestByEnvAndPath" resultType="io.choerodon.devops.infra.dataobject.DevopsEnvFileErrorDO">
        SELECT
        d.*
        FROM
        devops_env_file_error d
        WHERE 1
        <if test="envId != null">
            AND d.env_id = #{envId}
        </if>
        <if test="filePath != null">
            AND d.file_path = #{filePath}
        </if>
        ORDER BY d.id DESC LIMIT 1
    </select>


    <select id="queryByEnvAndPathAndCommits" resultType="io.choerodon.devops.infra.dataobject.DevopsEnvFileErrorDO">
        SELECT
        d.*
        FROM
        devops_env_file_error d
        WHERE 1
        <if test="envId != null">
            AND d.env_id = #{envId}
        </if>
        <if test="filePath != null">
            AND d.file_path = #{filePath}
        </if>
        <if test="commits != null">
            AND d.commit_sha in
            <foreach collection="commits" index="index" item="commit" open="(" separator="," close=")">
                #{commit}
            </foreach>
        </if>
    </select>
</mapper>