<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsEnvironmentMapper">
    <resultMap id="envTree" type="io.choerodon.devops.infra.dto.DevopsEnvironmentViewDTO">
        <id property="id" column="env_id"/>
        <result property="name" column="env_name"/>
        <result property="clusterId" column="cluster_id"/>
        <result property="synchronize" column="synchronize"/>
        <collection property="apps" ofType="io.choerodon.devops.infra.dto.DevopsApplicationViewDTO" notNullColumn="app_id">
            <id property="id" column="app_id"/>
            <result property="name" column="app_name"/>
            <collection property="instances" ofType="io.choerodon.devops.infra.dto.DevopsAppInstanceViewDTO" notNullColumn="ins_id">
                <id property="id" column="ins_id"/>
                <result property="code" column="ins_code"/>
                <result property="podRunningCount" column="pod_running_count"/>
                <result property="podCount" column="pod_count"/>
            </collection>
        </collection>
    </resultMap>

    <resultMap id="queryInfoByIdResultMap" type="io.choerodon.devops.infra.dto.DevopsEnvironmentInfoDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="synchronize" column="synchronize"/>
        <result property="clusterId" column="cluster_id"/>
        <result property="clusterName" column="cluster_name"/>
        <result property="sagaSyncCommit" column="saga_sync_commit"/>
        <result property="devopsSyncCommit" column="devops_sync_commit"/>
        <result property="agentSyncCommit" column="agent_sync_commit"/>
    </resultMap>

    <update id="updateDevopsEnvGroupId" parameterType="io.choerodon.devops.infra.dto.DevopsEnvironmentDTO">
        UPDATE devops_env de set de.devops_env_group_id = null where de.id = #{envId}
    </update>

    <update id="updateSagaSyncEnvCommit" parameterType="io.choerodon.devops.infra.dto.DevopsEnvironmentDTO">
        UPDATE devops_env de set de.saga_sync_commit = #{sagaSyncCommit} where de.id = #{envId}
    </update>

    <update id="updateDevopsSyncEnvCommit" parameterType="io.choerodon.devops.infra.dto.DevopsEnvironmentDTO">
        UPDATE devops_env de set de.devops_sync_commit = #{devopsSyncCommit} where de.id = #{envId}
    </update>

    <update id="updateAgentSyncEnvCommit" parameterType="io.choerodon.devops.infra.dto.DevopsEnvironmentDTO">
        UPDATE devops_env de set de.agent_sync_commit = #{agentSyncCommit} where de.id = #{envId}
    </update>

    <select id="queryByToken" resultType="io.choerodon.devops.infra.dto.DevopsEnvironmentDTO">
      select * from devops_env de where de.token = #{token}
    </select>

    <update id="updateOptions">
        UPDATE devops_env de set de.gitlab_env_project_id = #{gitlabEnvProjectId} , de.hook_id = #{hookId} , de.is_synchro = #{isSynchro}  where de.id = #{envId}
    </update>


    <select id="listEnvTree" resultMap="envTree">
        SELECT env.id         as           env_id,
               env.name       as           env_name,
               app.id         as           app_id,
               app.name       as           app_name,
               ins.id         as           ins_id,
               ins.code       as           ins_code,
               env.cluster_id as           cluster_id,
               env.is_synchro as           synchronize,
               (SELECT count(1)
                FROM devops_env_pod dp
                WHERE dp.app_instance_id = ins.id
                  AND dp.namespace = env.code
                  AND env.id = ins.env_id) pod_count,
               (SELECT count(1)
                FROM devops_env_pod dp
                WHERE dp.app_instance_id = ins.id
                  AND dp.`status` = 'Running'
                  AND dp.is_ready = TRUE
                  AND dp.namespace = env.code
                  AND env.id = ins.env_id) pod_running_count
        FROM devops_env env
                 LEFT JOIN devops_env_application env_app ON env.id = env_app.env_id
                 LEFT JOIN devops_application app ON env_app.app_id = app.id
                 LEFT JOIN devops_app_instance ins ON app.id = ins.app_id
                                                          AND env.id = ins.env_id
        WHERE env.project_id = #{projectId}
          AND env.is_active = TRUE
          AND env.is_failed = FALSE
          AND (app.is_active = TRUE OR app.is_active is NULL);
    </select>

    <select id="queryInfoById" resultMap="queryInfoByIdResultMap">
        SELECT
               env.id,
               env.code,
               env.name,
               env.is_synchro as synchronize,
               env.saga_sync_commit,
               env.devops_sync_commit,
               env.agent_sync_commit,
               env.cluster_id,
               cluster.name as cluster_name
        FROM devops_env env
        LEFT JOIN devops_cluster cluster ON env.cluster_id = cluster.id
        WHERE env.id = #{envId};
    </select>
</mapper>