<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsNormalInstanceMapper">

    <select id="listByHostId" resultType="io.choerodon.devops.infra.dto.DevopsNormalInstanceDTO">
        select *
        from devops_java_instance dji
        where dji.host_id = #{hostId}
        order by dji.creation_date desc
    </select>

</mapper>