<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCiPipelineRecordMapper">

    <select id="listByCiPipelineId" resultType="io.choerodon.devops.api.vo.CiPipelineRecordVO">
        SELECT *
        FROM devops_ci_pipeline_record dcpr
        WHERE dcpr.ci_pipeline_id = #{ciPipelineId}
        order by id desc
    </select>
    <update id="updateStatusByGitlabPipelineId">
        UPDATE devops_ci_pipeline_record
        set status = #{status}
        WHERE gitlab_pipeline_id = #{gitlabPipelineId}
    </update>

    <select id="listGitlabPipelineIdsByPipelineId" resultType="java.lang.Long">
        SELECT dcpr.gitlab_pipeline_id
        FROM devops_ci_pipeline_record dcpr
        WHERE dcpr.ci_pipeline_id = #{ciPipelineId}
    </select>

    <select id="queryGitlabProjectIdByRecordId" resultType="io.choerodon.devops.infra.dto.AppServiceDTO">
        SELECT das.*
        FROM devops_ci_pipeline_record dpr
        LEFT JOIN devops_cicd_pipeline dcp ON dpr.ci_pipeline_id = dcp.id
        LEFT JOIN devops_app_service das ON dcp.app_service_id = das.id
        WHERE dpr.id = #{pipelineRecordId,jdbcType=BIGINT}
    </select>
    <select id="queryNotSynchronizedRecord"
            resultType="io.choerodon.devops.infra.dto.DevopsCiPipelineRecordDTO">
        SELECT *
        FROM devops_ci_pipeline_record dcpr
                 left join devops_cicd_pipeline dcp on dcp.id = dcpr.ci_pipeline_id
                 left join devops_app_service das on das.id = dcp.app_service_id
        WHERE das.external_config_id is null
          and (dcpr.status = 'pending' or dcpr.status = 'running')
          and dcpr.last_update_date <![CDATA[<]]> #{date}
    </select>
    <select id="selectById" resultType="io.choerodon.devops.api.vo.DevopsCiPipelineRecordVO">
        SELECT *
        FROM devops_ci_pipeline_record dcpr
        WHERE dcpr.id = #{ciPipelineId}
    </select>
    <select id="queryByAppServiceIdAndGitlabPipelineId"
            resultType="io.choerodon.devops.infra.dto.DevopsCiPipelineRecordDTO">
        SELECT *
        FROM devops_ci_pipeline_record dcpr
                 left join devops_cicd_pipeline dcp on dcp.id = dcpr.ci_pipeline_id
        WHERE dcpr.gitlab_pipeline_id = #{gitlabPipelineId}
          and dcp.app_service_id = #{appServiceId}
    </select>

  <select id="queryByIdWithPipelineName" resultType="io.choerodon.devops.infra.dto.DevopsCiPipelineRecordDTO">
    SELECT dcpr.id,
           dcpr.ci_pipeline_id,
           dcpr.gitlab_pipeline_id,
           dcpr.commit_sha,
           dcpr.gitlab_trigger_ref,
           dcpr.status,
           dcpr.trigger_user_id,
           dcpr.created_date,
           dcpr.finished_date,
           dcpr.duration_seconds,
           dcpr.gitlab_project_id,
           dcp.name AS pipeline_name
    FROM devops_ci_pipeline_record dcpr
           JOIN devops_cicd_pipeline dcp ON dcp.id = dcpr.ci_pipeline_id
    WHERE dcpr.id = #{ciPipelineRecordId}
  </select>

    <select id="listByPipelineId" resultType="io.choerodon.devops.infra.dto.DevopsCiPipelineRecordDTO">
        select
        dcpr.*
        from devops_ci_pipeline_record dcpr
        where dcpr.ci_pipeline_id = #{pipelineId}
        <if test="startTime != null">
            AND dcpr.creation_date >= CONCAT('','${startTime}',' 00:00:00')
        </if>
        <if test="endTime != null">
            AND dcpr.creation_date <![CDATA[<=]]>  CONCAT('','${endTime}',' 23:59:59')
        </if>
        order by dcpr.creation_date DESC
    </select>

    <select id="listByPipelineIds" resultType="io.choerodon.devops.infra.dto.DevopsCiPipelineRecordDTO">
        select
        dcpr.*
        from devops_ci_pipeline_record dcpr
        where 1=1
        <if test="pipelineIds != null">
            AND dcpr.ci_pipeline_id in
            <foreach collection="pipelineIds" item="pipelineId" open="(" close=")" separator=",">
                #{pipelineId}
            </foreach>
        </if>
        <if test="startTime != null">
            AND dcpr.creation_date >= CONCAT('','${startTime}',' 00:00:00')
        </if>
        <if test="endTime != null">
            AND dcpr.creation_date <![CDATA[<=]]>  CONCAT('','${endTime}',' 23:59:59')
        </if>
        order by dcpr.creation_date DESC
    </select>
</mapper>