<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsClusterMapper">
    <select id="listByProjectId" resultType="io.choerodon.devops.infra.dataobject.DevopsClusterDO">
        select dc.id,dc.`name` from devops_cluster dc where dc.skip_check_project_permission is true
        UNION
        select dc.id,dc.`name` from devops_cluster dc
        join devops_cluster_pro_permission dcp on dc.id = dcp.cluster_id
        where dcp.project_id = #{projectId}
    </select>

    <update id="updateSkipCheckPro">
        UPDATE devops_cluster dc set dc.skip_check_project_permission = #{skipCheckPro} where dc.id = #{clusterId}
    </update>

</mapper>