<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsSecretMapper">

    <select id="selectById" resultType="io.choerodon.devops.infra.dto.DevopsSecretDTO">
        SELECT
        ds.id,
        ds.env_id,
        ds.`name`,
        ds.description,
        ds.value,
        ds.command_id,
        ds.last_update_date,
        ds.creation_date,
        ds.created_by,
        dc.status,
        dc.command_type
        FROM devops_secret ds
        LEFT JOIN devops_env_command dc ON ds.command_id = dc.id
        WHERE
         ds.id = #{secretId}
    </select>

    <select id="listByOption" resultType="io.choerodon.devops.infra.dto.DevopsSecretDTO">
        SELECT
        ds.id,
        ds.env_id,
        ds.`name`,
        ds.description,
        ds.value,
        ds.last_update_date,
        ds.creation_date,
        ds.created_by,
        dc.status,
        dc.command_type
        FROM devops_secret ds
        <if test="appServiceId != null">
            LEFT JOIN devops_app_service_resource das ON ds.id = das.resource_id
        </if>
        LEFT JOIN devops_env_command dc ON ds.command_id = dc.id
        WHERE 1
        <if test="envId != null">
            AND ds.env_id = #{envId}
        </if>
        <if test="appServiceId != null">
            AND das.app_service_id = #{appServiceId}
            AND das.resource_type='secret'
        </if>
        <include refid="sqlparam"/>
    </select>

    <sql id="sqlparam">
        <if test='searchParam != null'>
            <if test='searchParam.status != null and searchParam.status.length > 0'>
                AND
                    dc.status LIKE CONCAT(CONCAT('%', #{searchParam.status, jdbcType=VARCHAR}),'%')
            </if>
            <if test='searchParam.name != null and searchParam.name.length > 0'>
                AND
                    ds.`name` LIKE CONCAT(CONCAT('%', #{searchParam.name, jdbcType=VARCHAR}),'%')
            </if>
            <if test='searchParam.secretMaps != null and searchParam.secretMaps.length > 0'>
                AND
                    ds.secret_maps LIKE CONCAT(CONCAT('%', #{searchParam.secretMaps, jdbcType=VARCHAR}),'%')
            </if>
        </if>
        <if test='params != null and params.size > 0'>
            AND
            <foreach collection="params" item="param" open="(" separator=" OR " close=")">
                (dc.status LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR ds.`name` LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR ds.value LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR ds.creation_date LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%'))
            </foreach>
        </if>
    </sql>
</mapper>