<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsPvProPermissionMapper">
    <insert id="batchInsert">
        INSERT INTO devops_pv_project_rel (pv_id, project_id) VALUES
        <foreach collection="projectIds" item="projectId" separator=",">
            (#{pvId},#{projectId})
        </foreach>
    </insert>

    <delete id="batchDeleteByPvIdsAndProjectId">
        DELETE FROM devops_pv_project_rel WHERE
        project_id=#{projectId}
        AND
        pv_id IN
        <foreach collection="pvIds" item="pvId" separator="," open="(" close=")">
            #{pvId}
        </foreach>
    </delete>

    <select id="listByClusterId" resultType="io.choerodon.devops.infra.dto.DevopsPvProPermissionDTO">
        SELECT * FROM devops_pv_project_rel dppr
        JOIN devops_pv dp ON dppr.pv_id=dp.id
        WHERE dp.skip_check_project_permission=0
        AND dp.cluster_id=#{clusterId}
    </select>

    <delete id="batchDelete">
        DELETE dppr.*
        FROM devops_pv_project_rel dppr
        WHERE
        <foreach collection="devopsPvProPermissionDTOS" item="devopsPvProPermissionDTO" open="(" close=")" separator="OR">
            dppr.pv_id=#{devopsPvProPermissionDTO.pvId} AND dppr.project_id=#{devopsPvProPermissionDTO.projectId}
        </foreach>
    </delete>

    <select id="listByProjectId" resultType="long">
        SELECT dppr.pv_id FROM devops_pv_project_rel dppr
        WHERE dppr.project_id=#{projectId}
    </select>
</mapper>