<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCiJobRecordMapper">
    <update id="updateStatusByGitlabJobId">
        UPDATE devops_ci_job_record
        set status = #{status}
        WHERE gitlab_job_id = #{gitlabJobId}
    </update>
</mapper>