<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsConfigMapMapper">
    <select id="listByEnv" resultType="io.choerodon.devops.infra.dto.DevopsConfigMapDTO">
        SELECT
        dcm.id,
        dcm.name,
        dcm.value,
        dcm.env_id,
        dcm.description,
        dcm.last_update_date,
        de.code envCode,
        dc.command_type commandType,
        dc.status commandStatus
        FROM
        devops_config_map dcm
        LEFT JOIN devops_env de ON dcm.env_id = de.id
        LEFT JOIN devops_env_command dc ON dcm.command_id = dc.id
        <if test="appServiceId != null">
            LEFT JOIN devops_app_service_resource das ON dcm.id = das.resource_id
        </if>
        where 1
        <if test="envId != null">
            AND dcm.env_id = #{envId}
        </if>
        <if test="appServiceId != null">
            AND das.app_service_id = #{appServiceId}
            AND das.resource_type='configMap'
        </if>
        <include refid="sqlparam"/>
    </select>


    <sql id="sqlparam">
        <if test='searchParam != null'>
            <if test='searchParam.name != null and searchParam.name.length > 0'>
                AND
                    dcm.name LIKE CONCAT(CONCAT('%', #{searchParam.name, jdbcType=VARCHAR}),'%')
            </if>
            <if test='searchParam.description != null and searchParam.description.length > 0'>
                AND
                    dcm.description LIKE CONCAT(CONCAT('%', #{searchParam.description, jdbcType=VARCHAR}),'%')
            </if>
        </if>
        <if test='params != null and params.size > 0'>
            AND
            <foreach collection="params" item="param" open="(" separator=" OR " close=")">
                (dcm.name LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dcm.description LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                )
            </foreach>
        </if>
    </sql>

</mapper>
