<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsEnvResourceMapper">
    <select id="listJobs" resultType="io.choerodon.devops.infra.dto.DevopsEnvResourceDTO">
        SELECT *
        FROM devops_env_resource dir
        WHERE dir.command_id = #{commandId}
          AND dir.kind = 'Job'
        ORDER BY dir.weight ASC
    </select>


    <select id="queryResource" resultType="io.choerodon.devops.infra.dto.DevopsEnvResourceDTO">
        SELECT *
        FROM devops_env_resource dir
        <where>
            <if test="instanceId != null">
                AND dir.instance_id = #{instanceId}
            </if>
            <if test="commandId != null">
                AND dir.command_id = #{commandId}
            </if>
            <if test="envId != null">
                AND dir.env_id = #{envId}
            </if>
            <if test="kind != null">
                AND dir.kind = #{kind}
            </if>
            <if test="name != null">
                AND dir.name = #{name}
            </if>
        </where>
    </select>


    <select id="listByEnvAndType" resultType="io.choerodon.devops.infra.dto.DevopsEnvResourceDTO">
        SELECT *
        from devops_env_resource der
                     LEFT JOIN devops_app_service_instance dai
                on der.instance_id = dai.id where dai.env_id = #{envId}
        <if test="type != null">
            AND der.kind = #{type}
        </if>
    </select>

    <select id="queryLatestJob" resultType="io.choerodon.devops.infra.dto.DevopsEnvResourceDTO">
        SELECT *
        FROM devops_env_resource dir
        WHERE dir.env_id = #{envId}
          AND dir.kind = #{kind}
          AND dir.name = #{name}
        ORDER BY dir.creation_date DESC
        LIMIT 1
    </select>

    <select id="getResourceDetailByNameAndTypeAndInstanceId" resultType="java.lang.String">
        SELECT detail.message
        FROM devops_env_resource re
                     INNER JOIN devops_env_resource_detail detail
                ON re.resource_detail_id = detail.id
        WHERE re.name = #{name}
          AND re.kind = #{kind}
          AND re.instance_id = #{instanceId}
    </select>

    <select id="listEnvResourceByOptions" resultType="io.choerodon.devops.infra.dto.DevopsEnvResourceDTO">
        SELECT *
        FROM devops_env_resource dir where 1 = 1
        <if test="envId != null">
            AND dir.env_id = #{envId}
        </if>
        <if test="kind != null">
            AND dir.kind = #{kind}
        </if>
        <if test="names != null and names.size > 0">
            AND dir.name in
            <foreach collection="names" item="name" open="(" separator="," close=")">
                #{name}
            </foreach>
        </if>
    </select>
    <select id="getResourceDetailByEnvIdAndKindAndName" resultType="java.lang.String">
        SELECT detail.message
        FROM devops_env_resource re
                 INNER JOIN devops_env_resource_detail detail ON re.resource_detail_id = detail.id
        WHERE re.env_id = #{envId}
          AND re.kind = #{kind}
          AND re.name = #{name}
        order by re.id desc
        limit 1
    </select>

    <select id="getResourceWithDetailByInstanceIdAndKind"
            resultType="io.choerodon.devops.infra.dto.DevopsEnvResourceDTO">
        SELECT re.*, detail.message
        FROM devops_env_resource re
                     INNER JOIN devops_env_resource_detail detail
                ON re.resource_detail_id = detail.id
        WHERE re.instance_id = #{instanceId}
          AND re.kind = #{kind}
    </select>
</mapper>
