<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsSecretMapper">
    <select id="listByOption" resultType="io.choerodon.devops.infra.dataobject.DevopsSecretDO">
        SELECT
        ds.id,
        ds.env_id,
        ds.`name`,
        ds.description,
        ds.secret_maps,
        ds.creation_date,
        dc.status
        FROM devops_secret ds
        LEFT JOIN devops_env_command dc ON ds.command_id = dc.id
        WHERE
        ds.env_id = #{envId}
        <include refid="sqlparam"/>
    </select>

    <sql id="sqlparam">
        <if test='searchParam != null'>
            <if test='searchParam.status != null and searchParam.status.size > 0'>
                AND
                <foreach collection="searchParam.status" item="status" open="(" separator=" OR " close=")">
                    ds.status LIKE CONCAT(CONCAT('%', #{status, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.name != null and searchParam.name.size > 0'>
                AND
                <foreach collection="searchParam.name" item="name" open="(" separator=" OR " close=")">
                    ds.`name` LIKE CONCAT(CONCAT('%', #{name, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.secretMaps != null and searchParam.secretMaps.size > 0'>
                AND
                <foreach collection="searchParam.secretMaps" item="secretMaps" open="(" separator=" OR " close=")">
                    ds.secret_maps LIKE CONCAT(CONCAT('%', #{secretMaps, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
        </if>
        <if test='param != null and param != ""'>
            AND (ds.status LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR ds.`name` LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR ds.secretMaps LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR ds.creationDate LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
        </if>
    </sql>

</mapper>