<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsEnvAppServiceMapper">
    <select id="queryAppByEnvId" resultType="java.lang.Long">
        SELECT
        d.app_service_id
        FROM
        devops_env_app_service d
        WHERE
        d.env_id = #{envId}
    </select>

    <select id="listResourceByEnvAndApp" resultType="io.choerodon.devops.api.vo.iam.DevopsEnvMessageVO">
        SELECT
        DISTINCT
        der.name resourceName,
        derd.message detail
        FROM
        devops_app_service_instance dai
        JOIN devops_env_resource der ON der.instance_id = dai.id
        JOIN devops_env_resource_detail derd ON derd.id = der.resource_detail_id
        WHERE
        dai.app_service_id = #{appServiceId}
        AND dai.env_id = #{envId}
        AND der.kind = 'Deployment'
    </select>

    <select id="listNonRelatedApplications" resultType="io.choerodon.devops.api.vo.BaseApplicationServiceVO">
        SELECT app_service.id, app_service.name
        FROM devops_app_service app_service
                 LEFT JOIN (
                           SELECT env_id, app_service_id
                           FROM devops_env_app_service env_app
                           WHERE env_app.env_id = #{envId}
                           ) related_app ON app_service.id = related_app.app_service_id
        WHERE app_service.project_id = #{projectId}
          AND app_service.is_failed = FALSE
          AND app_service.is_active = TRUE
          AND app_service.is_synchro = TRUE
          AND app_service.type = 'normal'
          AND related_app.app_service_id IS NULL;
    </select>

    <select id="countInstances" resultType="int">
        SELECT COUNT(1)
        FROM devops_app_service_instance dasi
        <if test="projectId != null">
            INNER JOIN devops_env de ON dasi.env_id = de.id
        </if>
        WHERE dasi.app_service_id = #{appServiceId}
        <if test="envId != null">
            AND dasi.env_id = #{envId}
        </if>
        <if test="projectId != null">
            AND de.project_id = #{projectId}
        </if>
    </select>

    <select id="countRelatedService" resultType="int">
        SELECT COUNT(1)
        FROM devops_service ds
        <if test="projectId != null">
            INNER JOIN devops_env de ON ds.env_id = de.id
        </if>
        WHERE (ds.app_service_id = #{appServiceId}
        OR ds.target_app_service_id = #{appServiceId})
        <if test="envId != null">
            AND ds.env_id = #{envId}
        </if>
        <if test="projectId != null">
            AND de.project_id = #{projectId}
        </if>
    </select>


    <select id="countRelatedSecret" resultType="int">
        SELECT COUNT(1)
        FROM devops_secret ds
        <if test="projectId != null">
            INNER JOIN devops_env de ON ds.env_id = de.id
        </if>
        WHERE ds.app_service_id = #{appServiceId}
        <if test="envId != null">
            AND ds.env_id = #{envId}
        </if>
        <if test="projectId != null">
            AND de.project_id = #{projectId}
        </if>
    </select>


    <select id="countRelatedConfigMap" resultType="int">
        SELECT COUNT(1)
        FROM devops_config_map dcm
        <if test="projectId != null">
            INNER JOIN devops_env de ON dcm.env_id = de.id
        </if>
        WHERE dcm.app_service_id = #{appServiceId}
        <if test="envId != null">
            AND dcm.env_id = #{envId}
        </if>
        <if test="projectId != null">
            AND de.project_id = #{projectId}
        </if>
    </select>

    <delete id="deleteRelevanceInProject">
        DELETE devops_env_app_service
        FROM devops_env_app_service
               LEFT JOIN devops_env ON devops_env_app_service.env_id = devops_env.id
        WHERE devops_env.project_id = #{projectId,jdbcType=BIGINT}
          AND devops_env_app_service.app_service_id = #{appServiceId,jdbcType=BIGINT}
    </delete>
</mapper>
