<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCommandEventMapper">

    <!--删除实例event记录-->
    <delete id="deletePreInstanceCommandEvent">
DELETE
    FROM
	devops_command_event
WHERE
	EXISTS ( SELECT 1 FROM devops_env_command d WHERE devops_command_event.command_id = d.id AND d.object = 'instance' AND d.object_id = #{instanceId} )
	AND devops_command_event.command_id NOT IN (
	SELECT
		x.id
	FROM
		(
		SELECT
			de.id
		FROM
			devops_env_command de
		WHERE
			de.object = 'instance'
			AND de.object_id = #{instanceId}
		ORDER BY
			de.id DESC
			LIMIT 10
		) x
	)
    </delete>

</mapper>