<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCommandEventMapper">

    <!--删除实例event记录-->
    <delete id="deletePreInstanceCommandEvent">
 		DELETE e
        FROM devops_command_event e, devops_env_command d
        WHERE e.command_id = d.id AND d.object = 'instance' AND d.object_id = #{instanceId}
        and e.command_id not in( select x.id from (select de.id FROM devops_env_command de
        WHERE de.object = 'instance' AND de.object_id = #{instanceId}
        ORDER BY de.id DESC limit 10) x)
    </delete>
    <delete id="batchDeleteByCommandIds">
        DELETE FROM devops_command_event
        WHERE command_id IN
        <foreach collection="commandIds" item="commandId" open="(" separator="," close=")" index="i">
            #{commandId}
        </foreach>
    </delete>

    <select id="listByCommandIdsAndType" resultType="io.choerodon.devops.infra.dto.DevopsCommandEventDTO">
       select * from devops_command_event
       where type = #{type}
       AND command_id in
       <foreach collection="commandIds" item="commandId"  open="(" separator=" , " close=")">
           #{commandId}
       </foreach>
        order by id desc
        limit 200
    </select>
</mapper>