<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsProjectConfigMapper">
    <select id="list" resultType="io.choerodon.devops.infra.dataobject.DevopsProjectConfigDO">

        SELECT
        dpc.id,
        dpc.project_id,
        dpc.name,
        dpc.type,
        dpc.config,
        dpc.object_version_number
        FROM devops_project_config dpc
        where dpc.project_id = #{projectId}
        and dpc.name != 'project_harbor_default'
        <include refid="sqlparam"/>
        union
        SELECT
        dpc.id,
        dpc.project_id,
        dpc.name,
        dpc.type,
        dpc.config,
        dpc.object_version_number
        FROM devops_project_config dpc
        where dpc.project_id = #{projectId}
        and dpc.name = 'project_harbor_default'
        <include refid="sqlparam"/>
        union
        SELECT
        dpc.id,
        dpc.project_id,
        dpc.name,
        dpc.type,
        dpc.config,
        dpc.object_version_number
        FROM devops_project_config dpc
        where dpc.project_id is null
        <include refid="sqlparam"/>
    </select>

    <sql id="sqlparam">
        <if test='searchParam != null'>
            <if test='searchParam.url != null and searchParam.url.size > 0'>
                AND
                <foreach collection="searchParam.url" item="url" open="(" separator=" OR " close=")">
                    REPLACE(json_extract(dpc.config,'$.url'),'"','') LIKE CONCAT(CONCAT('%',
                    #{url, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.name != null and searchParam.name.size > 0'>
                AND
                <foreach collection="searchParam.name" item="name" open="(" separator=" OR " close=")">
                    dpc.name LIKE CONCAT(CONCAT('%', #{name, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
        </if>
        <if test='param != null and param != ""'>
            AND (REPLACE(json_extract(dpc.config,'$.url'),'"','') LIKE CONCAT(CONCAT('%',
            #{param, jdbcType=VARCHAR}),'%')
            OR dpc.name LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            )
        </if>
    </sql>

    <select id="queryByIdAndType" resultType="io.choerodon.devops.infra.dataobject.DevopsProjectConfigDO">
            SELECT
                dpc.id,
                dpc.project_id,
                dpc.name,
                dpc.config,
                dpc.type
            FROM
                devops_project_config dpc
            WHERE
                (
                    dpc.project_id = #{projectId}
                    OR dpc.project_id IS NULL
                )
            AND dpc.type = #{type}
            ORDER BY
                project_id ASC,
                id ASC
    </select>

    <select id="checkIsUsed" resultType="java.lang.Integer">
            SELECT
                da.id
            FROM
                devops_application da
            WHERE
                da.chart_config_id = #{configId}
            OR da.harbor_config_id = #{configId}
    </select>

    <select id="queryByNameWithNoProject" resultType="io.choerodon.devops.infra.dataobject.DevopsProjectConfigDO">
        SELECT
            dpc.*
        FROM
            devops_project_config dpc
        WHERE
            dpc.name
        AND dpc.project_id is null
    </select>
</mapper>