<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsPolarisNamespaceDetailMapper">
    <delete id="batchDelete">
        DELETE
        FROM devops_polaris_namespace_detail
        WHERE id IN
        <foreach collection="ids" item="detailId" open="(" close=")" separator=",">
            #{detailId}
        </foreach>
    </delete>

    <select id="queryDetailIdsByRecordId" resultType="java.lang.Long">
        SELECT dpir.detail_id
        FROM devops_polaris_namespace_result dpir
        WHERE dpir.record_id = #{recordId}
    </select>
</mapper>
