<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCdPipelineRecordMapper">

    <select id="listByCiPipelineId" resultType="io.choerodon.devops.api.vo.DevopsCdPipelineRecordVO">
        SELECT *
        FROM devops_cd_pipeline_record dcpr
        WHERE dcpr.pipeline_id = #{pipelineId}
    </select>
</mapper>