<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsEnvAppServiceMapper">

    <select id="insertIgnore">
        INSERT IGNORE INTO devops_env_app_service (app_service_id, env_id)
        VALUES (#{appServiceId}, #{envId});
    </select>

    <select id="queryAppByEnvId" resultType="java.lang.Long">
        SELECT
        d.app_service_id
        FROM
        devops_env_app_service d
        WHERE
        d.env_id = #{envId}
    </select>

    <select id="listResourceByEnvAndApp" resultType="io.choerodon.devops.api.vo.iam.DevopsEnvMessageVO">
        SELECT
        der.name resourceName,
        derd.message detail
        FROM
        devops_app_service_instance dai
        JOIN devops_env_resource der ON der.instance_id = dai.id
        JOIN devops_env_resource_detail derd ON derd.id = der.resource_detail_id
        WHERE
        dai.app_service_id = #{appServiceId}
        AND dai.env_id = #{envId}
        AND der.kind = 'Deployment'
    </select>

    <!-- 此处的布尔字段因为目前缺少默认值，只能这样写条件 -->
    <select id="listNonRelatedApplications" resultType="io.choerodon.devops.api.vo.BaseApplicationVO">
        SELECT app.id, app.name
        FROM devops_app_service app
                 LEFT JOIN (
                           SELECT env_id, app_service_id
                           FROM devops_env_app_service env_app
                           WHERE env_app.env_id = #{envId}
                           ) related_app ON app.id = related_app.app_service_id
        WHERE app.app_id = #{projectId}
          AND (app.is_failed IS NULL OR app.is_failed = FALSE)
          AND app.is_active = TRUE
          AND app.is_synchro = TRUE
          AND related_app.app_service_id IS NULL;
    </select>
</mapper>
