<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsDeployAppCenterEnvMapper">

    <select id="listAppFromEnv" resultType="io.choerodon.devops.api.vo.DevopsDeployAppCenterVO">
        SELECT
            id,
            name,
            code,
            project_id,
            object_id,
            env_id,
            operation_type,
            rdupm_type,
            chart_source as source,
            object_version_number,
            created_by,
            creation_date,
            last_updated_by,
            last_update_date
        FROM
            devops_deploy_app_center_env
        WHERE
            project_id = #{projectId, jdbcType=BIGINT}
            <if test="envId != null and envId !=0">
                AND  env_id = #{envId, jdbcType=BIGINT}
            </if>
            <if test="name != null and name != ''">
                AND  name LIKE CONCAT(CONCAT('%', #{name, jdbcType=VARCHAR}),'%')
            </if>
            <if test="rdupmType != null and rdupmType !=''">
                AND  rdupm_type = #{rdupmType, jdbcType=VARCHAR}
            </if>
        ORDER BY
            id DESC
    </select>
</mapper>