<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsEnvPodMapper">
    <sql id="sqlparam">
        <if test='searchParam != null'>
            <if test='searchParam.name != null and searchParam.name.length > 0'>
                AND
                dp.`name` LIKE CONCAT(CONCAT('%', #{searchParam.name, jdbcType=VARCHAR}),'%')
            </if>
            <if test='searchParam.appServiceService != null and searchParam.appServiceService.length > 0'>
                AND
                dav.version LIKE CONCAT(CONCAT('%', #{searchParam.appServiceService, jdbcType=VARCHAR}),'%')
            </if>
            <if test='searchParam.ip != null and searchParam.ip.length > 0'>
                AND
                dp.ip LIKE CONCAT(CONCAT('%', #{searchParam.ip, jdbcType=VARCHAR}),'%')
            </if>
            <if test='searchParam.ready != null and searchParam.ready.length > 0'>
                AND dp.is_ready = #{searchParam.ready}
            </if>
            <if test='searchParam.instanceCode != null and searchParam.instanceCode.length > 0'>
                AND
                dai.`code` LIKE CONCAT(CONCAT('%', #{searchParam.instanceCode, jdbcType=VARCHAR}),'%')
            </if>
        </if>
        <if test='params != null and params.size > 0'>
            AND
            <foreach collection="params" item="param" open="(" separator=" OR " close=")">
                (dp.`name` LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dav.version LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dp.ip LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dp.is_ready LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dai.`code` LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                )
            </foreach>
        </if>
    </sql>

    <select id="listAppServicePod" resultType="io.choerodon.devops.infra.dto.DevopsEnvPodDTO">
        SELECT
        dp.id,
        dp.ip,
        da.project_id projectId,
        dp.`name`,
        dp.instance_id,
        dp.namespace namespace,
        dp.is_ready,
        dp.`status`,
        dp.creation_date,
        da.`name` appServiceName,
        dav.version appServiceVersion,
        dai.`code` instanceCode,
        de.id envId,
        de.`code` envCode,
        de.`name` envName,
        dp.node_name nodeName,
        dp.restart_count restartCount,
        dp.object_version_number
        FROM
        devops_env_pod dp
        LEFT JOIN devops_app_service_instance dai ON dp.instance_id = dai.id
        LEFT JOIN devops_app_service_version dav ON dai.app_service_version_id = dav.id
        LEFT JOIN devops_app_service da ON dav.app_service_id = da.id
        LEFT JOIN devops_env de ON de.id = dai.env_id
        WHERE de.project_id = #{projectId}
        AND de.type = 'user'
        <if test='appServiceId != null'>
            AND ((dai.source = 'normal' AND da.id= #{appServiceId})
            OR (dai.source = 'market' AND dai.app_service_id = #{appServiceId})
            OR (dai.source = 'middleware' AND dai.app_service_id = #{appServiceId})
            )
        </if>
        <if test='instanceId != null'>
            AND dai.id= #{instanceId}
        </if>
        <if test='envId != null'>
            AND de.id= #{envId}
        </if>
        <include refid="sqlparam"/>
    </select>

    <select id="queryEnvPodIns" resultType="io.choerodon.devops.api.vo.DevopsEnvPodInfoVO">
        SELECT dep.name name, ins.code instance_name, dep.creation_date, dep.namespace ,
               dep.ip AS podIp
        FROM devops_env_pod dep
                 INNER JOIN devops_app_service_instance ins ON dep.instance_id = ins.id
                 INNER JOIN devops_env de ON dep.namespace = de.code
        WHERE ins.env_id = #{envId}
    </select>

    <select id="queryPodByEnvIdAndInstanceId" resultType="io.choerodon.devops.infra.dto.DevopsEnvPodDTO">
        SELECT dep.id,
               dep.name,
               dep.namespace,
               derd.message,
               dep.creation_date,
               de.cluster_id
        FROM devops_env_pod dep
                 JOIN devops_env_resource der ON der.instance_id = dep.instance_id
                 JOIN devops_env_resource_detail derd ON der.resource_detail_id = derd.id
                 JOIN devops_env de ON de.id = der.env_id
        WHERE der.instance_id = #{instanceId}
          AND der.env_id = #{envId}
          AND der.kind = 'Pod'
          AND dep.name = der.name
          AND de.type = 'user'
    </select>

    <select id="countByOptions" resultType="int">
        SELECT COUNT(1)
        FROM devops_env_pod dep
        WHERE 1 = 1
        <if test="instanceId != null">
            AND dep.instance_id = #{instanceId,jdbcType=BIGINT}
        </if>
        <if test="namespace != null and namespace != ''">
            AND dep.namespace = #{namespace,jdbcType=VARCHAR}
        </if>
        <if test="is_ready != null">
            AND dep.is_ready = #{is_ready,jdbcType=TINYINT}
        </if>
        <if test="status != null and status != ''">
            AND dep.status = #{status,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="queryResourceDetailsByInstanceId" resultType="io.choerodon.devops.infra.dto.PodResourceDetailsDTO">
        SELECT derd.message, dep.is_ready
        FROM devops_env_pod dep
                 INNER JOIN devops_env_resource der
                            ON (der.instance_id = dep.instance_id AND der.`name` = dep.`name` AND der.kind = 'pod')
                 INNER JOIN devops_env_resource_detail derd ON derd.id = der.resource_detail_id
        WHERE dep.instance_id = #{instanceId}
    </select>
    <select id="listPodByKind" resultType="io.choerodon.devops.infra.dto.DevopsEnvPodDTO">
        SELECT
        dp.id,
        dp.ip,
        dp.`name`,
        dp.instance_id,
        dp.namespace namespace,
        dp.is_ready,
        dp.`status`,
        dp.creation_date,
        de.id envId,
        de.`code` envCode,
        de.`name` envName,
        dp.object_version_number,
        dp.node_name node_name,
        dp.restart_count restart_count
        FROM
        devops_env_pod dp
        LEFT JOIN devops_env de ON de.id = dp.env_id
        WHERE de.id = #{envId} and dp.owner_ref_kind = #{kind} and dp.owner_ref_name = #{name}
        <if test='searchParam != null'>
            <if test='searchParam.name != null and searchParam.name.length > 0'>
                AND
                dp.`name` LIKE CONCAT(CONCAT('%', #{searchParam.name, jdbcType=VARCHAR}),'%')
            </if>
            <if test='searchParam.ip != null and searchParam.ip.length > 0'>
                AND
                dp.ip LIKE CONCAT(CONCAT('%', #{searchParam.ip, jdbcType=VARCHAR}),'%')
            </if>
            <if test='searchParam.ready != null and searchParam.ready.length > 0'>
                AND dp.is_ready = #{searchParam.ready}
            </if>
        </if>
        <if test='params != null and params.size > 0'>
            AND
            <foreach collection="params" item="param" open="(" separator=" OR " close=")">
                (dp.`name` LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dp.ip LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dp.is_ready LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                )
            </foreach>
        </if>
    </select>

    <select id="listWorkloadPod" resultType="io.choerodon.devops.api.vo.DevopsEnvPodVO">
        SELECT *
        FROM devops_env_pod
        WHERE env_id = #{envId}
        AND owner_ref_kind = #{ownerKind}
        AND owner_ref_name = #{ownerName}
    </select>
</mapper>
