<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsGitlabCommitMapper">
    <select id="listCommits" resultType="io.choerodon.devops.infra.dataobject.DevopsGitlabCommitDO">
        SELECT
        dgc.id,
        dgc.user_id,
        dgc.app_id,
        dgc.ref,
        dgc.commit_date,
        dgc.commit_sha,
        dgc.commit_content,
        dgc.url,
        da.`name` appName
        FROM
        devops_gitlab_commit dgc
        JOIN devops_application da ON dgc.app_id = da.id
        JOIN devops_project dp ON da.project_id = dp.id
        WHERE
        <if test="appIds != null">
            dgc.app_id IN
            <foreach collection="appIds" item="appId" open="(" close=")" separator=",">
                #{appId}
            </foreach>
        </if>
        <if test="appIds == null">
            1
        </if>
        AND da.is_active = 1
        AND dp.id = #{projectId}
        AND dgc.commit_date &gt; #{startDate}
        AND dgc.commit_date &lt; #{endDate}
        ORDER BY dgc.commit_date DESC
    </select>
</mapper>
