<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsNotificationMapper">
    <resultMap id="devopsNotificationTransferDataVO" type="io.choerodon.devops.api.vo.DevopsNotificationTransferDataVO">
        <id column="id" property="id"/>
        <result column="env_id" property="envId"/>
        <result column="project_id" property="projectId"/>
        <result column="notify_trigger_event" property="notifyTriggerEvent"/>
        <result column="notify_object" property="notifyObject"/>
        <result column="notify_type" property="notifyType"/>
        <collection property="userRelDTOS" ofType="io.choerodon.devops.api.vo.DevopsNotificationUserRelVO">
            <id column="user_id" property="userId" />
            <result column="notification_id" property="notificationId"/>
        </collection>
    </resultMap>
    <select id="transferData" resultMap="devopsNotificationTransferDataVO">
         SELECT *
          FROM `devops_notification` dn LEFT JOIN devops_notification_user_rel dnur
         ON dnur.notification_id=dn.id
    </select>
</mapper>
