<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsHostAppInstanceRelMapper">

    <select id="selectHostAppByProjectId" resultType="io.choerodon.devops.api.vo.AppServiceRepVO">
        SELECT
          any_value(dhair.app_id) AS ID,
          any_value(dhair.app_source) AS source

        FROM
	      `devops_host_app_instance_rel` dhair
        WHERE
	       dhair.project_id = #{projectId,jdbcType=BIGINT}
        <if test="type != null and type != 'all'">
            AND  dhair.app_source= #{type,jdbcType=VARCHAR}
        </if>
        <if test="hostId != null and  hostId != 0">
            AND  dhair.host_id = #{hostId,jdbcType=BIGINT}
        </if>
        GROUP BY
	       dhair.app_id
    </select>

    <select id="queryInstanceListByHostId" resultType="io.choerodon.devops.infra.dto.DevopsHostAppInstanceRelDTO">
        SELECT
	     dhair.instance_id,
	     dhair.app_source,
         dhair.instance_type,
         dhair.created_by
        FROM
	     `devops_host_app_instance_rel` dhair
        WHERE
	      dhair.project_id = #{projectId,jdbcType=BIGINT}
        <if test="hostId != null and  hostId != 0">
          AND  dhair.host_id = #{hostId,jdbcType=BIGINT}
        </if>

    </select>

</mapper>