<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsHostCommandMapper">
    <update id="batchUpdateTimeoutCommand">
        update devops_host_command dhc
        set dhc.status = 'failed', dhc.error = '获取命令状态失败。可能有如下失败原因：\n1. 命令执行超时
        \n2.消息过大被系统丢弃\n请检查命令是否正确以及是否输出超过1M日志'
        where dhc.status = 'operating' and dhc.id in
        <foreach collection="missCommands" item="commandId" open="(" close=")" index="i" separator=",">
            #{commandId}
        </foreach>
    </update>

    <select id="selectLatestByInstanceIdAndType" resultType="io.choerodon.devops.infra.dto.DevopsHostCommandDTO">
        SELECT *
        FROM devops_host_command
        WHERE instance_id = #{instanceId,jdbcType=BIGINT}
          and instance_type = #{instanceType}
        ORDER BY id DESC
        LIMIT 0,1;
    </select>
    <select id="queryInstanceLatest" resultType="io.choerodon.devops.infra.dto.DevopsHostCommandDTO">
        SELECT *
        FROM devops_host_command dhc
        WHERE dhc.instance_id = #{instanceId}
          and dhc.instance_type = #{instanceType}
        ORDER BY id DESC
        limit 1
    </select>

    <select id="queryDockerInstanceLatest" resultType="io.choerodon.devops.infra.dto.DevopsHostCommandDTO">
        SELECT *
        FROM devops_host_command dhc
                     JOIN devops_docker_instance ddi ON ddi.id = dhc.instance_id
        WHERE ddi.app_id = #{appId}
          and dhc.instance_type = #{instanceType}
        ORDER BY dhc.id DESC
        limit 1
    </select>

    <select id="listStagnatedRecord" resultType="io.choerodon.devops.infra.dto.DevopsHostCommandDTO">
        select *
        from devops_host_command dhc
        where dhc.host_id = #{hostId} and dhc.status = 'operating' and dhc.last_update_date <![CDATA[<=]]> #{beforeDate}
    </select>

    <delete id="deleteByHostId">
        DELETE
        FROM devops_host_command
        WHERE host_id = #{hostId}
    </delete>

    <select id="listByIds" resultType="io.choerodon.devops.infra.dto.DevopsHostCommandDTO">
        SELECT * FROM devops_host_command
        WHERE id IN
        <foreach collection="missCommands" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="listByTypeAndInsIds" resultType="io.choerodon.devops.infra.dto.DevopsHostCommandDTO">
        SELECT * FROM devops_host_command
        WHERE instance_type = #{instanceType} and instance_id IN
        <foreach collection="insIds" item="insId" open="(" close=")" separator=",">
            #{insId}
        </foreach>
    </select>
</mapper>