<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsMiddlewareMapper">
    <select id="checkCodeUnique" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM devops_middleware dm
        WHERE dm.project_id=#{projectId}
        AND dm.name=#{name}
        AND dm.type=#{type}
    </select>

    <delete id="deleteByInstanceId">
        DELETE
        FROM devops_middleware
        WHERE instance_id = #{instanceId}
    </delete>

    <select id="queryByInstanceId" resultType="io.choerodon.devops.infra.dto.DevopsMiddlewareDTO">
        SELECT * FROM devops_middleware dm
        JOIN devops_host_app_instance dhai ON dhai.id=dm.instance_id
        JOIN devops_host_app dha ON dha.id=dhai.app_id
        WHERE dha.id=#{instanceId}
    </select>
</mapper>