<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsBranchMapper">
    <select id="queryByAppAndBranchName" resultType="io.choerodon.devops.infra.dto.DevopsBranchDTO">
        SELECT
        db.*
        FROM
        devops_branch db
        WHERE
        db.app_id = #{appId}
        and db.branch_name = #{branchName}
        and db.is_deleted = FALSE
        ORDER BY
        db.creation_date DESC
        LIMIT 1
    </select>

    <select id="list" resultType="io.choerodon.devops.infra.dto.DevopsBranchDTO">
        SELECT
        db.*
        FROM
        devops_branch db
        WHERE
        db.app_id = #{appId}
        and db.is_deleted = FALSE
        <if test='searchParam != null'>
            <if test='searchParam.branchName != null and searchParam.branchName.size > 0'>
                AND
                <foreach collection="searchParam.branchName" item="branchName" open="(" separator=" OR " close=")">
                    db.branch_name LIKE CONCAT(CONCAT('%', #{branchName, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
        </if>
    </select>


</mapper>
