<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCiMavenSettingsMapper">

    <select id="queryMavenSettings" resultType="java.lang.String">
        SELECT dcms.maven_settings
        FROM devops_ci_maven_settings dcms
        WHERE dcms.ci_job_id = #{jobId,jdbcType=BIGINT}
        AND dcms.sequence = #{sequence,jdbcType=BIGINT}
    </select>
    <select id="listByJobIds" resultType="io.choerodon.devops.infra.dto.DevopsCiMavenSettingsDTO">
        select *
        from devops_ci_maven_settings
        where ci_job_id in
        <foreach collection="jobIds" item="jobId" index="i" open="(" separator="," close=")">
            #{jobId}
        </foreach>
    </select>

    <delete id="deleteByJobIds">
        DELETE dcms.*
        FROM devops_ci_maven_settings dcms
        WHERE dcms.ci_job_id IN
        <foreach collection="jobIds" item="jobId" open="(" separator="," close=")">
            #{jobId,jdbcType=BIGINT}
        </foreach>
    </delete>
</mapper>