<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsEnvironmentMapper">

    <update id="updateDevopsEnvGroupId" parameterType="io.choerodon.devops.infra.dataobject.DevopsEnvironmentDO">
        UPDATE devops_env de set de.devops_env_group_id = null where de.id = #{envId}
    </update>

    <update id="updateSagaSyncEnvCommit" parameterType="io.choerodon.devops.infra.dataobject.DevopsEnvironmentDO">
        UPDATE devops_env de set de.saga_sync_commit = #{sagaSyncCommit} where de.id = #{envId}
    </update>

    <update id="updateDevopsSyncEnvCommit" parameterType="io.choerodon.devops.infra.dataobject.DevopsEnvironmentDO">
        UPDATE devops_env de set de.devops_sync_commit = #{devopsSyncCommit} where de.id = #{envId}
    </update>

    <update id="updateAgentSyncEnvCommit" parameterType="io.choerodon.devops.infra.dataobject.DevopsEnvironmentDO">
        UPDATE devops_env de set de.agent_sync_commit = #{agentSyncCommit} where de.id = #{envId}
    </update>

    <select id="queryByToken" resultType="io.choerodon.devops.infra.dataobject.DevopsEnvironmentDO">
      select * from devops_env de where de.token = #{token}
    </select>

    <update id="updateOptions">
        UPDATE devops_env de set de.gitlab_env_project_id = #{gitlabEnvProjectId} , de.hook_id = #{hookId} , de.is_synchro = #{isSynchro}  where de.id = #{envId}
    </update>


</mapper>