<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsAutoDeployRecordMapper">
    <select id="list" resultType="io.choerodon.devops.infra.dataobject.DevopsAutoDeployRecordDO">
        SELECT
        dadr.id,
        dadr.task_name,
        dadr.last_update_date,
        dadr.app_id,
        dadr.env_id,
        dadr.status,
        dai.status AS instanceStatus,
        da. NAME AS appName,
        dav.version,
        de. NAME AS envName,
        dai. CODE AS instanceName
        FROM
        devops_auto_deploy_record dadr
        JOIN devops_application da ON dadr.app_id = da.id
        JOIN devops_app_version dav ON dadr.version_id = dav.id
        JOIN devops_env de ON dadr.env_id = de.id
        <if test="userId !=null">
            JOIN devops_env_user_permission deup ON (
            deup.iam_user_id = #{userId}
            AND deup.is_permitted = 1
            AND dadr.env_id = deup.env_id
            )
        </if>
        LEFT JOIN devops_app_instance dai ON dadr.instance_id = dai.id
        where dadr.project_id = #{projectId}
        <if test="appId != null">
            AND dadr.app_id = #{appId}
        </if>
        <if test="envId != null">
            AND dadr.env_id = #{envId}
        </if>
        <if test="taskName != null">
            AND dadr.task_name = #{taskName}
        </if>
        <include refid="sqlparam"/>
    </select>

    <sql id="sqlparam">
        <if test='searchParam != null'>
            <if test='searchParam.version != null and searchParam.version.size > 0'>
                AND
                <foreach collection="searchParam.version" item="version" open="(" separator=" OR " close=")">
                    dav.version LIKE CONCAT(CONCAT('%', #{version, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.instanceName != null and searchParam.instanceName.size > 0'>
                AND
                <foreach collection="searchParam.instanceName" item="instanceName">
                    dai.code LIKE CONCAT(CONCAT('%', #{instanceName, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
        </if>
        <if test='param != null and param != ""'>
            AND ( dav.version LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR dai.code LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            )
        </if>
    </sql>

    <update id="banchUpdateStatus">
        UPDATE devops_auto_deploy_record dadr
        SET dadr. STATUS = #{status}
        WHERE dadr.auto_deploy_id = #{autoDeployId}
    </update>
</mapper>
