<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCertificationFileMapper">
    <select id="queryByCertificationId" resultType="io.choerodon.devops.infra.dto.CertificationFileDTO">
        SELECT * FROM devops_certification_file dcf
        JOIN devops_certification dc ON dcf.id=dc.certification_file_id
        WHERE dc.id=#{certificationId}
    </select>

    <select id="listByCertificationIds" resultType="io.choerodon.devops.infra.dto.CertificationFileDTO">
        SELECT dcf.id,
        dcf.key_file,
        dcf.cert_file,
        dc.id AS certification_id
        FROM devops_certification_file dcf
        JOIN devops_certification dc ON dcf.id = dc.certification_file_id
        WHERE dc.id
        IN
        <foreach collection="certificationIds" item="certificationId" open="(" close=")" separator=",">
            #{certificationId}
        </foreach>
    </select>
</mapper>