<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCiJobRecordMapper">
    <insert id="batchInert">
        INSERT IGNORE INTO devops_ci_job_record(gitlab_job_id,
                                                ci_pipeline_record_id,
                                                name,
                                                stage,
                                                status,
                                                trigger_user_id,
                                                started_date,
                                                app_service_id,
                                                maven_setting_id,
                                                metadata,
                                                created_by,
                                                last_updated_by,
                                                type,
                                                gitlab_project_id) VALUES
    <foreach collection="devopsCiJobRecordDTOS" item="recordDTO" separator="," index="i">
        (#{recordDTO.gitlabJobId},
        #{recordDTO.ciPipelineRecordId},
        #{recordDTO.name},
        #{recordDTO.stage},
        #{recordDTO.status},
        #{recordDTO.triggerUserId},
        #{recordDTO.startedDate},
        #{recordDTO.appServiceId},
        #{recordDTO.mavenSettingId},
        #{recordDTO.metadata},
        #{recordDTO.createdBy},
        #{recordDTO.lastUpdatedBy},
        #{recordDTO.type},
        #{recordDTO.gitlabProjectId})
    </foreach>


    </insert>
    <select id="queryLatestedPipelineRecord"
            resultType="io.choerodon.devops.infra.dto.DevopsCiPipelineRecordDTO">
        select *
        from devops_ci_pipeline_record dcpr
        where ci_pipeline_id = #{pipelineId}
        order by id desc
        limit 1;
    </select>

  <update id="updateApiTestTaskRecordInfo">
    UPDATE devops_ci_job_record dcjr
      JOIN devops_app_service das ON das.id = dcjr.app_service_id
    SET dcjr.config_id=#{configId},
        dcjr.api_test_task_record_id=#{apiTestTaskRecordId}
    WHERE dcjr.gitlab_job_id = #{gitlabJobId}
      AND das.token = #{token}
  </update>
</mapper>