<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsSecretMapper">

    <select id="selectById" resultType="io.choerodon.devops.infra.dto.DevopsSecretDO">
        SELECT
        ds.id,
        ds.env_id,
        ds.`name`,
        ds.description,
        ds.value,
        ds.command_id,
        ds.last_update_date,
        dc.status,
        dc.command_type
        FROM devops_secret ds
        LEFT JOIN devops_env_command dc ON ds.command_id = dc.id
        WHERE
         ds.id = #{secretId}
    </select>

    <select id="listByOption" resultType="io.choerodon.devops.infra.dto.DevopsSecretDO">
        SELECT
        ds.id,
        ds.env_id,
        ds.`name`,
        ds.description,
        ds.value,
        ds.last_update_date,
        dc.status,
        dc.command_type
        FROM devops_secret ds
        <if test="appId != null">
            LEFT JOIN devops_app_resource das ON ds.id = das.resource_id
        </if>
        LEFT JOIN devops_env_command dc ON ds.command_id = dc.id
        WHERE 1
        <if test="envId != null">
            AND ds.env_id = #{envId}
        </if>
        <if test="appId != null">
            AND das.app_id = #{appId}
            AND das.resource_type='secret'
        </if>
        <include refid="sqlparam"/>
    </select>

    <sql id="sqlparam">
        <if test='searchParam != null'>
            <if test='searchParam.status != null and searchParam.status.size > 0'>
                AND
                <foreach collection="searchParam.status" item="status" open="(" separator=" OR " close=")">
                    dc.status LIKE CONCAT(CONCAT('%', #{status, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.name != null and searchParam.name.size > 0'>
                AND
                <foreach collection="searchParam.name" item="name" open="(" separator=" OR " close=")">
                    ds.`name` LIKE CONCAT(CONCAT('%', #{name, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.secretMaps != null and searchParam.secretMaps.size > 0'>
                AND
                <foreach collection="searchParam.value" item="value" open="(" separator=" OR " close=")">
                    ds.secret_maps LIKE CONCAT(CONCAT('%', #{value, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
        </if>
        <if test='param != null and param != ""'>
            AND (dc.status LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR ds.`name` LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR ds.value LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR ds.creation_date LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%'))
        </if>
    </sql>
</mapper>