<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsHelmConfigMapper">
  <update id="updateAllHelmConfigRepoDefaultToFalse">
    UPDATE devops_helm_config
    SET repo_default=0
    WHERE resource_id = #{projectId}
      AND resource_type = 'project'
  </update>

  <update id="updateHelmConfigRepoDefaultToTrue">
    UPDATE devops_helm_config
    SET repo_default=1
    WHERE id = #{helmConfigId}
      AND resource_id = #{projectId}
      AND resource_type = 'project'
  </update>

  <update id="updateDevopsHelmConfigToNonDefaultRepoOnOrganization">
    UPDATE devops_helm_config
    SET repo_default=0
    WHERE resource_id = #{resourceId}
      AND resource_type = 'organization'
  </update>

  <select id="checkNameExists" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM devops_helm_config
            WHERE resource_type = 'project'
              AND name = #{name}
    <if test="helmConfigId != null">
      AND resource_id = #{helmConfigId}
    </if>
  </select>
</mapper>