<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsNotificationUserRelMapper">

    <insert id="batchInsert">
        INSERT
        INTO devops_notification_user_rel(notification_id, user_id, user_type)
        VALUES
        <foreach collection="devopsNotificationUserRelDTOS" item="devopsNotificationUserRel" separator=",">
            (#{devopsNotificationUserRel.notificationId},#{devopsNotificationUserRel.userId},#{devopsNotificationUserRel.userType})
        </foreach>
    </insert>
</mapper>
