<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsHostMapper">
    <select id="listByOptions" resultType="io.choerodon.devops.infra.dto.DevopsHostDTO">
        SELECT dh.*
        FROM devops_host dh
        WHERE 1 = 1
        <if test="projectId != null">
            AND dh.project_id = #{projectId}
        </if>
        <if test="searchParam != null">
            <if test="searchParam.type != null">
                AND dh.type = #{searchParam.type}
            </if>
            <if test="searchParam.status != null">
                <choose>
                    <when test="searchParam.status == 'success'">
                        AND ((dh.type = 'distribute_test' AND dh.host_status = 'success' AND dh.jmeter_status = 'success' ) OR (dh.type = 'deploy' AND dh.host_status = 'success'))
                    </when>
                    <when test="searchParam.status == 'failed'">
                        AND ((dh.type = 'distribute_test' AND (dh.host_status = 'failed' OR dh.jmeter_status = 'failed')) OR (dh.type = 'deploy' AND dh.host_status = 'failed'))
                    </when>
                    <otherwise>
                        AND ((dh.type = 'distribute_test' AND (dh.host_status != 'success' OR dh.jmeter_status != 'success')
                        AND dh.host_status != 'failed' AND dh.jmeter_status != 'failed') OR (dh.type = 'deploy' AND dh.host_status = 'operating'))
                    </otherwise>
                </choose>
            </if>
        </if>
        <if test='params != null and params.size > 0'>
            AND
            <foreach collection="params" item="param" open="(" separator=" OR " close=")">
                (dh.name LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dh.host_ip LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dh.ssh_port LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dh.jmeter_port LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dh.jmeter_path LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                )
            </foreach>
        </if>
    </select>

    <update id="batchSetStatusOperating">
        UPDATE devops_host
        SET jmeter_status = 'operating',
        jmeter_check_error = NULL,
        host_status = 'operating',
        host_check_error = NULL
        WHERE project_id = #{projectId,jdbcType=BIGINT}
        AND id IN
        <foreach collection="hostIds" item="hostId" open="(" close=")" separator=",">
            #{hostId,jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>