<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCheckLogMapper">
    <select id="queryNonEnvGroupProject" resultType="io.choerodon.devops.infra.dataobject.DevopsProjectDO">
        SELECT *
        FROM devops_project
        WHERE devops_app_group_id IS NOT NULL
          AND devops_env_group_id IS NULL;
    </select>


    <update id="syncCommandId">
        update devops_app_instance dai set dai.command_id = (SELECT
        d.id
        FROM
        devops_env_command d
        WHERE
        d.object = "instance" and d.object_id = dai.id
        ORDER BY d.id DESC LIMIT 1)
        </update>

    <update id="syncCommandVersionId">
        update devops_app_instance A,devops_env_command B set B.object_version_id=A.app_version_id where A.command_id=B.id
        </update>

</mapper>