<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsImageScanResultMapper">
    <select id="pageByOptions" resultType="io.choerodon.devops.infra.dto.DevopsImageScanResultDTO">
        select
        *
        from devops_image_scan_result disr
        where disr.GITLAB_PIPELINE_ID =#{gitlabPipelineId}

    </select>

    <delete id="deleteByGitlabPipelineIds">

        delete from
        devops_image_scan_result
        where GITLAB_PIPELINE_ID IN
        <foreach collection="gitlabPipelineIds" item="id" index="no" open="("
                 separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <insert id="insertScanResultBatch" parameterType="java.util.List">
        <selectKey resultType="java.lang.Integer" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into devops_image_scan_result
        (VULNERABILITY_CODE, GITLAB_PIPELINE_ID, START_DATE,
        END_DATE,SEVERITY,PKG_NAME,INSTALLED_VERSION,FIXED_VERSION,DESCRIPTION,TARGET)
        values
        <foreach collection="devopsImageScanResultDTOS" item="item" index="index" separator=",">
            (
            #{item.vulnerabilityCode},
            #{item.gitlabPipelineId},
            #{item.startDate},
            #{item.endDate},
            #{item.severity},
            #{item.pkgName},
            #{item.installedVersion},
            #{item.fixedVersion},
            #{item.description},
            #{item.target}
            )
        </foreach>
    </insert>


    <update id="updateScanDate">
        UPDATE devops_image_scan_result SET START_DATE=#{startDate}, END_DATE=#{endDate}
        WHERE GITLAB_PIPELINE_ID = #{gitlabPipelineId};
    </update>
</mapper>
