<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsEnvApplicationMapper">

    <select id="insertIgnore">
        INSERT IGNORE INTO devops_env_application (app_id, env_id)
        VALUES (#{appId}, #{envId});
    </select>

    <select id="queryAppByEnvId" resultType="java.lang.Long">
        SELECT
        d.app_id
        FROM
        devops_env_application d
        WHERE
        d.env_id = #{envId}
    </select>

    <select id="listResourceByEnvAndApp" resultType="io.choerodon.devops.api.vo.iam.entity.DevopsEnvMessageVO">
        SELECT
        der.name resourceName,
        derd.message detail
        FROM
        devops_app_instance dai
        JOIN devops_env_resource der ON der.app_instance_id = dai.id
        JOIN devops_env_resource_detail derd ON derd.id = der.resource_detail_id
        WHERE
        dai.app_id = #{appId}
        AND dai.env_id = #{envId}
        AND der.kind = 'Deployment'
    </select>
</mapper>