<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCdJobRecordMapper">

    <select id="queryFirstByStageRecordId"
            resultType="io.choerodon.devops.infra.dto.DevopsCdJobRecordDTO">
        SELECT *
        FROM devops_cd_job_record dcjr
        WHERE dcjr.stage_record_id = #{stageRecordId}
        ORDER BY dcjr.sequence ASC
        limit 1
    </select>

    <select id="queryRetryJob"
            resultType="io.choerodon.devops.infra.dto.DevopsCdJobRecordDTO">
        SELECT
            dcsr.*
        FROM
            devops_cd_job_record dcsr
        WHERE
            dcsr.stage_record_id = #{stageRecordId}
            AND (dcsr.`status` = 'FAILED' OR dcsr. STATUS = 'CANCELED')

    </select>

    <select id="queryFirstJobByStageRecordIdAndStatus"
            resultType="io.choerodon.devops.infra.dto.DevopsCdJobRecordDTO">
            SELECT
                dcsr.*
            FROM
                devops_cd_job_record dcsr
            WHERE
                dcsr.stage_record_id = #{stageRecordId}
                AND dcsr.`status` = #{status}
            ORDER BY sequence ASC
            LIMIT 1
    </select>

    <select id="queryCreatedOrPendingOrRunning"
            resultType="io.choerodon.devops.infra.dto.DevopsCdJobRecordDTO">
            SELECT
                dcsr.*
            FROM
                devops_cd_job_record dcsr
            WHERE
                dcsr.stage_record_id = #{stageRecordId}
                AND (dcsr.`status` = 'pending' or  dcsr.status='running' or dcsr. status = 'created')
    </select>
    <update id="updateNotAuditJobStatus">
        UPDATE devops_cd_job_record
        SET status = #{status}
        WHERE id = #{jobRecordId} AND status = 'not_audit'
    </update>
</mapper>
