<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsDeployRecordMapper">
    <select id="listByProjectId" resultType="io.choerodon.devops.infra.dto.DevopsDeployRecordDTO">
SELECT
	* from (
SELECT
	ddr.id,
	ddr.project_id,
	ddr.env,
	ddr.deploy_type,
	ddr.deploy_id,
	ddr.deploy_time,
	dc.`status` deployStatus,
	dc.created_by deployCreatedBy,
	NULL pipelineName,
	NULL pipelineTriggerType
FROM
	devops_deploy_record ddr
	LEFT JOIN devops_env_command dc ON ddr.deploy_id = dc.id
WHERE
	ddr.deploy_type = "manual" UNION
SELECT
	ddr.id,
	ddr.project_id,
	ddr.env,
	ddr.deploy_type,
	ddr.deploy_id,
	ddr.deploy_time,
	dpc.`status` deployStatus,
	dpc.created_by deployCreatedBy,
	dpc.pipeline_name pipelineName,
	dpc.trigger_type pipelineTriggerType
FROM
	devops_deploy_record ddr
	LEFT JOIN devops_pipeline_record dpc ON ddr.deploy_id = dpc.id
WHERE
	ddr.deploy_type = "auto"
	) t
	where t.project_id=#{projectId}
	<include refid="sqlparam"/>
    </select>

	<sql id="sqlparam">
		<if test='searchParam != null'>
			<if test='searchParam.deployType != null and searchParam.deployType.size > 0'>
				AND
				<foreach collection="searchParam.deployType" item="deployType" open="(" separator=" OR " close=")">
					t.deploy_type LIKE CONCAT(CONCAT('%', #{deployType, jdbcType=VARCHAR}),'%')
				</foreach>
			</if>
			<if test='searchParam.deployStatus != null and searchParam.deployStatus.size > 0'>
				AND
				<foreach collection="searchParam.deployStatus" item="deployStatus" open="(" separator=" OR " close=")">
					t.deployStatus LIKE CONCAT(CONCAT('%', #{deployStatus, jdbcType=VARCHAR}),'%')
				</foreach>
			</if>
			<if test='searchParam.pipelineName != null and searchParam.pipelineName.size > 0'>
				AND
				<foreach collection="searchParam.pipelineName" item="pipelineName" open="(" separator=" OR " close=")">
					t.pipelineName LIKE CONCAT(CONCAT('%', #{pipelineName, jdbcType=VARCHAR}),'%')
				</foreach>
			</if>
			<if test='searchParam.env != null and searchParam.env.size > 0'>
				AND
				<foreach collection="searchParam.env" item="env" open="(" separator=" OR " close=")">
					t.env LIKE CONCAT(CONCAT('%', #{env, jdbcType=VARCHAR}),'%')
				</foreach>
			</if>
		</if>

	</sql>

</mapper>
