<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsPvMapper">
    <select id="listPvByOptions" resultType="io.choerodon.devops.infra.dto.DevopsPvDTO">
        SELECT dpv.id id,
        dpv.pvc_name pvc_name,
        dpv.project_id project_id,
        dpv.cluster_id cluster_id,
        dpv.name name,
        dpv.type type,
        dpv.description description,
        dpv.status status,
        dpv.request_resource request_resource,
        dpv.access_modes access_modes,
        dpv.command_id command_id,
        dc.name cluster_name,
        dpv.skip_check_project_permission skip_check_project_permission
        FROM devops_pv dpv
        LEFT JOIN devops_cluster dc on dpv.cluster_id = dc.id
        <where>
            dc.organization_id=#{organizationId}
            <if test="projectId!=null">
                AND dpv.project_id=#{projectId}
            </if>
            <if test="clusterId!=null">
                AND dpv.cluster_id=#{clusterId}
            </if>
            <include refid="sqlparams"/>
        </where>
        ORDER BY
        <if test="orderBy != null and orderBy != ''">
            ${orderBy},
        </if>
        dpv.id DESC
    </select>

    <sql id="sqlparams">
        <if test='searchParam != null'>
            <if test='searchParam.name != null and searchParam.name.length > 0'>
                AND
                dpv.name LIKE CONCAT(CONCAT('%', #{searchParam.name, jdbcType=VARCHAR}),'%')
            </if>
            <if test='searchParam.type != null and searchParam.type.length > 0'>
                AND
                dpv.type = #{searchParam.type, jdbcType=VARCHAR}
            </if>
            <if test='searchParam.cluster != null and searchParam.cluster.length > 0'>
                AND
                dc.name LIKE CONCAT(CONCAT('%', #{searchParam.cluster, jdbcType=VARCHAR}),'%')
            </if>
            <if test='searchParam.accessModes != null and searchParam.accessModes.length > 0'>
                AND
                dpv.access_modes = #{searchParam.accessModes, jdbcType=VARCHAR}
            </if>
            <if test='searchParam.status != null and searchParam.status.length > 0'>
                AND
                dpv.status = #{searchParam.status, jdbcType=VARCHAR}
            </if>
            <if test="searchParam.description!=null and searchParam.description.length>0">
                AND
                dpv.description LIKE CONCAT(CONCAT('%', #{searchParam.type, jdbcType=VARCHAR}),'%')
            </if>
        </if>
        <if test='params != null and params.size > 0'>
            AND
            <foreach collection="params" item="param" open="(" separator=" OR " close=")">
                (
                dpv.name LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dpv.type LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dpv.access_modes = #{param, jdbcType=VARCHAR}
                OR dpv.status LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                )
            </foreach>
        </if>
    </sql>

    <select id="queryById" resultType="io.choerodon.devops.infra.dto.DevopsPvDTO">
        SELECT dpv.id id,
        dpv.pvc_name pvc_name,
        dpv.cluster_id cluster_id,
        dpv.project_id project_id,
        dpv.name name,
        dpv.type type,
        dpv.description description,
        dpv.status status,
        dpv.request_resource request_resource,
        dpv.access_modes access_modes,
        dpv.command_id command_id,
        dpv.object_version_number,
        dpvc.name pvc_name,
        dc.name cluster_name,
        dpv.skip_check_project_permission skip_check_project_permission
        FROM devops_pv dpv
        LEFT JOIN devops_pvc dpvc on dpv.id = dpvc.pv_id
        LEFT JOIN devops_cluster dc on dpv.cluster_id = dc.id
        WHERE dpv.id = #{pvId}
    </select>

    <select id="queryByNameAndClusterId" resultType="io.choerodon.devops.infra.dto.DevopsPvDTO">
        SELECT
        dpv.id                  id,
        dpv.name                name,
        dpv.project_id          project_id,
        dpv.type                type,
        dpv.description         description,
        dpv.status              status,
        dpv.request_resource    request_resource,
        dpv.access_modes        access_modes,
        dc.name                 cluster_name
        FROM devops_pv dpv
        JOIN devops_cluster dc on dpv.cluster_id = dc.id
        WHERE dpv.name=#{name} AND dc.id=#{clusterId}
    </select>

    <select id="queryByEnvIdAndName" resultType="io.choerodon.devops.infra.dto.DevopsPvDTO">
        SELECT dpv.*
        FROM devops_pv dpv
        LEFT JOIN devops_cluster dc ON dpv.cluster_id = dc.id
        WHERE dc.system_env_id = #{envId}
        AND dpv.name = #{pvName}
    </select>

    <select id="queryWithEnvByPrimaryKey" resultType="io.choerodon.devops.infra.dto.DevopsPvDTO">
        SELECT dpv.*, dc.system_env_id as env_id
        FROM devops_pv dpv
        LEFT JOIN devops_cluster dc ON dpv.cluster_id = dc.id
        WHERE dpv.id = #{pvId,jdbcType=BIGINT}
    </select>

    <select id="queryWithEnvByClusterIdAndName" resultType="io.choerodon.devops.infra.dto.DevopsPvDTO">
        SELECT dpv.*, dc.system_env_id as env_id
        FROM devops_pv dpv
        LEFT JOIN devops_cluster dc ON dpv.cluster_id = dc.id
        WHERE dpv.name = #{name}
        AND dpv.cluster_id = #{clusterId}
    </select>

    <update id="updateStatusById">
        UPDATE devops_pv
        SET devops_pv.status = #{status}
        WHERE devops_pv.id = #{id}
    </update>
    <select id="listByPvIds" resultType="io.choerodon.devops.infra.dto.DevopsPvDTO">
        SELECT * FROM devops_pv
        WHERE id IN
        <foreach collection="pvIds" item="pvId" separator="," open="(" close=")">
            #{pvId}
        </foreach>
    </select>

    <select id="listLabelsByClusterId" resultType="java.lang.String">
        SELECT dp.labels FROM devops_pv dp
        WHERE dp.cluster_id=#{clusterId}
    </select>
</mapper>