<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsAutoDeployMapper">
    <select id="list" resultType="io.choerodon.devops.infra.dataobject.DevopsAutoDeployDO">
        SELECT
        dad.id,
        dad.project_id,
        dad.task_name,
        da. NAME AS appName,
        dad.app_id,
        dad.trigger_version,
        dad.env_id,
        de. NAME AS envName,
        dad.value_id,
        dad.last_update_date,
        dad.object_version_number,
        dad.instance_id,
        dad.is_enabled
        FROM devops_auto_deploy dad
        JOIN devops_application da
        ON dad.app_id = da.id
        JOIN devops_env de
        ON dad.env_id = de.id
        <if test="userId !=null">
            JOIN devops_env_user_permission deup ON (
            deup.iam_user_id = #{userId}
            AND deup.is_permitted = 1
            AND dad.env_id = deup.env_id
            )
        </if>
        where dad.project_id = #{projectId}
        <if test="appId != null">
            AND dad.app_id = #{appId}
        </if>
        <if test="envId != null">
            AND dad.env_id = #{envId}
        </if>
        <include refid="sqlparam"/>
        <if test="index !=''">
            ORDER BY
            dad.is_enabled DESC,
            dad.id DESC
        </if>
    </select>


    <sql id="sqlparam">
        <if test='searchParam != null'>
            <if test='searchParam.taskName != null and searchParam.taskName.size > 0'>
                AND
                <foreach collection="searchParam.taskName" item="taskName" open="(" separator=" OR " close=")">
                    dad.task_name LIKE CONCAT(CONCAT('%', #{taskName, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
            <if test='searchParam.triggerVersion != null and searchParam.triggerVersion.size > 0'>
                AND
                <foreach collection="searchParam.triggerVersion" item="triggerVersion">
                    dad.trigger_version LIKE CONCAT(CONCAT('%', #{triggerVersion, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
        </if>
        <if test='param != null and param != ""'>
            AND (dad.task_name LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            OR dad.trigger_version LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
            )
        </if>
    </sql>

    <select id="queryById" resultType="io.choerodon.devops.infra.dataobject.DevopsAutoDeployDO">
        SELECT
            dad.app_id,
            dad.id,
            dad.project_id,
            dad.env_id,
            dad.value_id,
            dad.task_name,
            dad.trigger_version,
            dad.object_version_number,
            dadv.VALUE,
            dad.instance_name,
            dad.instance_id,
            dad.is_enabled
        FROM
            devops_auto_deploy dad
        LEFT JOIN devops_auto_deploy_value dadv
        ON dad.value_id = dadv.id
        WHERE dad.id = #{autoDeployId}
    </select>

    <select id="queryByVersion" resultType="io.choerodon.devops.infra.dataobject.DevopsAutoDeployDO">
        SELECT
            dad.app_id,
            dad.id,
            dad.project_id,
            dad.env_id,
            dad.value_id,
            dad.task_name,
            dad.created_by,
            dad.instance_name,
            dad.instance_id,
            dadv.VALUE
        FROM
            devops_auto_deploy dad
        LEFT JOIN devops_auto_deploy_value dadv
        ON dad.value_id = dadv.id
        WHERE
            dad.app_id = #{appId}
        AND dad.is_enabled=1
        <choose>
            <when test='branch != null and branch != ""'>
                AND (dad.trigger_version LIKE CONCAT('%', #{branch},'%')
                OR dad.trigger_version = '')
            </when>
            <otherwise>
                AND dad.trigger_version = ''
            </otherwise>
        </choose>

    </select>

    <select id="checkTaskName" resultType="io.choerodon.devops.infra.dataobject.DevopsAutoDeployDO">
        SELECT
            dad.app_id,
            dad.id,
            dad.project_id,
            dad.env_id,
            dad.value_id,
            dad.task_name,
            dad.trigger_version,
            dad.object_version_number,
            dad.instance_name
        FROM
            devops_auto_deploy dad
        WHERE
            dad.project_id = #{projectId}
        AND dad.task_name = #{taskName}
        <if test='id != null and id != ""'>
            AND dad.id != #{id}
        </if>
    </select>

    <update id="updateInstanceId">
        UPDATE devops_auto_deploy dad
        SET dad.instance_id = NULL
        WHERE dad.instance_id = #{instanceId}
    </update>

    <select id="queryByProjectId" resultType="io.choerodon.devops.infra.dataobject.DevopsAutoDeployDO">
        SELECT
            dad.id,
            dad.project_id,
            dad.task_name,
            dad.app_id,
            dad.trigger_version,
            dad.env_id,
            dad.value_id,
            dad.instance_id,
            dad.is_enabled
        FROM
            devops_auto_deploy dad
        JOIN devops_env de ON dad.env_id = de.id
        <if test="userId !=null">
            JOIN devops_env_user_permission deup ON (
                deup.iam_user_id = #{userId}
                AND deup.is_permitted = 1
                AND dad.env_id = deup.env_id
            )
        </if>
        WHERE
            dad.project_id = #{projectId}
    </select>
</mapper>
