<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsHostMapper">
    <select id="listByOptions" resultType="io.choerodon.devops.infra.dto.DevopsHostDTO">
        SELECT dh.*
        FROM devops_host dh
        WHERE 1 = 1
        <if test="projectId != null">
            AND dh.project_id = #{projectId}
        </if>
        <if test="searchParam != null">
            <if test="searchParam.type != null">
                AND dh.type = #{searchParam.type}
            </if>
            <if test="searchParam.status != null">
                <choose>
                    <when test="searchParam.status == 'success'">
                        AND ((dh.type = 'distribute_test' AND dh.host_status = 'success' AND dh.jmeter_status = 'success' ) OR (dh.type = 'deploy' AND dh.host_status = 'success'))
                    </when>
                    <when test="searchParam.status == 'failed'">
                        AND ((dh.type = 'distribute_test' AND (dh.host_status = 'failed' OR dh.jmeter_status = 'failed')) OR (dh.type = 'deploy' AND dh.host_status = 'failed'))
                    </when>
                    <when test="searchParam.status == 'occupied'">
                        AND (dh.type = 'distribute_test' AND dh.jmeter_status = 'occupied')
                    </when>
                    <otherwise>
                        AND ((dh.type = 'distribute_test' AND (dh.host_status != 'success' OR dh.jmeter_status != 'success')
                        AND dh.host_status != 'failed' AND dh.jmeter_status != 'failed') OR (dh.type = 'deploy' AND dh.host_status = 'operating'))
                    </otherwise>
                </choose>
            </if>
        </if>
        <if test='params != null and params.size > 0'>
            AND
            <foreach collection="params" item="param" open="(" separator=" OR " close=")">
                (dh.name LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dh.host_ip LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dh.ssh_port LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dh.jmeter_port LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                OR dh.jmeter_path LIKE CONCAT(CONCAT('%', #{param, jdbcType=VARCHAR}),'%')
                )
            </foreach>
        </if>
    </select>

    <select id="listByProjectIdAndIds" resultType="io.choerodon.devops.infra.dto.DevopsHostDTO">
        SELECT dh.*
        FROM devops_host dh
                WHERE project_id = #{projectId,jdbcType=BIGINT}
                  AND host_ip IS NOT NULL
                  AND id IN
        <foreach collection="hostIds" item="hostId" open="(" close=")" separator=",">
            #{hostId,jdbcType=BIGINT}
        </foreach>
    </select>
    <select id="listBySearchParam" resultType="io.choerodon.devops.api.vo.DevopsHostVO">
        SELECT dh.*
        FROM devops_host dh
        <where>
            dh.project_id = #{projectId,jdbcType=BIGINT} and dh.type = 'distribute_test'
            <if test="searchParam != null">
                AND dh.name LIKE CONCAT(CONCAT('%', #{searchParam, jdbcType=VARCHAR}),'%')
            </if>
        </where>
    </select>
    <select id="pagingWithCheckingStatus" resultType="io.choerodon.devops.api.vo.DevopsHostVO">
        SELECT *
        FROM (
        SELECT
        dh.id,
        dh.name,
        dh.type,
        dh.project_id,
        dh.host_status,
        dh.host_check_error,
        dh.jmeter_status,
        dh.jmeter_check_error,
        dh.host_ip,
        dh.ssh_port,
        dh.auth_type,
        dh.username,
        dh.password,
        dh.jmeter_port,
        dh.jmeter_path,
        dh.object_version_number,
        dh.created_by,
        dh.creation_date,
        dh.last_updated_by,
        dh.last_update_date,
        1 AS selected,
        CASE WHEN dh.host_status = 'failed' or dh.jmeter_status = 'failed' THEN 1
        ELSE 0
        END AS failed
        FROM devops_host dh
        <where>
            dh.type = 'distribute_test' and
            dh.id IN
            <foreach collection="finalHostIds" item="id" open="(" close=")" separator="," index="i">
                #{id}
            </foreach>
            <if test="searchParam != null">
                AND dh.name LIKE CONCAT(CONCAT('%', #{searchParam, jdbcType=VARCHAR}),'%')
            </if>
        </where>
        union
        SELECT
        dh1.id,
        dh1.name,
        dh1.type,
        dh1.project_id,
        dh1.host_status,
        dh1.host_check_error,
        dh1.jmeter_status,
        dh1.jmeter_check_error,
        dh1.host_ip,
        dh1.ssh_port,
        dh1.auth_type,
        dh1.username,
        dh1.password,
        dh1.jmeter_port,
        dh1.jmeter_path,
        dh1.object_version_number,
        dh1.created_by,
        dh1.creation_date,
        dh1.last_updated_by,
        dh1.last_update_date,
        0 AS selected,
        CASE WHEN dh1.host_status = 'failed' or dh1.jmeter_status = 'failed' THEN 1
        ELSE 0
        END AS failed
        FROM devops_host dh1
        <where>
            dh1.type = 'distribute_test' and dh1.project_id = #{projectId}
            and dh1.id not IN
            <foreach collection="finalHostIds" item="id" open="(" close=")" separator="," index="i">
                #{id}
            </foreach>
            <if test="searchParam != null">
                AND dh1.name LIKE CONCAT(CONCAT('%', #{searchParam, jdbcType=VARCHAR}),'%')
            </if>
        </where>
        ) h order by h.selected desc,h.failed desc

    </select>

    <select id="listDistributionTestHostsByIds" resultType="io.choerodon.devops.infra.dto.DevopsHostDTO">
        SELECT dh.*
        FROM devops_host dh
        WHERE dh.id IN
        <foreach collection="hostIds" item="hostId" open="(" close=")" separator=",">
            #{hostId}
        </foreach>
        AND dh.project_id = #{projectId}
        AND dh.type = 'distribute_test'
    </select>

    <update id="batchSetStatusOperating">
        UPDATE devops_host
        SET
        last_update_date = #{date},
        host_status = 'operating',
        host_check_error = NULL,
        <if test="updatedBy != null">
            last_updated_by = #{updatedBy}
        </if>
        <if test="isTestType">
            ,
            jmeter_status = 'operating',
            jmeter_check_error = NULL
        </if>
        WHERE project_id = #{projectId,jdbcType=BIGINT}
        AND id IN
        <foreach collection="hostIds" item="hostId" open="(" close=")" separator=",">
            #{hostId,jdbcType=BIGINT}
        </foreach>
    </update>

    <update id="batchSetStatusTimeoutFailed">
        UPDATE devops_host
        SET
        last_update_date = #{date},
        host_status = 'failed',
        host_check_error = 'timeout to correct status'
        <if test="isTestType">
            ,
            jmeter_status = 'failed',
            jmeter_check_error = 'timeout to correct status'
        </if>
        WHERE project_id = #{projectId,jdbcType=BIGINT}
        AND id IN
        <foreach collection="hostIds" item="hostId" open="(" close=")" separator=",">
            #{hostId,jdbcType=BIGINT}
        </foreach>
    </update>

    <update id="updateJmeterStatus">
        UPDATE devops_host
        SET
        jmeter_status = #{status}
        WHERE id IN
        <foreach collection="hostIds" item="hostId" open="(" close=")" separator=",">
            #{hostId,jdbcType=BIGINT}
        </foreach>
    </update>

    <select id="listDistributionTestHosts" resultType="io.choerodon.devops.infra.dto.DevopsHostDTO">
        SELECT dh.*
        FROM devops_host dh
        WHERE dh.type='distribute_test'
    </select>

</mapper>