<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsIngressPathMapper">

    <select id="selectByEnvIdAndServiceName" resultType="io.choerodon.devops.infra.dataobject.DevopsIngressPathDO">
        SELECT
        dip.*
        FROM
        devops_ingress di,
        devops_ingress_path dip
        WHERE
        di.id = dip.ingress_id
        AND di.env_id = #{envId}
        AND dip.service_name = #{serviceName}
    </select>

    <select id="checkDomainAndPath" resultType="java.lang.Boolean">
        SELECT
        count(1) > 0 exist
        FROM
        devops_ingress di
        INNER JOIN devops_ingress_path dip ON di.id = dip.ingress_id
        WHERE
        di.domain = #{domain}
        <if test="ingressId != null">
            AND di.id != #{ingressId}
        </if>
        AND dip.path = #{path}
        AND di.env_id = #{envId}
    </select>

    <select id="selectByEnvIdAndServiceId" resultType="io.choerodon.devops.infra.dataobject.DevopsIngressPathDO">
        SELECT
        dip.*
        FROM
        devops_ingress di,
        devops_ingress_path dip
        WHERE
        di.id = dip.ingress_id
        AND di.env_id = #{envId}
        AND dip.service_id = #{serviceId}
    </select>

    <delete id="deleteByIngressIds">
        DELETE FROM devops_ingress_path dip
        WHERE dip.ingress_id IN
        <foreach collection="ingressIds" item="ingressId" open="(" separator="," close=")">
            #{ingressId}
        </foreach>
    </delete>
</mapper>
