<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCiJobMapper">

    <select id="listOldDataByType" resultType="io.choerodon.devops.infra.dto.DevopsCiJobDTO">
        select *
        from devops_ci_job dcj
        where dcj.old_type = #{type}
          and dcj.type is null
    </select>
</mapper>