<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.DevopsCdStageRecordMapper">

    <select id="queryFirstByPipelineRecordId"
            resultType="io.choerodon.devops.infra.dto.DevopsCdStageRecordDTO">
        SELECT
        dcsr.*
        FROM devops_cd_stage_record dcsr
        WHERE dcsr.pipeline_record_id = #{pipelineRecordId}
        ORDER BY dcsr.sequence ASC
        limit 1
    </select>

    <select id="queryRetryStage"
            resultType="io.choerodon.devops.infra.dto.DevopsCdStageRecordDTO">
        SELECT
            dcsr1.*
        FROM
            devops_cd_stage_record dcsr1
        WHERE
            dcsr1.pipeline_record_id = #{pipelineRecordId}
            AND dcsr1.sequence >= (
                SELECT
                    dcsr.sequence
                FROM
                    devops_cd_stage_record dcsr
                WHERE
                    dcsr.pipeline_record_id = #{pipelineRecordId}
                    AND (dcsr.`status` = 'FAILED' or  dcsr.status='CANCELED')
            )
    </select>

    <select id="queryFailedOrCancelStage"
            resultType="io.choerodon.devops.infra.dto.DevopsCdStageRecordDTO">
            SELECT
                dcsr.*
            FROM
                devops_cd_stage_record dcsr
            WHERE
                dcsr.pipeline_record_id = #{pipelineRecordId}
                AND (dcsr.`status` = 'FAILED' or  dcsr.status='CANCELED')
    </select>

    <select id="queryCreatedOrPendingAndRunning"
            resultType="io.choerodon.devops.infra.dto.DevopsCdStageRecordDTO">
            SELECT
                dcsr.*
            FROM
                devops_cd_stage_record dcsr
            WHERE
                dcsr.pipeline_record_id = #{pipelineRecordId}
                AND (dcsr.`status` = 'pending' or  dcsr.status='running' or dcsr.status = 'canceled')
    </select>
</mapper>
