<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.devops.infra.mapper.DockerComposeValueMapper">


    <select id="listRemarkValuesByAppId" resultType="io.choerodon.devops.infra.dto.DockerComposeValueDTO">
        select *
        from devops_docker_compose_value ddcv
        where ddcv.remark is not null and ddcv.app_id = #{appId}
        <if test="searchParam != null">
            and ddcv.remark like CONCAT(CONCAT('%', #{searchParam, jdbcType=VARCHAR}),'%')
        </if>
        order by id desc
    </select>
</mapper>

