<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.PipelineStageRecordMapper">


    <update id="cancelPipelineStages">
        update devops_pipeline_stage_record
        set status = 'canceled'
        where pipeline_record_id = #{pipelineRecordId}
          and (status = 'created' or status = 'pending' or status = 'running')
    </update>
    <update id="updateCanceledAndFailedStatusToCreated">
        update devops_pipeline_stage_record
        set status = 'created'
        where pipeline_record_id = #{pipelineRecordId}
          and (status = 'canceled' or status = 'failed')
    </update>
    <delete id="cancelPipelineStagesByIds">
        update devops_pipeline_stage_record
        set status = 'canceled'
        where id in
        <foreach collection="stageRecordIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="queryByIdForUpdate" resultType="io.choerodon.devops.infra.dto.PipelineStageRecordDTO">
        select *
        from devops_pipeline_stage_record
        where id = #{id}
            for
        update
    </select>
</mapper>
