<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.PipelineJobRecordMapper">

    <select id="listPendingJobs" resultType="io.choerodon.devops.infra.dto.PipelineJobRecordDTO">
        select *
        from devops_pipeline_job_record dpjr
        where dpjr.status = 'pending'
        order by id asc
        limit #{number}
    </select>
    <select id="listByStageIdForUpdate" resultType="io.choerodon.devops.infra.dto.PipelineJobRecordDTO">
        select *
        from devops_pipeline_job_record dpjr
        where dpjr.stage_record_id = #{stageRecordId}
            for
        update
    </select>

    <update id="updatePendingJobToRunning">
        update devops_pipeline_job_record
        set status = 'running'
        where id = #{id}
          and status = 'pending'
    </update>
</mapper>
