<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.PipelineTaskRecordMapper">
    <select id="queryByStageRecordId" resultType="io.choerodon.devops.infra.dto.PipelineTaskRecordDTO">
        SELECT
        dptr.id,
        dptr.`name`,
        dptr.is_countersigned,
        dptr.task_type,
        da.`name` AS appName,
        de.`name` AS envName,
        dav.version,
        dptr.application_id,
        dptr.app_deploy_id,
        dptr.env_id,
        dptr.instance_id,
        dptr.status,
        dptr.task_id,
        (
        CASE
        WHEN dptr.instance_id IS NOT NULL
        THEN dptr.instance_name
        ELSE
        NULL
        END
        ) instanceName,
        dptr.task_type,
        dptr.audit_user,
        dptr.stage_record_id,
        (
        CASE
        WHEN dptr.instance_id IS NOT NULL
        AND dai. STATUS IS NULL THEN 'deleted'
        ELSE
        dai. STATUS
        END
        ) instanceStatus
        FROM
        devops_pipeline_task_record dptr
        LEFT JOIN devops_application_service da ON da.id = dptr.application_id
        LEFT JOIN devops_env de ON de.id = dptr.env_id
        LEFT JOIN devops_app_version dav ON dav.id = dptr.version_id
        LEFT JOIN devops_app_instance dai ON dai.id = dptr.instance_id
        WHERE dptr.stage_record_id = #{stageRecordId}
        <if test="taskId != null">
            AND dptr.task_id = #{taskId}
        </if>
    </select>

    <select id="queryAllAutoTaskRecord" resultType="io.choerodon.devops.infra.dto.PipelineTaskRecordDTO">
        SELECT
            dptr.id,
            dptr.`name`,
            dptr.is_countersigned,
            dptr.task_type,
            dptr.application_id,
            dptr.app_deploy_id,
            dptr.env_id,
            dptr.instance_id,
            dptr. STATUS,
            dptr.task_id,
            dptr.instance_name,
            dptr.task_type,
            dptr.audit_user
        FROM
            devops_pipeline_task_record dptr
        JOIN devops_pipeline_stage_record dpsr ON dpsr.pipeline_record_id = #{pipelineRecordId}
        WHERE
            dptr.stage_record_id = dpsr.id
        AND dptr.task_type = 'auto'
    </select>
</mapper>
