<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.PipelineAppDeployMapper">
    <select id="queryById" resultType="io.choerodon.devops.infra.dto.PipelineAppDeployDTO">
       SELECT
            dpt.type,
            dpt. NAME,
            da. NAME AS applicationName,
            dpad.application_id,
            dpad.trigger_version,
            dpad.env_id,
            de. NAME AS envName,
            IF (
            ISNULL(dpad.instance_id),
            (
                SELECT
                    dai.id
                FROM
                    devops_app_instance dai
                WHERE
                    dai.env_id = dpad.env_id
                AND dai. CODE = dpad.instance_name
            ),
            dpad.instance_id
            ) AS instance_id,
            dpad.instance_name,
            dadv.VALUE,
            dpad.value_id,
            dpad.object_version_number,
            dpad.env_id,
            dpad.project_id,
            dpad.id,
            dpad.creation_date
        FROM
            devops_pipeline_app_deploy dpad
        JOIN devops_application_service da ON dpad.application_id = da.id
        JOIN devops_env de ON dpad.env_id = de.id
        JOIN devops_pipeline_task dpt ON dpt.app_deploy_id = dpad.id
        JOIN devops_deploy_value dadv ON dadv.id = dpad.value_id
        WHERE
            dpad.id = #{appDeployId}
    </select>

    <update id="updateInstanceId"  parameterType="java.lang.Long">
         UPDATE devops_pipeline_app_deploy
         SET instance_id = NULL
         WHERE instance_id = #{instanceId}
    </update>
</mapper>
