<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.PipelineAuditUserMapper">

<delete id="batchDeleteByConfigIds">
    delete
    from devops_pipeline_audit_user
    where audit_config_id in
    <foreach collection="configIds" item="configId" open="(" separator="," close=")">
        #{configId}
    </foreach>
    </delete>
</mapper>
