<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.PipelineMapper">
    <select id="listByOptions" resultType="io.choerodon.devops.infra.dto.PipelineDTO">
        <choose>
            <when test="pipelineSearchVO!=null and pipelineSearchVO.executor !=null and pipelineSearchVO.creator != null and pipelineSearchVO.manager == null">
                <include refid="executorSql"/>
                union
                <include refid="creatorSql"/>
            </when>
            <when test="pipelineSearchVO!=null and pipelineSearchVO.executor !=null and pipelineSearchVO.manager == null and  pipelineSearchVO.creator == null">
                <include refid="executorSql"/>
            </when>
            <when test="pipelineSearchVO!=null and pipelineSearchVO.creator != null and pipelineSearchVO.manager == null and pipelineSearchVO.executor == null">
                <include refid="creatorSql"/>
            </when>
            <otherwise>
                <include refid="manageSql"/>
            </otherwise>
        </choose>
      ORDER By  #{sort}
    </select>

    <sql id="sqlparamEnvId">
        <if test='pipelineSearchVO!=null and pipelineSearchVO.envId!= null'>
            JOIN devops_pipeline_stage dps ON dps.pipeline_id = dp.id
            JOIN devops_pipeline_task dpt ON dpt.stage_id = dps.id
            JOIN devops_pipeline_app_service_deploy dpad ON dpad.id = dpt.app_service_deploy_id
            AND dpad.env_id=#{pipelineSearchVO.envId}
        </if>
    </sql>

    <sql id="sqlparamTriggerType">
        <if test='pipelineSearchVO!=null and pipelineSearchVO.triggerType != null and pipelineSearchVO.triggerType!=""'>
            AND dp.trigger_type='manual'
        </if>
    </sql>

    <sql id="baseSql">
        SELECT DISTINCT
        dp.id,
        dp.is_enabled,
        dp. NAME,
        dp.trigger_type,
        dp.created_by,
        dp.last_update_date,
        dp.object_version_number,
        EXISTS (
        SELECT
        1
        FROM
        devops_pipeline_user_rel dpur
        WHERE
        dpur.pipeline_id = dp.id
        AND dpur.user_id = #{userId}
        AND dp.is_enabled = 1
        ) AS EXECUTE
        FROM
        devops_pipeline dp
    </sql>

    <sql id="executorSql">
        <include refid="baseSql"/>
        JOIN devops_pipeline_user_rel dpur ON dpur.pipeline_id = dp.id
        AND dpur.user_id =#{userId}
        <include refid="sqlparamEnvId"/>
        WHERE
        dp.project_id = #{projectId}
        <include refid="sqlparamTriggerType"/>
    </sql>

    <sql id="creatorSql">
        <include refid="baseSql"/>
        <include refid="sqlparamEnvId"/>
        WHERE
        dp.project_id = #{projectId}
        <include refid="sqlparamTriggerType"/>
        AND dp.created_by = #{userId}
    </sql>

    <sql id="manageSql">
        <include refid="baseSql"/>
        <include refid="sqlparamEnvId"/>
        WHERE
        dp.project_id = #{projectId}
        <include refid="sqlparamTriggerType"/>
    </sql>

</mapper>
