<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.devops.infra.mapper.PipelineTemplateMapper">

    <resultMap id="PipelineTemplateVOMap" type="io.choerodon.devops.api.vo.PipelineTemplateVO">
        <id column="pipeline_id" property="id"/>
        <id column="pipeline_name" property="name"/>
        <id column="pipeline_source_type" property="sourceType"/>
        <id column="pipeline_source_id" property="sourceId"/>
        <id column="built_in" property="builtIn"/>
        <id column="ci_template_category_id" property="ciTemplateCategoryId"/>
        <id column="enable" property="enable"/>
        <id column="version_name" property="versionName"/>
        <id column="pipeline_image" property="image"/>
        <collection property="ciTemplateStageVOList" ofType="io.choerodon.devops.api.vo.template.CiTemplateStageVO">
            <id column="stage_id" property="id"/>
            <id column="stage_name" property="name"/>
            <id column="pipeline_template_id" property="pipelineTemplateId"/>
            <collection property="ciTemplateJobVOList" ofType="io.choerodon.devops.api.vo.template.CiTemplateJobVO">
                <id column="job_id" property="id"/>
                <id column="sequence" property="sequence"/>
                <id column="job_name" property="name"/>
                <id column="group_id" property="groupId"/>
                <id column="job_image" property="image"/>
                <id column="job_source_type" property="image"/>
                <id column="job_source_id" property="image"/>
                <id column="type" property="type"/>
                <id column="to_upload" property="toUpload"/>
                <id column="to_download" property="toDownload"/>
            </collection>
        </collection>
    </resultMap>

    <select id="listTemplateForProject" resultMap="PipelineTemplateVOMap">
        select dpt.id           as pipeline_id,
               dpt.name         as pipeline_name,
               dpt.source_type  as pipeline_source_type,
               dpt.source_id    as pipeline_source_id,
               dpt.built_in,
               dpt.ci_template_category_id,
               dpt.enable,
               dpt.version_name,
               dpt.image        as pipeline_image,
               dcts.id          as stage_id,
               dcts.name        as stage_name,
               dcts.pipeline_template_id,
               dctj.id          as job_id,
               dctj.name        as job_name,
               dctj.group_id,
               dctj.image       as job_image,
               dctj.source_type as job_source_type,
               dctj.source_id   as job_source_id,
               dctj.type,
               dctj.to_upload,
               dctj.to_download,
               dctsjr.sequence
        from devops_ci_template_pipeline dpt
                 left join devops_ci_template_stage dcts on dcts.pipeline_template_id = dpt.id
                 left join devops_ci_template_stage_job_rel dctsjr on dctsjr.ci_template_stage_id = dcts.id
                 left join devops_ci_template_job dctj on dctj.id = dctsjr.ci_template_job_id
        where dpt.enable = 1
          and ((dpt.source_type = 'site' and dpt.source_id = 0)
            or (dpt.source_type = 'organization' and dpt.source_id = #{organizationId})
            or ( dpt.source_type = 'project' and dpt.source_id = #{projectId} )
            )
        order by dpt.ci_template_category_id
    </select>
</mapper>

