<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.PipelineTaskRecordMapper">
    <select id="queryByStageRecordId" resultType="io.choerodon.devops.infra.dataobject.PipelineTaskRecordDO">
        SELECT
        dptr.id,
        dptr.`name`,
        dptr.is_countersigned,
        dptr.task_type,
        da.`name` AS appName,
        de.`name` AS envName,
        dav.version,
        dptr.application_id,
        dptr.app_deploy_id,
        dptr.env_id,
        dptr.instance_id,
        dptr.status,
        dptr.task_id,
        dptr.instance_name,
        dptr.task_type,
        (
        CASE
        WHEN dptr.instance_id IS NOT NULL
        AND dai. STATUS IS NULL THEN 'deleted'
        ELSE
        dai. STATUS
        END
        ) instanceStatus
        FROM
        devops_pipeline_task_record dptr
        LEFT JOIN devops_application da ON da.id = dptr.application_id
        LEFT JOIN devops_env de ON de.id = dptr.env_id
        LEFT JOIN devops_app_version dav ON dav.id = dptr.version_id
        LEFT JOIN devops_app_instance dai ON dai.id=dptr.instance_id
        WHERE dptr.stage_record_id = #{stageRecordId}
        <if test="taskId != null">
            AND dptr.task_id = #{taskId}
        </if>
    </select>

</mapper>
