<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.devops.infra.mapper.PipelineStageRecordMapper">
    <select id="listByOptions" resultType="io.choerodon.devops.infra.dto.PipelineStageRecordDTO">
        SELECT dpsr.id,
               dpsr.STATUS,
               dpsr.trigger_type,
               dpsr.stage_name,
               dpsr.last_update_date,
               dpsr.stage_id
        FROM devops_pipeline_stage_record dpsr
                WHERE
                dpsr.project_id = #{projectId}
        <if test="pipelineRecordId != null">
            AND dpsr.pipeline_record_id = #{pipelineRecordId}
        </if>
    </select>

    <select id="queryByPendingCheckStatus" resultType="io.choerodon.devops.infra.dto.PipelineStageRecordDTO">
        SELECT dpsr.id
        FROM devops_pipeline_stage_record dpsr
        WHERE dpsr.pipeline_record_id = #{pipelineRecordId}
          AND dpsr.`status` = 'pendingcheck'
    </select>

    <select id="listToBeAuditedByProjectIds"
            resultType="io.choerodon.devops.infra.dto.PipelineRecordDTO">
        SELECT dpr.id,
               dpr.pipeline_id,
               dpr.audit_user  AS record_audit,
               dpsr.audit_user AS stage_audit,
               dptr.audit_user AS task_audit,
               dpr.pipeline_name,
               dpr.project_id,
               dpsr.stage_name,
               dpsr.id         AS stageRecordId,
               dptr.id         AS taskRecordId
        FROM devops_pipeline_record dpr
                     JOIN devops_pipeline_stage_record dpsr ON dpsr.pipeline_record_id = dpr.id
                     JOIN devops_pipeline_task_record dptr ON dptr.stage_record_id = dpsr.id
                WHERE dpr.status = 'pendingcheck'
                  AND (dpsr.status='unexecuted' OR dptr.status='unexecuted')
                  AND dpr.project_id IN
        <foreach collection="projectIds" item="projectId" separator="," open="(" close=")">
            #{projectId}
        </foreach>
    </select>
</mapper>
