<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.devops.infra.mapper.ProjectDashboardCfgTargetMapper">

    <insert id="batchSave">
        insert into devops_project_dashboard_cfg_target(cfg_id, project_id)
        values
        <foreach collection="projectIds" item="item" separator=",">
            (#{cfgId},#{item})
        </foreach>
    </insert>
</mapper>

