<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.devops.infra.mapper.SonarAnalyseMeasureMapper">

    <insert id="batchSave">
        INSERT INTO devops_sonar_analyse_measure (record_id, metric, metric_value)
        VALUES
        <foreach collection="sonarAnalyseMeasureDTOS" item="item" separator=",">
            (#{recordId},#{item.metric},#{item.metricValue})
        </foreach>
    </insert>
    <select id="listAppLatestMeasures" resultType="io.choerodon.devops.infra.dto.SonarAnalyseMeasureDTO">
        select
        dsam.id,
        dsam.record_id,
        dsam.metric,
        dsam.metric_value
        from devops_sonar_analyse_measure dsam
        inner join (select max(id) as id from devops_sonar_analyse_record where project_id = #{projectId} group by
        app_service_id)
        temp on temp.id = dsam.record_id
        <if test="metricTypes != null">
            where dsam.metric in
            <foreach collection="metricTypes" item="metric" open="(" separator="," close=")">
                #{metric}
            </foreach>
        </if>
    </select>
</mapper>

