<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.devops.infra.mapper.SonarAnalyseUserRecordMapper">

    <insert id="batchSave">
        INSERT INTO devops_sonar_analyse_author_count (record_id, author, bug, vulnerability, code_smell)
        VALUES
        <foreach collection="sonarAnalyseUserRecordDTOList" item="item" separator=",">
            (#{recordId},
            #{item.author},
            #{item.bug},
            #{item.vulnerability},
            #{item.codeSmell})
        </foreach>
    </insert>
</mapper>

