<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.devops.infra.mapper.SonarAnalyseUserRecordMapper">

    <insert id="batchSave">
        INSERT INTO devops_sonar_analyse_issue_author (record_id, author, bug, vulnerability, code_smell)
        VALUES
        <foreach collection="sonarAnalyseIssueAuthorDTOList" item="item" separator=",">
            (#{recordId},
            #{item.author},
            #{item.bug},
            #{item.vulnerability},
            #{item.codeSmell})
        </foreach>
    </insert>
    <select id="listMemberIssue" resultType="io.choerodon.devops.api.vo.SonarAnalyseIssueAuthorVO">
        select dsaia.*
        from devops_sonar_analyse_issue_author dsaia
        where dsaia.record_id = (select max(id) from devops_sonar_analyse_record where app_service_id = #{appServiceId})
    </select>
    <select id="listMemberBugRank" resultType="io.choerodon.devops.api.vo.SonarAnalyseIssueAuthorRankVO">
        select dsaia.author, dsaia.bug as number
        from devops_sonar_analyse_issue_author dsaia
        where dsaia.record_id = (select max(id) from devops_sonar_analyse_record where app_service_id = #{appServiceId})
        order by dsaia.bug desc
    </select>
    <select id="listMemberVulnRank" resultType="io.choerodon.devops.api.vo.SonarAnalyseIssueAuthorRankVO">
        select dsaia.author, dsaia.vulnerability as number
        from devops_sonar_analyse_issue_author dsaia
        where dsaia.record_id = (select max(id) from devops_sonar_analyse_record where app_service_id = #{appServiceId})
        order by dsaia.vulnerability desc
    </select>
    <select id="listMemberCodeSmellRank" resultType="io.choerodon.devops.api.vo.SonarAnalyseIssueAuthorRankVO">
        select dsaia.author, dsaia.code_smell as number
        from devops_sonar_analyse_issue_author dsaia
        where dsaia.record_id = (select max(id) from devops_sonar_analyse_record where app_service_id = #{appServiceId})
        order by dsaia.code_smell desc
    </select>
</mapper>

