.c7n-ctf-create {

  .c7n-creation-ctf-title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;

    i {
      margin-left: 11px;
      font-size: 16px;
    }
  }

  .c7n-creation-add-title {
    margin-bottom: 20px;

    span {
      font-weight: 500;
    }

    i {
      margin-left: 11px;
    }
  }

  .c7n-certificate-radio {
    margin: 20px 0 10px 0;

    .c7n-radio-group {
      padding-top: 21px !important;
    }

    .c7n-radio-wrapper {
      margin-right: 59px;
    }
  }

  .c7n-env-tag-title {
    font-size: 14px;
  }
}
