.c7n-env-card {
  margin-right: 25px;
  width: 260px;
  cursor: move;
  height: 150px;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  border-radius: 2px;

  .c7n-env-card-action {
    display: none;
  }

  &:hover {
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

    .c7n-env-card-action {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: auto;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      button {
        overflow: visible;
        width: 24px;
        height: 24px;
        border: none;

        i {
          line-height: 1.5;
        }
      }
    }
  }
}

.c7n-env-card-ban {
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  color: rgba(0, 0, 0, 0.26);

  &:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;

    .c7n-env-card-action {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: auto;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      button {
        overflow: visible;
        width: 24px;
        height: 24px;
        border: none;
      }
    }
  }
}

.c7n-env-card-dragging {
  margin-right: 25px;
  width: 260px;
  cursor: move;
  height: 150px;
  font-family: Roboto, sans-serif;
  border-radius: 2px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.04);
}

.c7n-env-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  //overflow-x: auto;
  white-space: nowrap;
  height: 194px;
  padding-left: 5px;
  //border-right: 22px solid #f3f3f3;
  //border-left: 22px solid #f3f3f3;
  //background-color: #f3f3f3;
  padding-top: 20px;
}

.c7n-env-board-ban {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 194px;
  //overflow-x: auto;
  white-space: nowrap;
  padding: 5px;
  //border-right: 22px solid white;
  //border-left: 22px solid white;
}

.c7n-env-square {
  display: inline-block;
  margin-right: 70px;
  width: 260px;
  height: 150px;

  .c7n-env-arrow {
    font-size: 30px;
    line-height: 150px;
    color: rgba(0, 0, 0, 0.54);
  }

  &:last-child .c7n-env-arrow {
    display: none;
  }
}

.c7n-env-card-header {
  padding: 0 16px;
  font-size: 18px;
  line-height: 48px;
  height: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  span {
    text-overflow: ellipsis;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
  }
}

.c7n-env-boardsquare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.04);
  position: relative;
  width: 100%;
  height: 100%;
}

.c7n-env-moveing {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
  background-color: rgba(140, 158, 255, 0.16);
}

.c7n-env-card-content {
  display: flex;
}

.c7n-env-des-wrap {
  margin: 12px 16px 12px 0;

  .c7n-env-des {
    position: relative;
    height: 6em;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    width: 144px;
    word-break: break-all;
    white-space: normal;

    .c7n-env-des-head {
      color: rgba(0, 0, 0, .54);
    }
  }
}

.c7n-env-state {
  margin: 16px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  height: 68px;
  width: 68px;
  border: 6px solid;
  border-radius: 50%;

  &-running {
    color: #00bfa5;
  }

  &-failed {
    color: #f44336;
  }

  &-disconnect {
    color: #ff9915;
  }

  &-creating {
    color: #4d90fe;
  }

  &-unexecuted {
    border-color: rgba(211, 211, 211, 0.54);
    color: rgba(0, 0, 0, 0.54);
  }
}

.c7n-env-state-ban {
  color: rgba(0, 0, 0, 0.26);
  border-color: rgba(0, 0, 0, 0.26);
}

.c7n-env-token {
  margin-bottom: 24px;
}

.c7n-env-number {
  display: inline-block;
  width: 18px;
  vertical-align: top;
  margin-top: 14px;
  height: 18px;
  line-height: 16px;
  border-radius: 50%;
  border: 0.12em solid;
  margin-right: 5px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

.t-height {
  height: 235px !important;
}

.t-padding {
  padding-top: 16px;
}

.c7n-outer-container {
  overflow: hidden;
  position: relative;
  margin-bottom: 24px;
  height: 194px;

  .c7n-push-left,
  .c7n-push-right,
  .c7n-push-left-ban,
  .c7n-push-right-ban {
    display: none;
  }

  .c7n-push-none {
    display: none;
  }

  &:hover {
    .c7n-push-left {
      display: inline-block;
      height: 100px;
      position: absolute;
      width: 40px;
      background-color: rgba(0, 0, 0, 0.2);
      color: white;
      line-height: 100px;
      text-align: center;
      font-size: 38px;
      top: 47px;
      z-index: 999;
      cursor: pointer;
    }

    .c7n-push-right {
      display: inline-block;
      right: 0;
      height: 100px;
      position: absolute;
      width: 40px;
      background-color: rgba(0, 0, 0, 0.2);
      color: white;
      line-height: 100px;
      text-align: center;
      font-size: 38px;
      top: 47px;
      z-index: 999;
      cursor: pointer;
    }

    .c7n-push-left-ban {
      display: inline-block;
      height: 100px;
      position: absolute;
      width: 40px;
      background-color: rgba(0, 0, 0, 0.2);
      color: white;
      line-height: 100px;
      text-align: center;
      font-size: 38px;
      top: 25px;
      z-index: 999;
      cursor: pointer;
    }

    .c7n-push-right-ban {
      display: inline-block;
      right: 0;
      height: 100px;
      position: absolute;
      width: 40px;
      background-color: rgba(0, 0, 0, 0.2);
      color: white;
      line-height: 100px;
      text-align: center;
      font-size: 38px;
      top: 25px;
      z-index: 999;
      cursor: pointer;
    }
  }
}

.c7n-inner-container {
  border-right: 22px solid #f3f3f3;
  border-left: 22px solid #f3f3f3;
  background-color: #f3f3f3;
  overflow-x: scroll;
  overflow-y: hidden;
}

.c7n-inner-container-ban {
  border-right: 22px solid white;
  border-left: 22px solid white;
  background-color: white;
  overflow-x: scroll;
  overflow-y: hidden;
}

.c7n-env-copy {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

.c7n-env-shell-wrap {
  position: relative;
}

/* for Chrome */
.inner-container::-webkit-scrollbar {
  display: none;
}

.c7n-env-group-wrap {
  display: flex;
  background-color: #f3f3f3;
  font-size: 18px;
  padding-top: 20px;
  padding-left: 27px;

  .c7n-env-card-group {
    font-size: 18px;
    margin-right: 40px;
  }

  button {
    display: none;
  }

  &:hover {
    button {
      display: inline-block;
      width: 24px;
      height: 24px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.c7n-env-group-modal {
  .c7n-form-item {
    margin-bottom: 0;
  }

  .group-title {
    margin: 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 32px;
  }
}

.no-content-padding {
  margin: -20px -24px !important;
}

.c7n-env-modal-content {
  div {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 8px;
  }
}

.c7ncd-modal-title {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 8px;
}

.c7n-env-tag {
  line-height: 26px;
  height: 26px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  color: #000;
  margin-right: 12px;
  margin-bottom: 8px;
}

.c7n-env-tag-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;

  i {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.36);
    padding-left: 5px;
    height: 20px;
  }
}

.c7n-env-tag-wrap {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
}

.c7n-env-noTotal {
  .c7n-pagination-total-text {
    display: none;
  }
}

.c7ncd-env-spin {
  min-height: 98px;
  text-align: center;
  padding: 30px 50px;
}
