.c7n-store-content-wrap {
  flex-grow: 1;
  overflow: auto;
  padding: 20px 24px;
  margin: 0 !important;
}

.c7n-store-card-wrap {
  margin-bottom: 32px;
  padding: 32px;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.c7n-step-section_input {
  width: 512px;
}

.c7n-step-section-wrap {
  margin-top: 32px;
  margin-left: 36px;

  .c7n-step-section_name {
    margin: 10px 0;
  }

  .c7n-step-section {
    margin: 0 0 32px 0;

    p {
      margin-bottom: 16px !important;
      color: #000 !important;

      i {
        vertical-align: text-bottom;
        color: rgba(0, 0, 0, 0.65) !important;
        margin-right: 10px;
        font-size: 18px;
      }
    }

    .c7n-step-section-content {
      margin-left: 30px;

      .c7n-upload-list-item-info {
        padding: 0 12px 0 15px !important;
      }
    }

    .c7n-step-clear {
      color: #3f51b5;
    }

    .c7n-step-button {
      margin-right: 12px;
    }
  }

  p {
    color: rgba(0, 0, 0, .65) !important;
  }
}

// importChart

.c7n-step-section-upload {
  margin: 32px 0;
  width: 512px;
}

.c7n-step-radio {
  display: block;
  height: 30px;
  line-height: 30px;
}

.c7n-step-section-waring {
  margin: 0 5px 0 8px;
  color: #ffb100;
  vertical-align: text-bottom;
}

// export

.c7n-step-select {
  width: 512px !important;
  display: block;
}

.c7n-step-label {
  transform: scale(0.75);
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 4px;
  z-index: 1;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  pointer-events: none;
  -webkit-transition: color 400ms cubic-bezier(0.215, 0.61, 0.355, 1), background-color 400ms cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1), color 400ms cubic-bezier(0.215, 0.61, 0.355, 1), background-color 400ms cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.c7n-step-col-circle {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 100px;
  padding: 0 12px;
  margin: 0 5px 5px 5px;
  line-height: 20px;
  // border-radius: 2px;
  font-size: 10px;
  // width: 175px;
}

.c7n-step-table-column {
  height: 31px;
  overflow: hidden;
  padding: 6px 0;
}

.c7n-step-table-icon {
  font-size: 24px;
  color: #3f51b5;
  float: right;
}
